[2020-06-23 19:53] reviewer3 commented on #82
OK. I will try to do a review on this, but it will likely not come before Thursday.

[2020-06-23 19:54] kstolee commented on #112
Great work, all! Looks like we have a fast consensus.

@ManCla please cite the artifact in your paper by including the DOI in the references section.

[2020-06-23 19:57] shrBadihi commented on #63
Sorry if I was not clear.
I mean the Linux version and the version of JDK-8.

[2020-06-23 19:57] kstolee commented on #111
Thanks for the reviews!

@rufset do you have a response regarding reusability?

At minimum, there appears to be consensus that ```functional``` and ```available``` were earned. I'll tentatively apply those badged and request that @rufset cites the artifact in their paper by putting the DOI in the references.

[2020-06-23 20:01] HappyReviewer commented on #116
I think it's absolutely functional. I am still trying to determine whether the artifacts I've been asked to review in general are Reusable. My inclination is tending towards being more conservative about Reusable as: 1) being able to apply the artifact to other contexts (not just replication), or 2) whether the system is intended to be modified or extended in some way to support future work.

The

[2020-06-23 20:03] kstolee commented on #98
@z-sh We recommend that you improve the structure of the replication package and create a new DOI. That's perfectly acceptable, and we advise it. Keep in mind that other researchers who read your paper and want to view your artifact will not have knowledge of the submission process, so using the submission structure in your artifact doesn't make a lot of sense.

Regardless of what you decide, ther

[2020-06-23 20:07] reviewer3 commented on #63
Should I try on another machine with `openjdk version "1.8.0_252"`?

[2020-06-23 20:07] kstolee commented on #88
@ameyaKetkar are you able to create a DOI so we can assess the artifact for the ```available``` badge?

[2020-06-23 20:12] kstolee commented on #77
merged @152

[2020-06-23 20:14] shrBadihi commented on #63
Thank you for your time.
Yes, the tool requires Java Runtime Environment version 8.
Trying on another machine with the [original implementation](https://github.com/shrBadihi/ARDiff_Equiv_Checking) and following these steps should solve any problem.
[code]

[2020-06-23 20:14] YizhuoZhai commented on #77
@kstolee I've added the DOI to the latest README.md, please merge the PR #152, thanks : )
@fuzzy3456 I've released the software in Zenodo (https://zenodo.org/record/3905204#.XvJiqi2ZNQI) already and our GitHub repo is public here:
https://github.com/seclab-ucr/UBITect.git, could you tell me what I could do to get the Reusable badge?

[2020-06-23 20:15] HappyReviewer commented on #90
Now that I have a more holistic view of all the artifacts, I'd like the authors to help clarify the Reusable aspect of this submission. Neither of the reviewers (myself being one) explicitly evaluated this in our review. My view of the reusable aspect is that you can point this tool to arbitrary locations for analysis, and that the artifact is not just restricted to testing on a fixed set of sampl

[2020-06-23 20:20] HappyReviewer commented on #107
I'm revisiting the Reusable badge based on having a holistic view of all the artifacts. @vrthra, can you give me some more details on how you see this is a Reusable artifact? I can see this as being a reusable because the artifact allows for adding a new subject (in documentation, How to Add a New Subject), and there is appropriate documentation for how to do so. Are there other scenarios which ca

[2020-06-23 20:21] YizhuoZhai commented on #77
@allyourvirtualmachinesarebelongtous
I've placed the released software in Zenodo, this is for availability.
For reusable, I extended the last section of README.md and also put it here for your reference:
## Apply UBITect to OS kernels
This section shows how to reproduce the result in our paper.

### Step 1: Prepare LLVM bitcode files of OS kernels
[code]
Please diable the KSAN, KCOV and MODVERSION

[2020-06-23 20:22] HappyReviewer commented on #114
I have done a second pass on this to understand Reusable. I would argue for Reusable because of the IoTCheck Architecture documentation would allow others to build upon this framework. @rtrimana Do you have any other feedback on how Reusability is met?

[2020-06-23 20:25] HappyReviewer commented on #94
@ccadar For the moment I'd like to focus on the other dimensions beyond the documentation aspect.

I don't have the bandwidth to full review the full artifact, but can you tell me more about Reusability in terms of this benchmarking? Being able to do so is a useful scenario. Can you provide more details on if you think this submission could be reused by others for benchmarking or other purposes? W

[2020-06-23 20:29] reviewer3 commented on #95
* The (additional) creation of a Docker image will impede reuse?

Output

[code]

[code]

I then renamed this to a script that looks similar and actually exists in the repo, but wrong relative paths are still used.

[code]

[2020-06-23 20:41] YizhuoZhai commented on #77
Hi @fuzzy3456 :

It should be ok to run the installation if modifying **make -j8** in llvm/build-llvm/sh and all **make -j4** in Dockerfile into **make**.

Also, I was confused about 'repository of the tool is not public' , from my view, the Github repo is publicly accessible archival repository. But please correct me if that has some standard definitions in the artifact review.

[2020-06-23 20:48] rtrimana commented on #114
Thank you @HappyReviewer !

So, these are pretty much our arguments for reusability that we have put in https://github.com/researchart/fse20/blob/master/submissions/reusable/iotcheck/STATUS.md.

In practice, just to re-iterate:

1) The documentation has been written thoroughly with enough details to enable others to use this framework in future research (the provided [Wiki ](https://github.com/uci

[2020-06-23 20:56] HappyReviewer commented on #114
Thanks. I'm satisfied with the response so I'm still in favor of a Reusable badge for this submission.

[2020-06-23 20:59] kfriedberger commented on #95
The command line in the output is given from Benchexec when executed from within the directory `tools/CPAchecker-1.9-unix/`.
You can either switch into this directory or ignore this command line. Running the exiting script `scripts/generateTables.sh` which includes the given cmdline will produce the tables correctly.

[2020-06-23 21:01] reviewer3 commented on #63
Oh no :(

[code]

[2020-06-23 21:02] shrBadihi commented on #63
Did you run on RunningBenchmarksOnLinux.sh?

[2020-06-23 21:04] reviewer3 commented on #95
[code]

:(

[2020-06-23 21:04] reviewer3 commented on #63
Yes, of course

[2020-06-23 21:09] dah-fari7009 commented on #63
Hi @reviewer3,

This error was encountered before when I was running on Windows, and the fix was to copy tools.jar from the JDK to the JRE  as described in the first line of the README:

If using JDK 8, you might need to copy tools.jar from jdk_1.8../lib to jdk_1.8../jre/lib if absent.

However, we never encountered this problem when running on both Linux and Mac :(

[2020-06-23 21:15] kfriedberger commented on #95
BenchExec is using Python3. If you want to execute the table-generator yourself, please use pip3 to install tempita.

Or use the simpler way that also used in the provided script:
<pre>
export PYTHONPATH=$PYTHONPATH:../CPAchecker-1.9-unix/lib/python-benchmark/Tempita-0.5.2-py3-none-any.whl
</pre>

[2020-06-23 21:15] dah-fari7009 commented on #63
Follow-up: On Ubuntu, it should be under /usr/lib/jvm/default-java/lib

[2020-06-23 21:29] reviewer3 commented on #63
! So in contrast to what your Install.md lists ("Java Runtime Environment version 8 is required.") one actually needs the JDK. This comes with tools.jar. This is btw. the only Java version that comes with tools.jar (it was removed in version 9).

[2020-06-23 21:31] dah-fari7009 commented on #63
Sorry, it was our confusion. Thank you for letting us know, we will make to update the README

[2020-06-23 21:34] reviewer3 commented on #63
So now I am getting the z3 error despite
[code]
and invoking with the parameters to it.

[2020-06-23 21:37] reviewer3 commented on #95
Works. Would it be possible to include this in the Install.md/Readme (or write a Dockerfile that includes this to make reviewing easier)?

[2020-06-23 21:40] dah-fari7009 commented on #63
Hi,
LD_LIBRARY_PATH is an environment variable. Did you set it as such or as a local variable ?

[2020-06-23 21:42] RandomlyGeneratedReviewerAccount commented on #80
Hi Authors,

Thanks for updating the documentation and the code on Zenodo. I do agree on the fact that the documentation appears well written and detailed.
Unfortunately, I still cannot run and replicate the results. The installation of the libraries and the environment goes well, without any errors or warnings, but the code itself fails for imports.
@kstolee , feel free to make the decision on th

[2020-06-23 21:46] kren1 commented on #94
This really depends what you mean by re-usability and it is therefore unfortunate that the official definition is so vague.

I can think of 3 options for "re-usability":

* Can someone pick a different benchmark, use the artefact and use it in a push a button way to have a full comparison with our evaluation? I would say no.
* On the other hand it should be quite easy to look how we run the benchm

[2020-06-23 22:18] HappyReviewer commented on #94
@kren1 Thanks. My personal feeling here is that there is really only on a small delta in documentation for this submission that would allow it to be argued for being Reusable. A tool like z3 comes to mind: it is of course "reusable", but you do you have to be a domain expert in certain technologies (and familiarity with SMT solvers) to be able to leverage it well.

A brief description for where so

[2020-06-23 22:28] HappyReviewer commented on #94
As one example look at #110. I feel like a similar argument could apply to this submission.

[2020-06-23 22:33] HappyReviewer commented on #94
Similarly, #117:

[2020-06-23 22:40] vaibhavbsharma commented on #82
I apologize for being slow in responding here.

Thank you, reviewers, for examining our artifact. Please find my responses as follows.
* Yes, we will create a DOI for our artifact and add it in a index.md file so that it satisfies the requirements for the Available badge.
* We will attempt to satisfy @AnonReviewer626's comments for a Reusable badge by improving the documentation overall. We will c

[2020-06-23 23:05] sumonbis commented on #80
Thanks for pointing that. I just found that you are running it on Docker and it looks like the issue is with the import path of utility Python files.

[This StackOverflow](https://stackoverflow.com/questions/49631146/how-do-you-add-a-path-to-pythonpath-in-a-dockerfile) post shows that for Docker, PATH has to be added as an environment variable. I will add that to the documentation.

[2020-06-23 23:13] ameyaKetkar commented on #88
oh! wow! I didn't see these reviews. I didn't get any email notification from Github. My apologies.
Yes, I will create a DOI for the artifacts.

[2020-06-23 23:51] timurbey commented on #90
@HappyReviewer The docker image reproduces the experiments described in the paper and the public repository presents a public API for profiling arbitrary applications to satisfy reusability. The `-v` flags are to provide access to `msr` for `jRAPL`.

I can add a verifying snippet for clarity.

[2020-06-24 00:31] mboehme commented on #96
Again, we thank the reviewers for their valuable time and constructive feedback, and we are happy to make the requested changes. However, we would also like to express our discomfort with the level of aggression in @AnonReviewer626's review and would appreciate a third and unencumbered review.

FuzzBench is entirely open-source. All experiments can be repeated by anyone, including the AEC. The exp

[2020-06-24 00:37] HappyReviewer commented on #90
Okay, thanks. I think that's fine. Given that there's a public API for arbitrary applications, I agree that it satisfies reusability. I'm okay with the docker image being just for reproducing the experiments.

[2020-06-24 07:06] abenkhadra commented on #110
We will do that. Many thanks again to all!

[2020-06-24 07:17] fuzzy3456 commented on #77
Hi @YizhuoZhai

I found the public repository (https://github.com/seclab-ucr/UBITect.git) after your response above. I was not aware of it before. Thanks.

I checked out the repository, and I try once more the installation after applying the mentioned modifications.

[2020-06-24 07:30] blind-reviewer-2 commented on #76
Hi @p1ndsvin ,

I hope that you don't feel that your efforts towards Open Science are not being noticed. I recognise that a lot of work has gone into this repository and that you clearly care about Open Science since you submitted. I apologise if my message came across any different. With that in mind, I hope you realise that my comments were very carefully worded and I mean exactly what I said.

[2020-06-24 08:30] GiovaniGuizzo commented on #124
@AnonReviewer626

Thanks 👍

No, the new programs do not need to use Maven. It is just a coincidence that all of them happen to be Maven projects. The command line interface of PIT used in this experiment does not use Maven. Should I still clarify it in the README?

That's very good to know. Thanks for suggesting.

Yes, I will update the tarball. The DOI stays the same (it holds versions of the art

[2020-06-24 09:00] YizhuoZhai commented on #77
@allyourvirtualmachinesarebelongtous

Thanks for your detailed comments. The Docker image is now available in https://zenodo.org/record/3905997#.XvMUKy2ZNQI. The source code is available in both [GitHub](https://github.com/seclab-ucr/UBITect) and [Zenodo](https://zenodo.org/record/3905204#.XvMUni2ZNQI).
The previous [comment](https://github.com/researchart/fse20/issues/77#issuecomment-648396977) s

[2020-06-24 09:52] vrthra commented on #107
Hi @HappyReviewer, thank you for the kind words in the review. Beyond the requirements of [ACM](https://www.acm.org/publications/policies/artifact-review-badging), we also wanted to make sure that our artifact can serve as the base for any one who wishes to investigate grammar mining or use it as a component in another pipeline (and hence, facilitate reuse in the sense of SE). In particular, we be

[2020-06-24 09:57] Alan-Cha commented on #68
@anon-eval @hopefully-anon I believe I have made all the request changes. To name some of the changes I've made:

* I described the dependencies in more detail in the `INSTALL.md`
* I added a reference to the GitHub repository
* I added a `requirements.txt` to install the Python packages in `measured-complexity/` where Python is used
* I have also added a script to install the Node modules in the

[2020-06-24 10:53] rufset commented on #111
Hi!
We are happy with the available and functional badges. The DOI is available as a footnote on page 3 but we will put it as a reference instead, as well as fix the other small problems identified (typos etc.)

[2020-06-24 11:09] gousiosg commented on #124
I 've tentatively applied the available badge. Let's see about the rest :-)

[2020-06-24 11:12] gousiosg commented on #117
It looks like all three badges can be applied on this artifact. Thanks @rac00n99 and @anon-review for your reviews and @mreif for your swift response.

[2020-06-24 11:20] gousiosg commented on #114
It looks like there is agreement on `available`; @reviewer3 would you grant `reusable` as well?

[2020-06-24 11:39] gousiosg commented on #108
@rangeetpan Would you be willing to follow the reviewer's advice and update your artifact to give it a shot for the `functional` badge or are you happy with just `available`?

[2020-06-24 11:45] gousiosg commented on #105
It looks like there is agreement in providing all badges. @letmecheckthat and @FSEArtifactReviewer835 thanks for guiding @fabriceyhc to update his artifact; @fabriceyhc well done!

[2020-06-24 11:48] gousiosg commented on #104
@jacobkrueger are you willing to update your artifact?

[2020-06-24 11:58] jacobkrueger commented on #104
Hey,

Yes, we will update the artifact (or potentially create a new due to Zenodo's policies).
- We can unfortunately not release the interview transcripts, but the quotations in the paper are representative of most interviews. Moreover, we asked directly for scales regarding cost and cost factors, so the transcripts for those parts mostly comprise values exactly as defined in the datasets.
- The

[2020-06-24 12:33] fuzzy3456 commented on #77
Hi @YizhuoZhai,

I have checked out the GitHub repository of UBITect (https://github.com/seclab-ucr/UBITect.git) and executed `docker build --tag ubitect:1.0 .`. Even though the istallation seems to work, I got the following error at the end:

[code]

I am running Docker on a 6-core Mac OS X. I see that in `llvm/build-llvm/sh` and `Dockerfile` committed to the GitHub repository, there is just `mak

[2020-06-24 12:41] allyourvirtualmachinesarebelongtous commented on #77
Hi @YizhuoZhai, I provided an edit for my review and recommended Available and Reusable.
Thank you for your response and all your hard work.

[2020-06-24 13:02] gousiosg commented on #94
@kren1 I 'd say that the ACM definition is vague, because reusability is also vague. I agree with @HappyReviewer though; it would be nice to add a piece of documentation on how to make your artifact reusable.

[2020-06-24 13:03] gousiosg commented on #93
@mrigger Great work with the artifact (and the actual paper :-))

[2020-06-24 13:26] anon-eval commented on #109
@kstolee The scripts are exercisable if the artifacts in consideration is only the data used in the paper. I would agree with @art-reviewer that available and functional badge could be awarded but with a caveat that *"Artifacts include datasets, tool is excluded."*

[2020-06-24 13:30] muesbeck commented on #116
I'm working on making the documentation more clear with regards to 1) what can be done with the artifact and 2) how to do it (including version numbers and a pretty much one command execution of the data analysis) and 3) by adding a file with the raw analysis results in case the execution does not work.

With regards to HappyReviewer's interpretation, I do think it can be repurposed rather well. T

[2020-06-24 13:32] p1ndsvin commented on #76
Dear reviewers (@blind-reviewer-2  @fuzzy3456 ),

I gladly and thankfully accepted your advice of using the Docker image you suggested. I encountered the same errors you reported and I fixed the requirements.py file and the command list to make it work. In the following, I provide the updated list of commands:

[code]

If it works for you, I will propose a pull request to fix the readme and requir

[2020-06-24 13:40] gousiosg commented on #84
@allyourvirtualmachinesarebelongtous  Does the artifact satisfy the requirements for `available` now?

@art-reviewer Given @allyourvirtualmachinesarebelongtous 's review, would you consider `reusable` as well?

[2020-06-24 13:42] gousiosg commented on #83
Provisionally applied `available`. @reviewer3 let me know if you agree, so that we can close this.

[2020-06-24 13:54] gousiosg commented on #81
@AnonReviewer626 would you reconsider the `reusable` badge after all the updates?

[2020-06-24 13:55] gousiosg commented on #79
Looks like all three badges can be awarded, excellent work @bhermann

[2020-06-24 14:35] gousiosg commented on #77
Applying 2 badges for now; @fuzzy3456 would you also recommend Reusable?

[2020-06-24 14:42] ameyaKetkar commented on #88
DOI for Dataset: [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.3906503.svg)](https://doi.org/10.5281/zenodo.3906503)

DOI for TypeChangeMiner: [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.3906493.svg)](https://doi.org/10.5281/zenodo.3906493)

DOI for SimpleTypeChangeMiner: [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.3906491.svg)](https://doi.org/10.5281/zenodo.3906491)

[2020-06-24 14:42] rangeetpan commented on #108
Hi @gousiosg ,

I apologize for the delay. I will be updating a version of the code by tomorrow.

[2020-06-24 14:50] gousiosg commented on #69
Applying all badges; looks like there is agreement between the reviewers. @carminevassallo nice job!

[2020-06-24 14:56] fuzzy3456 commented on #77
@gousiosg I would recommend **Available** and **Functional**; _not_ **Reusable** for now. This recommendation is based on my experience with UBITect. Again, I appreciate the hard work of the authors.

[2020-06-24 15:12] gousiosg commented on #96
@mboehme Thanks for your comments. The main point I don't have a clear interpretation of is whether non peer reviewed work constitutes a proper replication. There is indeed no mention about this in the [ACM artifact budging guide](https://www.acm.org/publications/policies/artifact-review-badging)

We will discuss this with @kstolee and let you know. I 'd recommend doing the remaining changes reque

[2020-06-24 15:31] Jacob-yen commented on #119
Hi @kstolee @RandomlyGeneratedReviewerAccount ,
Thanks again for reviewing our artifact. After checking the provided error message, I noticed that it was caused by the missing installation of `pillow` (a python third-party library). However, in our provided `README.md`, we did list the installation step for this library. We believe that our artifact could run successfully if following our provided

[2020-06-24 16:59] HappyReviewer commented on #116
Okay, given @muesbeck's response, I support giving this artifact the Reusable badge. The badges seem to be more biased towards conventional systems/tools, but the argument here is a reasonable one and makes sense for this type of research.

[2020-06-24 17:20] kstolee commented on #96
@mboehme As @gousiosg points out, in the ACM guidelines. there is no mention of whether non-peer reviewed work can be a proper replication. So we checked with the publisher on the Replicated and Reproduced badges.

[Our call](https://2020.esec-fse.org/track/esecfse-2020-artifacts) specifies _"If you are an author of prior SE work (published at FSE or elsewhere) and the main results of the paper ha

[2020-06-24 17:37] fabriceyhc commented on #105
Thank you everyone!

[2020-06-24 18:31] kstolee commented on #123
@joymallyac please make sure you cite your artifact using the DOI in the References section of your paper. Thanks!

[2020-06-24 18:33] joymallyac commented on #123
@kstolee I will do that. Thanks for the wonderful review process.

[2020-06-24 18:38] kstolee commented on #116
@muesbeck the DOI is good - I just missed it!

@anonReviewer10000 give the second review and updates from the authors, what is your recommendation regarding functional/reusable?

[2020-06-24 18:43] kstolee commented on #68
We seem to have agreement on ```available``` and ```functional```.

@hopefully-anon after the updates, are you able to recommend ```reusable``` like @anon-eval ?

[2020-06-24 18:47] kstolee commented on #67
It looks like we have a DOI and can recommend ```available```.

@BobbyRBruce are you able to respond to the suggestions from @mathsandmusic so the artifact can be fully evaluated by both reviewers?

[2020-06-24 18:49] kstolee commented on #66
There seems to be consensus on ```available``` and I'm happy to see the new DOI.

@letmecheckthat are you able to make a recommendation yet regarding the ```functional``` badge?

[2020-06-24 18:51] kstolee commented on #64
Thanks everyone!

@rahlk be sure to cite your artifact using the DOI in the references section. It seems all three badges were earned. 👍

[2020-06-24 18:54] BobbyRBruce commented on #67
@Kstolee: Yes. I shall incorporate @mathsandmusic 's suggestions today.

[2020-06-24 18:58] anonReviewer10000 commented on #116
I agree that this artifact now deserves the Reusable badge.

[2020-06-24 19:10] RandomlyGeneratedReviewerAccount commented on #119
Hi Authors,

Thanks for investigating the issue.
You are correct, the problem was related to those missing libraries.
Note that the documentation is currently not precise, and following it step-by-step leads to those missing dependencies. Let me explain.

In Step 1 you suggest to clone the repository in the /your/local/path/ folder.
In Step 2 we create the container where the /data/ folder points

[2020-06-24 19:47] letmecheckthat commented on #66
Thanks, can confirm that the code is runnable, although the reliance on (severely out-dated) tools like MinGW made it a rather tedious experience. It might be helpful to write every step out in more detail; for instance, provide links to the specific versions of MinGW, MSYS, Cmake; their typical destinations, and common failure modes (e.g., I had to copy two DLLs to the folder containing `IDT4Inv.

[2020-06-24 20:05] reviewer3 commented on #83
With the changes, I am fine to grant available and then close this issue.

[2020-06-24 20:07] reviewer3 commented on #114
I am considering it. I still have to do some checks on the generated data (follows tomorrow).

[2020-06-24 20:11] reviewer3 commented on #63
It is now running.

[2020-06-24 20:24] shrBadihi commented on #63
Great, I'm glad to hear it's working now :)
We will address all these issues in the readme.
Thank you for your time.

[2020-06-25 00:04] mboehme commented on #96
Dear @gousiosg, @kstolee, and anonymous reviewers: Thank you for your kind consideration. We will make the requested changes.

[2020-06-25 00:31] YizhuoZhai commented on #77
Hi @fuzzy3456:

I tried in a 6 core MacBook with 32 GB memory, seems it is not powerful enough to compile the code with Dockerfile and ends up with "OOM". I did not meet the exact [case](https://github.com/researchart/fse20/issues/77#issuecomment-648792024) as you posted, but it seems related to space problem.

[2020-06-25 04:11] art-reviewer commented on #84
I do **not** recommend the _Reusable_ badge.

The authors explained the engineering challenges in faithfully exercising complex commands in a virtual machine from an external execution harness. Despite such challenges, their work has derived _lessons_ for designing better software tutorials, which are cited to benefit users of the tool as well as users of re-designed tutorials.

My difficulty is i

[2020-06-25 06:53] fuzzy3456 commented on #77
@YizhuoZhai Thanks for checking that and all your effort!

[2020-06-25 08:51] allyourvirtualmachinesarebelongtous commented on #88
@ameyaKetkar I uploaded the exception log here
[artifact_419_exception.log](https://github.com/researchart/fse20/files/4830130/artifact_419_exception.log)

[2020-06-25 12:42] kstolee commented on #116
@muesbeck you've earned three badges, congratulations! Please cite your artifact in your paper using the DOI in the references.

[2020-06-25 12:52] kstolee commented on #66
@xurongchen please cite your artifact using the DOI in the references section of your paper.

I also suggest you follow the suggestions by @letmecheckthat on providing more details on every step in the process. There is a lot of wisdom in this discussion that would be helpful to the next person who tries to run your code.

[2020-06-25 12:58] kstolee commented on #119
Excellent news! Thanks for the reviews and discussion, @RandomlyGeneratedReviewerAccount and @AEreviewer .

@Jacob-yen please cite your artifact using the DOI in the references section of your paper. I also suggest that you update your documentation and/or docker container as suggested by @RandomlyGeneratedReviewerAccount  to make it easier for future users of your artifact.

[2020-06-25 13:27] AnonReviewer626 commented on #89
@chenqingrong Thank you for the changes, I have reviewed them.

My major concerns have been addressed. I am now willing to grant **available, functional, reusable**.

The missing images help a lot in understanding your approach and the additional examples look good. I was able to run the HDFS example and it took 15 minutes on my Macbook Pro.

However, I have several recommendations that would impr

[2020-06-25 13:47] AnonReviewer626 commented on #124
The authors have addressed all of my concerns. I recommend the **available, functional, reusable** badges. Nice work, @GiovaniGuizzo!

I believe @AEreviewer said "I am happy with the changes" earlier, so @gousiosg looks like this one is ready.

[2020-06-25 13:47] muesbeck commented on #116
Thank you all! Will do! Once the documentation update is done, I'll update the DOI repository as well and then finally cite the new DOI in the paper 👍

[2020-06-25 14:21] AnonReviewer626 commented on #81
@sooyoungcha Thank you for all of the changes. Looks good.

I am happy to recommend **available, functional, and reusable** badges.

@gousiosg Since @anon-review also recommended those badges, I think we are all set.

[2020-06-25 14:24] kstolee commented on #81
Thanks everyone!

@sooyoungcha please be sure to cite your artifact using the DOI in the references for your paper. Congratulations!

[2020-06-25 14:32] sooyoungcha commented on #81
@AnonReviewer626 and @anon-review

Thank you for all the valuable comments!

[2020-06-25 14:41] Jacob-yen commented on #119
Hi @kstolee @AEreviewer @RandomlyGeneratedReviewerAccount
Thanks so much for your efforts and constructive suggestions about our artifact! I will further refine our documents and docker container according to the suggestions as soon as possible :-)

[2020-06-25 14:56] bhermann commented on #79
Thank you all very much! We are grateful for the extraordinary work the reviewer put into the reviews.  We will of course address the three comments for the final version of the artifact.

[2020-06-25 15:35] GiovaniGuizzo commented on #124
I will create the pull request to merge the branches, and then I will upload the new package right away.
Thank you very much for evaluating my artifact. It is sure a better one now.
Cheers!

[2020-06-25 16:06] ameyaKetkar commented on #88
I think this exception gets thrown when the gremlin-server is not up.
To start the server did u use the command  ./gremlin-server.sh **console**
The server does not start without passing that argument **console**.

[2020-06-25 17:12] reviewer3 commented on #114
I am ok to grant a reusable badge. Due to the vagrant image, and its extensive documentation, this replication package is among the best I have seen for ESEC/FSE.

I still do this with a bit of a bad gut feeling -- the process of reproducing results and linking them to the paper should be much easier. I was able to confirm parts of the purely descriptive Table 1 (e.g., camera) and Table 6 (number

[2020-06-25 17:37] rtrimana commented on #114
Thank you @reviewer3 and @HappyReviewer .
Thank you so much for the feedback that could help improve this artifact in the future.

[2020-06-25 17:41] chenqingrong commented on #89
@AnonReviewer626
Thanks for your detailed reviews!

Already add them into the README (PR #156)

I already provide a script `demo.sh` which will put the result at that place. Please pull the latest codes to try that.

I do not create a new file for this demo. I just restrict the function name which will be analyzed under the demo mode as shown in [code](https://github.com/xlab-uiuc/cdep-fse/blob/04

[2020-06-25 18:13] reviewer3 commented on #95
Documented: ✔️ A virtual image (or Vagrant file ...) would make it easier to set this up. A few installation steps seem to be missing (see above).
Consistent: ✔️
I was able to re-produce the results of the paper for number of proofs and bugs (called correct true and correct false).
![Screenshot from 2020-06-25 19-58-39](https://user-images.githubusercontent.com/66686234/85775664-43a5d780-b720-11ea

[2020-06-25 18:33] kstolee commented on #114
Thanks so much for your time and attention on these reviews, @reviewer3 and @HappyReviewer

@rtrimana please cite your artifact using the DOI in the references section of your paper. Congratulations!

[2020-06-25 18:38] rtrimana commented on #114
Thank you so much @kstolee ! We will do the citation accordingly in the paper.

[2020-06-25 18:45] BobbyRBruce commented on #67
I've updated the artifact in accordance to your feedback. It should be easier to install. I've integrated @hopefully-anon 's suggested `pom.xml` changes and made the README's clearer regarding the Vagrant VM and how to compile JShrink correctly.

The pull request is here: https://github.com/researchart/fse20/pull/157 (note: the artifact at the DOI link has also been updated).

[2020-06-25 19:15] anon-eval commented on #89
@chenqingrong Thank you for making these updates. I would also recommend the `reusable` badge.

[2020-06-25 19:37] reviewer3 commented on #63
Documented: ✔️ A virtual image would make it easier to set this up. A few installation steps seem to be missing (see above).
Consistent: ✔️
I was able to re-produce the results at large, at least in the ballpark of what is reported in the paper. I did a random check on the results reported for `airy, tsafe, and gap` for DSE, IMP-S and ARDiff in Table 2. Instructions for how and where to find these

[2020-06-25 19:42] kfriedberger commented on #95
Table 1 in the paper shows (as described in section 5.2) `the CPU time (in seconds, with three significant digits) needed by the verifiers for all correctly solved verification tasks`. From your screenshot above (third row: `correct results`), the numbers are quite similar, and there is no `factor of 10`. Please note that the configuration `sv-comp` corresponds to `value+predicate` (this is also d

[2020-06-25 19:43] kstolee commented on #63
@reviewer3 thanks for your efforts on this!

@hopefully-anon do you have thoughts on ```functional``` for this artifact?

[2020-06-25 19:45] reviewer3 commented on #95
I do not want to imply fraud

...

[2020-06-25 19:45] kstolee commented on #89
Thanks all for your involvement with the review process!

@chenqingrong be sure to cite your artifact using the DOI in the references section of your paper, and congratulations!

[2020-06-25 21:00] chenqingrong commented on #89
@AnonReviewer626 @anon-eval @kstolee
Thank you all for the review process and thanks for all the precious suggestions:)

[2020-06-25 21:14] reviewer3 commented on #82
- If the authors follow above suggestion (which they have not done yet), AVAILABLE could be granted.

- INSTALL instructions are complete and easy to follow. Special kudos for being able to build the software locally.

I have now been running ` cd src/examples/veritesting/tcas/ && ./runTCAS-JR.sh && cd ../../../..` (and `cd src/examples/veritesting/wbs/ && ./runWBS-SPF.sh && cd ../../../..`) for o

[2020-06-26 02:10] vaibhavbsharma commented on #82
Thanks, reviewers, for your feedback thus far. We've submitted [another pull request](https://github.com/researchart/fse20/pull/158) to satisfy the concerns raised by @AnonReviewer626 in regards to the Functional and Reusable badges. Our changes are as follows:
* We've created a DOI for Java Ranger and added it to a newly created INDEX.md file in the artifact submission.
* We've changed README.md

[2020-06-26 04:38] rangeetpan commented on #108
Hi @letmecheckthat ,

1) Updated the install statement.
2) Updated the name of the libraries.
3) The path problem seems like OS related. I am running the scripts in the Mac OS, where the path separators are "/", whereas for Windows, is it "\". Can you please suggest what should be the way around here.
Sorry for the delay, I apologize for the inconvenience caused. Also, the updated code is in the [

[2020-06-26 09:43] gousiosg commented on #109
I applied `available`; @anon-eval and @art-reviewer please try to reach a decision on whether `functional` is also suitable.

[2020-06-26 09:46] gousiosg commented on #108
@letmecheckthat are you happy with the changes? Can you recommend `functional` now?

[2020-06-26 09:49] reviewer3 commented on #82
Thank you for making these profound changes, @vaibhavbsharma!

Documented: ✔️ Java doc is very extensive.
Consistent: ✔️
I created a (partial) results CSV and mapped the results to the results in the paper (Table 2 and Table 4). They are qualitatively very similar for the run times and identical for quantitative results on number of execution paths, for the results I was able to check (WPS, parts

[2020-06-26 09:49] gousiosg commented on #104
Hi, so when are the reviewers going to receive the update? The decisions will be made on Jul 1rst and they will need some time for their assessment.

[2020-06-26 09:50] gousiosg commented on #103
@itsreallyhotoutside @mathsandmusic  any updates on your part? Please note that we need to have your full recommendations by Jul 1

[2020-06-26 09:52] gousiosg commented on #100
@alexkamp Can you please reply to @seartifact? We need to make decisions by Jul 1 and the reviewers need some time to finalise their reviews as well.

[2020-06-26 09:52] gousiosg commented on #96
Thanks, @mboehme! Just make sure you do your changes in time; we need to make decisions by Jul 1 and the reviewers need some time to finalise their reviews as well.

[2020-06-26 09:56] gousiosg commented on #95
Applying `functional` and `available`. Thanks for the elaborate discussion. @kfriedberger please update the artifact to fix the script.

[2020-06-26 09:57] gousiosg commented on #94
@kren1 @ccadar Are you willing to go for `reusable`? If yes, please apply the recommended changes. Just make sure you do them in time; we need to make decisions by Jul 1 and the reviewers need some time to finalise their reviews as well.

[2020-06-26 09:59] gousiosg commented on #91
@Jethro85 Please make sure you do the required changes in time; we need to make decisions by Jul 1 and the reviewers need some time to finalise their reviews as well.

[2020-06-26 10:00] gousiosg commented on #84
@allyourvirtualmachinesarebelongtous can you please elaborate on whether `available` can be awarded?

@art-reviewer ok, then `functional` it is :-)

[2020-06-26 10:04] gousiosg commented on #82
Applying `available` and `functional`

@AnonReviewer626 do you agree with @reviewer3 on `reusable`?

[2020-06-26 10:08] gousiosg commented on #80
Applying `available`.

@RandomlyGeneratedReviewerAccount does the artifact work for you now?

@rac00n99 and @RandomlyGeneratedReviewerAccount would you recommend any badge other than `available`?

@all Please make sure you finish your reviews in time; we need to make decisions by Jul 1rst/

[2020-06-26 10:10] gousiosg commented on #77
Marking this review as done; @YizhuoZhai if you plan to fix the memory issue, please make sure you do the required changes in time.

[2020-06-26 10:41] DNNTesting commented on #91
Thanks for your remind @gousiosg .

Hello reviewers @FSEArtifactReviewer835  and @RandomlyGeneratedReviewerAccount ,

I have submitted a new pull request for our new version's code #159

We made several changes to satisfy requirements raised by @RandomlyGeneratedReviewerAccount :
       1. Documentation has been updated with the latest changes. We update the 'requirements.txt' and also provide the

[2020-06-26 11:33] gousiosg commented on #67
@mathsandmusic can you please revaluate the artifact as soon as possible?

[2020-06-26 11:38] gousiosg commented on #76
Applying `available` for now. @blind-reviewer-2 @fuzzy3456 Can you please evaluate the artifact again and comment whether it can also receive `functional`?

[2020-06-26 11:40] gousiosg commented on #75
@seartifact @softwareArtifactsEvaluator Can you please comment on the author's changes again? Do it as soon as possible, as we need to make decisions by Jul 1

[2020-06-26 12:14] jacobkrueger commented on #104
I committed the changes into our fork. Includes updates on the dataset from the interviews is now complete (the entries were duplicated (apparently we had a copy-paste error here), the mapping of paper data to figure 4, and provide a short example of the process to construct figure 4 in the readme.
Please tell me if something is still unclear or missing.

[2020-06-26 13:20] AnonReviewer626 commented on #82
@gousiosg
I have reviewed the changes. I now recommend **reusable** as well.

@vaibhavbsharma I have several additional suggestions for improvement for you.

-------

My primary concerns for `reusable` were:

1. Improving the documentation in a few specific areas, and

2. Telling users enough information to *extend* it as needed.

## Improving documentation

- The artifact README clarifies that th

[2020-06-26 13:39] fuzzy3456 commented on #76
@gousiosg I can try the code once more today.

[2020-06-26 13:58] fuzzy3456 commented on #76
@p1ndsvin Thanks for the Dockerfile. I think I need two clarifications before executing the Dockerfile:

1. Do you mean `requirements.txt` instead of `requirements.py`?

2. Where is the `requirements` file that you have updated? Have you updated the repository? Could you possibly post the file (`requirements.txt`) here?

Thanks

[2020-06-26 14:14] p1ndsvin commented on #76
@fuzzy3456

1. Yes, I am sorry for the typo. I edited my previous comment.
2. The updated requirements file is currently on the local copy of the fse20 repository, which is cloned with the command
[code]
its content is the following:
[code]

[2020-06-26 15:05] kstolee commented on #63
Thanks everyone! Authors, please cite your artifact using the DOI in the references section of your paper. Congratulations!

[2020-06-26 15:09] kstolee commented on #82
Great, thanks all!

@vaibhavbsharma please cite your artifact using the DOI in the references. We also recommend you improve the documentation as requested by @AnonReviewer626 .

[2020-06-26 15:20] a-hopefully-friendly-reviewer commented on #68
Thank you @Alan-Cha for the improvements in the _review rebuttal_ (#154), I can recommend `reusable`

[2020-06-26 15:22] hopefully-anon commented on #68
Thank you @Alan-Cha for the improvements in the _review rebuttal_ (#154), I can recommend `reusable`

[2020-06-26 15:45] letmecheckthat commented on #108
@gousiosg @rangeetpan Can confirm that this now works; I ran it on Linux instead and it was smooth sailing. Regarding the path problem, I would cautiously suggest that it isn't an OS issue, since Windows treats "/" as a valid path delimiters as well. So still not sure what the issue was. But, since it works on Unix -- and it is a shell script after all -- it should be fine this way. Good to go for

[2020-06-26 16:03] GiovaniGuizzo commented on #124
The pull request is already merged and the updated package is already online at the designated DOI: https://doi.org/10.5522/04/11927208

Thanks everyone!

[2020-06-26 17:17] kstolee commented on #68
Marking this evaluation as done. Congratulations @Alan-Cha !

[2020-06-26 18:05] kstolee commented on #108
Applying ```available``` for now.

@fuzzy3456 are you also able to support ```functional```?

[2020-06-26 18:46] RandomlyGeneratedReviewerAccount commented on #80
@sumonbis , which custom path should it point to? Please add these steps in the documentation if you want me to test again.

As I said before, I tried my best to replicate and run the tool, but please do feel free to make the decision on the label, also based on the feedback from @rac00n99 .

[2020-06-26 18:57] SteveZhangBit commented on #113
@kstolee I believe the link should work now. Thank you!

[2020-06-26 22:24] sumonbis commented on #80
Hi @RandomlyGeneratedReviewerAccount,
I have updated the code to fix the import issue. The Zenodo repo and Github source have been updated. Please test it again. Thanks.

[2020-06-26 22:27] shrBadihi commented on #63
Dear Reviewers,

Thank you for taking the time and effort to review our artifact.
We've collected and fixed all the comments.

Best regards,
The authors

[2020-06-26 22:32] FSEArtifactReviewer835 commented on #104
Okay, I've taken a look at the new submission on the fork.  The adjustments to the Literature Review data with labels really helps to follow it more clearer, and it looks like the Likert data is now present in your csv file.

There is small remaining point of confusion for me.  I was counting the new labels in the file to map to Figure 4, and there are 3 FD labels in the data but it's listed as 5

[2020-06-26 22:34] itsreallyhotoutside commented on #103
@zhangmx1997 I tried the boto proxy as well, unfortunately I have the same error. I deleted everything and did a fresh install and this has not worked either unfortunately.

[2020-06-26 22:37] itsreallyhotoutside commented on #88
@ameyaKetkar the server was running and did not crash. It appears that some data was written and then the entire process froze and did not complete, all the while the server was still running in the background. Unfortunately, that means that the process never completed a full run.

[2020-06-26 22:53] ameyaKetkar commented on #88
Aha! Sometimes when the commit is too large it takes time (upto 20mins) because it tries to resolve the type of each variable in the changed files. So it appears like things have frozen . Maybe you can just kill the process and go ahead with the next steps.

[2020-06-26 23:37] jacobkrueger commented on #104
Yes, sorry for that and thanks for pointing it out!

- The pdf did not compile correctly, I recompiled and the two missing FD entries are now in (platform, integration - the papers were talking about the efforts of developing and integrating reusable features).

- I am sorry for missing to mention that indeed, one TM value is not correctly assigned in figure 4. We accidentally added the -30% for c

[2020-06-27 02:34] art-reviewer commented on #109
**Available** and **Functional** badges are both applicable for the _included_ artifacts (data only).

The concern is with the _exclusions_. Readers expect to find and use the tools presented in a paper with these badges. With the current artifacts, this may be misleading.
So, either (1) no badges should be applied for uniformity.
OR (2) both badges may be applied with an explicit **data only** no

[2020-06-27 05:26] FSEArtifactReviewer835 commented on #91
Okay, I've had a chance to try running the results with the new setup.  My issues with the Table 2 and Table 3 results have been resolved and the scripts work for me.

I'm fine with the **Available** and **Functional** badges.

For **Reusable**, there's a few minor issues I'd like to see addressed.  The data set up is much easier than before - I used the link in the DOI.  However, I think you shou

[2020-06-27 06:19] RandomlyGeneratedReviewerAccount commented on #80
Hi Authors,

Thanks for the update.
I've tested the most recent code uploaded on Zenodo. The previous import error is solved.

Unfortunately, now the error is due to the failing installation of AIF360.
I tried to install it using the instructions in the documentation (downloading the github repo, etc..), and also using the basic installation you mentioned above (`pip install 'aif360[all]'`).

I'm

[2020-06-27 07:34] zhangmx1997 commented on #103
Then could you try on Linux (Debian)?

[2020-06-27 07:52] DNNTesting commented on #91
Hello @FSEArtifactReviewer835 ,

Thanks for your twice review and valuable suggestions. We revised the related file and submitted a new pull request: #162 .

We updated the README according to your new advice. Now, the DOI is the primary data source, and we deleted '-001, -002, -003' labels. Moreover, we mapped 'python' to 'python3' of the environment and updated the Docker on DockerHub. At the sa

[2020-06-27 11:52] alexkamp commented on #100
The error indicates that there is apt-get, but it is outdated. If you see this on a mac, it means that this command was running in one of the containers created by alhazen (or dbgbench).

The run.sh script belongs to dbgbench. It is supposed to create a docker container, and run some commands in the docker (which indeed is based on ubuntu). It will not try to run apt-get on the host. So there is n

[2020-06-27 13:21] kstolee commented on #113
Great @SteveZhangBit !

I'm applying ```reusable``` and ```functional``` to start.

@hopefully-anon and @anon-review can you please confirm whether or not you can now recommend ```available```?

[2020-06-27 17:07] hopefully-anon commented on #113
`available` confirmed by testing DOI link  [http://doi.org/10.1184/R1/12543308](http://doi.org/10.1184/R1/12543308)

[2020-06-27 18:55] sumonbis commented on #80
Hi @RandomlyGeneratedReviewerAccount,

Could you please try again with `pip install aif360 ` to install AIF360?

If this still does not work, I think that is because of CVXPY requirement. To install that,

On MacOS, you may first have to install the Xcode Command Line Tools if you
never have previously:

[code]

On Windows, you may need to download the [Microsoft C++ Build Tools for Visual
Studio

[2020-06-27 19:01] davidtr1037 commented on #94
@gousiosg We added the recommended changes in the pull request: https://github.com/researchart/fse20/pull/164.

[2020-06-27 21:29] anon-review commented on #113
`available` confirmed. Congrats to @SteveZhangBit et al.

[2020-06-27 23:30] RandomlyGeneratedReviewerAccount commented on #80
Hi @sumonbis ,

I reported my steps above, and it is clear that I'm testing on linux (ubuntu docker), neither MacOS nor Windows, so I'm not sure why you are reporting those steps.

The installation of cvspy fails. It appears to be a problem for the use PEP 517.
Here is the log:
[error-cvxpy.txt](https://github.com/researchart/fse20/files/4841426/error-cvxpy.txt)

I Installed aif360 successfully wi

[2020-06-27 23:51] sumonbis commented on #80
Now, the model is running. It has completed first two mitigation algorithms and failing for the third one and that is because of the incomplete installation of AIF360.

Could you try to install cvxpy again with `conda install -c conda-forge cvxpy ` and then try the complete installation of AIF360 with `pip install 'aif360[all]'`? Thanks for your time.

[2020-06-28 07:06] seartifact commented on #75
Hi,

Thank you for the updated artifacts. I downloaded the artifact from this [link](https://drive.google.com/file/d/1ahXfIro5ccCzAHfJG-vGzkjHMN8-4URU/view?usp=sharing).

## Functional
- I was able to set up the environment using the install.sh command which was provided by the authors.
- The artifact is well documented.
- Please note the file (experiments_results.py) referred to README.md is not

[2020-06-28 14:24] mathsandmusic commented on #67
@BobbyRBruce thank you for the updates.

I went for a clean Ubuntu 18.04 install and the process was straightforward. Everything went well. I can confirm that the artifact is also exercisable. The java programs and scripts run without problems. Finally, on my Ubuntu instance, the demo script took ~2 hours to finish. Thus, I find the artifact to be *functional*.

[2020-06-28 17:59] FSEArtifactReviewer835 commented on #91
I took at look at the README changes and docker update and it looks like it's all there.  I'm fine with **Reusable**.

[2020-06-28 18:50] softwareArtifactsEvaluator commented on #75
Thank you for addressing the previous comments!

I was able to use the virtual machine image and try running the scripts. I think this addition will make things easier if there are issues with setting up the environment.

Comments:
- As @seartifact mentioned `experiments_results.py` is not present in the artifacts (or inside the VM).
- I also agree that it would be helpful to know approximately ho

[2020-06-28 21:07] gousiosg commented on #113
Great work everybody!

[2020-06-28 21:08] gousiosg commented on #109
@anon-eval ?

[2020-06-28 21:11] gousiosg commented on #103
@zhangmx1997 The reviewer cannot try on all potential linux distributions until a working one is found.  Can you please specify the precise dependency?

[2020-06-28 21:12] gousiosg commented on #96
@AnonReviewer626 and @a-nice-reviewer can you please evaluate the new updates?

[2020-06-28 21:13] gousiosg commented on #94
Thanks! @HappyReviewer and @anon-review can you please evaluate the new updates as soon as possible?

[2020-06-28 21:15] gousiosg commented on #91
@RandomlyGeneratedReviewerAccount can you please verify whether the new updates can qualify this artifact for `reusable`?

[2020-06-28 21:19] mathsandmusic commented on #103
@zhangmx1997 I tried to perform the steps you indicate in the fix. However, step 7 fails and produces the following:

`Running hooks:  17% (13/75) mac_toolchain
________ running 'vpython src/build/mac_toolchain.py' in '/path/to/fse20/submissions/reusable/fse-594/chromium'
Skipping Mac toolchain installation for mac
Running hooks:  28% (21/75) gn_mac
________ running 'vpython src/third_party/depot_

[2020-06-28 21:55] HappyReviewer commented on #94
The official reviewers are actually @anon-review and @iamnotreviewer2.

[2020-06-28 22:09] SteveZhangBit commented on #113
Thank you ALL!

[2020-06-28 22:13] RandomlyGeneratedReviewerAccount commented on #91
I'm fine with @FSEArtifactReviewer835's assessment, and I recommend Available & Reusable.

[2020-06-28 22:39] anon-review commented on #94
With the changes in #164, I am comfortable granting the Reusable badge.

I note that not all the suggestions [in my earlier comment](https://github.com/researchart/fse20/issues/94#issuecomment-647631338) have been addressed, namely including estimated running times and suggested tweaks to reduce running times. But I think this is fine, since the changes help to facilitate _review_, not _reuse_.

C

[2020-06-28 22:53] RandomlyGeneratedReviewerAccount commented on #80
Hi @sumonbis ,

That worked. I was able to install the dependency and compute the fairness on several models.

Please, update the documentation with the installation commands, and also make sure to describe the output of the csv content, not only in relationship with the paper.

### Recommended Badge: Available & Reusable

[2020-06-28 23:31] sumonbis commented on #80
@RandomlyGeneratedReviewerAccount,

Great! Thanks. I have updated the documentation and pushed it to GitHub and Zenodo archive.

[2020-06-29 00:19] zhangmx1997 commented on #103
Distributor ID:	Debian
Description:	Debian GNU/Linux 9.11 (stretch)
Release:	9.11
Codename:	stretch

[2020-06-29 00:24] zhangmx1997 commented on #103
Please set `NO_AUTH_BOTO_CONFIG` to the path of your local http_proxy.boto file (instead of path_to_http_proxy.boto).
If there is still errors like `Failed to fetch file gs://chromium-gn/4c8c1f32cd7c08d3e217291bf35c4c97eb5b2c2c for src/buildtools/mac/gn`, please download it using `gsutil` as suggested in step 5.
Please also grant execute permission to `src/buildtools/mac/gn`.

[2020-06-29 03:42] Jethro85 commented on #91
@FSEArtifactReviewer835 @RandomlyGeneratedReviewerAccount Thanks for your patience and detailed review of this artifact.

[2020-06-29 04:04] xurongchen commented on #66
Thank you for your suggestion, I further updated the installation process (INSTALL.md), especially the installation information of MinGW. New PR: #166

[2020-06-29 04:58] anon-eval commented on #109
@gousiosg I'm sorry for the delay. I would prefer recommending the **available** and badge as I appreciate the data being publicly available with the results but since the tool is not present I do not think the paper warrants the **functional** badge.

[2020-06-29 06:06] davidtr1037 commented on #94
Thanks @anon-review, I just wanted to mention that we added the proposed changes in a previous pull request (https://github.com/researchart/fse20/pull/148).
There is a section _Timeout Settings_, and we also mentioned the estimated running times in the main section _Running The Experiments_ (under each experiment).

[2020-06-29 12:41] AnonReviewer626 commented on #96
Sorry, I did not receive a notification until I was tagged. I will take a look this morning.

[2020-06-29 13:07] kstolee commented on #76
Thanks for your involvement in this lengthy discussion! After the improvements it seems that ```functional``` is now appropriate for this artifact.

@p1ndsvin please be sure to update all the documentation and instructions based on the reviewer questions - future users of your artifacts will not have access to this discussion, and there's a lot of troubleshooting information that may be useful.

I

[2020-06-29 14:02] kstolee commented on #108
@fuzzy3456 not sure if you saw my question last week - we need to make decisions by July 1. Thanks!

[2020-06-29 14:05] kstolee commented on #104
Sorry for the add/remove label.

@jacobkrueger can you make the requested change so @FSEArtifactReviewer835 can make a final determination on ```available```?

@itsreallyhotoutside are you able to assess this artifact for ```available```?

[2020-06-29 14:08] kstolee commented on #91
Thanks everyone! Applying ```reusable```. We'll consider this evaluation done.

[2020-06-29 14:11] kstolee commented on #88
@itsreallyhotoutside and @allyourvirtualmachinesarebelongtous thanks for your work. We need to make badge decisions by July 1.

1. Now that there's a DOI, can you make decisions on ```available```?
1. Beyond that, are you still not able to exercise the artifact?

[2020-06-29 14:14] kstolee commented on #84
I checked the DOI and it appears to be ```available```.

Applying ```available``` and considering this evaluation done. @allyourvirtualmachinesarebelongtous if you have follow up comments, or disagree with this choice, please add a comment here.

[2020-06-29 14:15] jacobkrueger commented on #104
Hey, if I did not miss anything, I changed our repository according to the comments, I just have to update Zenodo if the dataset is now hopefully complete

[2020-06-29 14:20] kstolee commented on #80
Thanks for all the work. @rac00n99 are you in agreement on ```reusable```?

[2020-06-29 14:26] kstolee commented on #75
Applying ```functional``` for now.

@yamizi are you able to address the requests by @softwareArtifactsEvaluator to achieve ```reusable```? Importantly, are the artifacts from the Google drive also in the zenodo DOI so we can apply the ```available``` badge as well?

[2020-06-29 14:28] kstolee commented on #67
Great, thanks everyone! Applying ```functional``` and then it appears the evaluation of this artifact is complete.

[2020-06-29 14:32] kstolee commented on #103
Applying ```available``` for now. We need to make a decision on the others by July 1.

[2020-06-29 14:36] kstolee commented on #100
@seartifact and @rac00n99 there is a new DOI; can you confirm the ```available``` badge is appropriate: https://doi.org/10.5281/zenodo.3902142

We'll see if the updates help achieve the others.

[2020-06-29 14:45] AnonReviewer626 commented on #96
@gousiosg @kstolee

1. I now recommend **Available**. The DOI includes the source code.

2. I now recommend **Functional**. My concerns about dependencies and about the expected running time have been resolved. I have not run the analysis to completion, but the Google FuzzBench results indicate that Entropic is exercisable.

3. I now recommend **Reusable**. The updated README now clearly explains

[2020-06-29 14:59] anon-review commented on #94
Ah, sorry I missed that. Looks great!

[2020-06-29 15:15] a-nice-reviewer commented on #96
@gousiosg @kstolee

I recommend the available+functional+reusable badges. Regards.

[2020-06-29 16:10] kstolee commented on #94
@iamnotreviewer2 can you comment on whether ```reusable``` is appropriate here?

[2020-06-29 16:12] kstolee commented on #96
Thanks @a-nice-reviewer and @AnonReviewer626 for your speedy responses!  We'll consider this evaluation complete.

[2020-06-29 16:31] zhangmx1997 commented on #103
If it's still allowed to provide some extra files, here is the compiled binary.
MacOS: https://drive.google.com/file/d/1Yw6vG6loT2nM6D6I2qI1Q6QXaEnSlH2u/view?usp=sharing
Debian: https://drive.google.com/file/d/1oISJS6TDtlsZ94SY3nZMFO8mD-MItOcA/view?usp=sharing

Run on MacOS:
`$ cd Release/Chromium.app/Contents/MacOS/`
`$ ./Chromium --no-sandbox`

Run on Debian:
`$ cd ReleaseTest`
`$ ./chrome --no-

[2020-06-29 20:37] maestro-fla commented on #109
Dear chairs and reviewers, thank you for the discussion. We don't mean to contest the opinions, but out of curiosity we would like to know what constitutes for a **functional** badge? Because if availability of the tool is one of the necessary requirements, then data repository artifacts, such as those of empirical study papers, may never qualify beyond the **available** badge. On a side note, in

[2020-06-29 21:03] itsreallyhotoutside commented on #88
I think that given the DOI the available badge is acceptable. I tried to run the tool again, this time for 6 hours. Again at step 3 the tool pauses and I did have to kill it. It does appear that the tool partially works on the files that it was able to find and analyze and generate HTML reports. However, the tool does not work end-to-end thereby precluding it be declared as functional.

[2020-06-29 23:16] ameyaKetkar commented on #88
@itsreallyhotoutside I have no clue why this is happening. I will investigate. It actually is simply getting stuck at some commit. If time permits you could try it on some other repository of your choice. To do so, you will have to add a project and its git url in the file `mavenProjectsAll.csv` for instance (`guava, https://github.com/google/guava.git`) and rerun from step 2.

[2020-06-29 23:20] itsreallyhotoutside commented on #103
@zhangmx1997 Thanks for the pre-built versions of chromium, that worked! I ran the scripts from the js folder that are included in the PR and I found a couple of issues:

- The multiarray numpy import might fail on a macos, to overcome this I had to create a virtual environment and ran the code the using PyCharm.
- The Chrome path is hardcoded in the collect_logs.py file and it appears to assume t

[2020-06-30 03:42] zhangmx1997 commented on #103
Thanks for the comments! I have updated the files and released the tool on Zenodo. Please check the latest pull request.

[2020-06-30 04:32] itsreallyhotoutside commented on #104
@jacobkrueger The data looks fine, thanks for clarifying the absence of the interview transcripts. I assume that the DOI that is on zenodo https://zenodo.org/record/3865916#.Xvq_7JPYqHE still has to be updated (or a new DOI is needed). Other than that everything looks good for the Available badge.

[2020-06-30 04:35] itsreallyhotoutside commented on #103
@zhangmx1997 Thanks for the changes, they all look good! I would be willing to sign off on awarding this artifact the available and functional badges.

[2020-06-30 04:42] itsreallyhotoutside commented on #88
@ameyaKetkar I ran the tool on google/guava (after removing guice) for 4 hours, and again I am stuck on step 3 and it appears to not move past a certain class.

[2020-06-30 07:49] gousiosg commented on #103
@mathsandmusic ?

[2020-06-30 07:52] gousiosg commented on #88
Applying `available`. @itsreallyhotoutside and @allyourvirtualmachinesarebelongtous  please advise if more badges can be applied by tonight (AoE).

[2020-06-30 08:37] mathsandmusic commented on #103
Thank you for the files. The compiled binary and the comments by @itsreallyhotoutside really came in handy and the artifact worked well! It's great that you have incorporated the changes in your descriptions too.

I am also willing to award both available and functional badges.

[2020-06-30 08:41] gousiosg commented on #103
Thanks everybody!

[2020-06-30 16:10] allyourvirtualmachinesarebelongtous commented on #88
Hi everyone, given that both @itsreallyhotoutside and I had issues with reproducing the results, I would say we should stick with `available` at this time.

[2020-06-30 16:38] seartifact commented on #100
Hi @kstolee,
The DOI looks good and the artifact is available.

[2020-06-30 18:23] kstolee commented on #100
Applying ```available```, will consider this evaluation complete.

@alexkamp be sure to cite your artifact using the DOI in the references section of your paper. Thanks!

[2020-06-30 18:33] kstolee commented on #109
The [ACM guidelines](https://www.acm.org/publications/policies/artifact-review-badging) state as a requirement for ```functional``` that:

It sounds like the tool is not able to be made available. However, with scripts to reproduce the results based on the data, consistency with the paper and exercisable can be checked, where exercisable is described as:

According to @art-reviewer, such scripts a

[2020-06-30 18:35] kstolee commented on #104
Applying ```available```. @jacobkrueger please be sure to cite your updated artifact using an updated DOI. Thanks everyone!

[2020-06-30 18:38] kstolee commented on #88
Alright. Decisions need to be made by tomorrow, and given the effort put in by the reviewers (Thanks @allyourvirtualmachinesarebelongtous and @itsreallyhotoutside !), we shall consider this evaluation complete.

@ameyaKetkar please be sure to cite your artifact using the DOI in the references section of your paper. Thanks!

[2020-06-30 19:17] ameyaKetkar commented on #88
@itsreallyhotoutside  @allyourvirtualmachinesarebelongtous  @kstolee  thanks a lot.

[2020-07-01 07:54] gousiosg commented on #109
I agree with @kstolee's analysis. Applying `available` and `functional`.

[2020-07-01 07:59] gousiosg commented on #94
@iamnotreviewer2 can you please let us know as soon as possible whether we can apply `reusable`? We will take it as a yes, except you argue otherwise.

[2020-07-01 08:13] gousiosg commented on #75
@yamizi Please let us know today whether you will do the required fixes to get the `available` and `reusable` badges

[2020-07-01 08:14] gousiosg commented on #80
@rac00n99 please let us know today. We will default to  `reusable` except if you argue otherwise.

[2020-07-01 13:00] fuzzy3456 commented on #108
@rangeetpan thanks for updating the installation instructions and providing representative examples.

I was indeed able to exercise the commands listed in the repository (https://github.com/rangeetpan/decomposeDNNintoModules/blob/master/INSTALL.md).

_Possible addition_: It could be mentioned in the installation (`INSTALL.md`) that the user should activate a `virtualenv` and, then, install all `re

[2020-07-01 13:23] kstolee commented on #108
Thanks all! Applying ```functional``` and will consider this evaluation done.

@rangeetpan be sure to update the instructions as suggested by the reviewers and then cite your artifact using the DOI in the references section of your paper.

[2020-07-01 16:08] iamnotreviewer2 commented on #94
Hello @gousiosg and @kstolee. I liked the documentation changes and I am comfortable with the Reusable badge as well.

[2020-07-01 16:14] kstolee commented on #94
Thanks everyone! I'm glad we can apply ```reusable``` for this excellent artifact.

[2020-07-01 16:27] maestro-fla commented on #109
Thank you very much, @kstolee and @gousiosg! We really appreciate the insightful analysis provided by @kstolee.

[2020-07-01 17:29] rac00n99 commented on #80
`@rac00n99 please let us know today. We will default to reusable except if you argue otherwise.`

Sorry for my delay, I agree with the reusable!

[2020-07-01 18:32] kstolee commented on #80
Applying ```reusable```, thanks everyone for your work on this!

[2020-07-01 19:09] kstolee commented on #75
I just saw the comment by @seartifact:

According to the Zenodo,

So, it seems like it was made available for review only (by necessity!). We'll go with ```functional``` and consider the evaluation done.

[2020-07-01 19:10] kstolee commented on #75
Thanks everyone for your time and efforts!

[2020-07-03 15:34] yamizi commented on #75
Thank you for the review and your feedback. Sorry I couldn't get back to you immediately (for medical reasons).

-The Zenodo DOI only contains the raw version, it would have changed if we updated the files.
-The analysis.py script is the one to display the results (instead of experiments_results.py)
-To run the experiments with the same parameters of the paper, it would indeed take longer on a vir

[2020-07-04 14:09] tamnguyencs commented on #78
Thanks to the reviewers @FSEArtifactReviewer835, @AEreviewer, and @kstolee for the reviews of the artifact. I haven't received the notification for the artifact (the FSE website indicates the notification date is Wednesday, July 01). Should I assume that the paper receives the **available** badge as the recommendation? I will make the requested changes regarding the questions from the reviewer. Th

[2020-07-07 14:17] SergioGarG commented on #120
Hi,

Do we need to do something else regarding the badges for the camera-ready version of the paper?

[2020-07-08 20:23] SergioGarG commented on #120
@kstolee?

[2020-07-14 17:23] kstolee commented on #120
@SergioGarG make sure you cite your artifact by putting the DOI in the references section. From there, the publisher takes care of actually placing the cute little badge circles.

[2020-07-14 17:27] kstolee commented on #78
@tamnguyencs yes, the "evaldone" label was supposed to be your notification, but I understand that could have been clearer. You received the ```available``` badge.

[2020-09-10 17:54] josepablocam commented on #118
@gousiosg are we supposed to add the badges to our camera-ready paper submission (if so, how should we go about this)? Or is that done on the publisher end?