[2020-05-25 16:22] ForeverZyh opened #2 "Submit to functional and reusable"
I find that functional and reusable are two levels of Artifacts Evaluated. (https://www.acm.org/publications/policies/artifact-review-badging)

To get a badge for Artifacts Evaluated, is it necessary to submit to both functional and reusable? Or it will be more appropriate to submit to only one of them and let the reviewers decide which badge the submission deserves?

[2020-06-03 15:02] kstolee commented on #2
It's possible to earn multiple badges, but it's easier for the committee if everything is in one place.

If you want to apply for N badges, then make N subdirectories. Put all the files in one, and point to the others from that one.

[2020-06-03 17:03] #2 closed

[2020-06-05 13:44] kstolee opened #62 "Paper#433: Exponential Cost of Fuzzing"
This issue is related to PR #61.

Authors are applying for the *Available* badge.

Author contact: @mboehme

[2020-06-05 13:50] kstolee opened #63 "Paper #674: ARDiff"
This issue is for PR #60

Authors applying for *Reusable* badge

Author contact @shrBadihi

[2020-06-05 13:55] kstolee opened #64 "Paper #406: MTFuzz"
This issue is related to PR #59

Authors are applying for the *Reusable* and *Functional* badges.

Author contact: @rahlk

[2020-06-05 13:59] kstolee opened #65 "Paper #168: Dynamically Reconfiguring Software Microbenchmarks"
This issue is related to PR #58

Authors are applying for the *reusable*, *functional*, and *available* badges.

Author contact: @chrstphlbr

[2020-06-05 14:02] kstolee opened #66 "Paper #633: Interval Counterexamples for Loop Invariant Learning"
This issue is related to PR #57

Authors are applying for the *functional* and *available* badges.

Author contact: @xurongchen

[2020-06-05 14:04] kstolee opened #67 "Paper 497: JShrink"
This issue is related to PR #56

Authors are applying for the  *functional* badge.

Author contact: @BobbyRBruce

[2020-06-05 14:06] kstolee opened #68 "Paper #24: A Principled Approach to GraphQL Query Cost Analysis"
This issue is related to PR #55

Authors are applying for the *reusable*, *functional*, and *available* badges.

Author contact: @Alan-Cha

[2020-06-05 14:11] kstolee opened #69 "Paper #310: Configuration Smells in Continuous Delivery Pipelines"
This issue is related to PR #54

Authors are applying for the *reusable*, *functional*, and *available* badges.

Author contact: @carminevassallo

[2020-06-05 14:13] kstolee opened #74 "Paper #577: Borrowing Your Enemy's Arrows"
This issue is related to PR #53

Authors are applying for the *available* badge.

Author contact: @gaojun0816

[2020-06-05 14:27] kstolee opened #75 "Paper #508: Search-Based Adversarial Testing and Improvement of Constrained Credit Scoring Systems"
This issue is related to PR #51

Authors are applying for the *reusable* badge.

Author contact:@yamizi

[2020-06-05 14:29] kstolee opened #76 "Paper #441: Model-based Exploration of the Frontier of Behaviours for Deep Learning System Testing"
This issue is related to PR #50

Authors are applying for the *reusable*, *functional*, and *available* badges.

Author contact: @p1ndsvin

[2020-06-05 14:31] kstolee opened #77 "Paper #172: UBITect"
This issue is related to PR #49

Authors are applying for the *reusable* badge.

Author contact: @YizhuoZhai

[2020-06-05 14:32] kstolee opened #78 "Paper #190: Code Recommendation for Exception Handling"
This issue is for discussion related to PR #48

Authors are applying for the *available* badge.

Author contact: @tamnguyencs

[2020-06-05 14:36] kstolee opened #79 "Paper #970: Community Expectations for Research Artifacts and Evaluation Processes"
This issue is for discussion related to PR #47

Authors are applying for the *reusable* and *available* badges.

Author contact: @bhermann

[2020-06-05 14:37] kstolee opened #80 "Paper #260: Do the machine learning models on a crowd sourced platform exhibit bias?"
This issue is for discussion related to PR #46

Authors are applying for the *reusable*, *functional*, and *available* badges.

Author contact: @sumonbis

[2020-06-05 14:38] kstolee opened #81 "Paper #667: Making Symbolic Execution Promising by Learning Aggressive State-Pruning Strategy"
This issue is for discussion related to PR #45

Authors are applying for the *reusable*, *functional*, and *available* badges.

Author contact: @sooyoungcha

[2020-06-05 14:47] kstolee opened #82 "Paper 459: XYZ: Statically Summarizing Regions For Efficient Symbolic Execution Of Java"
This issue is for discussion related to PR #44

Authors are applying for the *reusable* badge.

Author contact: @vaibhavbsharma

[2020-06-05 14:51] kstolee opened #83 "Paper #454: DENAS: Automated Rule Generation by Knowledge Extraction from Neural Networks"
This issue is for discussion related to PR #43

Authors are applying for the *functional* badge

Author contact: @SeekingDream

[2020-06-05 14:53] kstolee opened #84 "Paper #277: Docable: Evaluating the Executability of Software Tutorials"
This issue is for discussion related to PR #42

Authors are applying for the *reusable*, *functional*, and *available* badges.

Author contact: @ssmirr

[2020-06-05 15:18] kstolee opened #85 "Paper #309: FrUITeR"
This issue is for discussion related to PR #41

Authors are applying for the *functional* and *available* badges.

Author contact: @felicitia

[2020-06-05 15:20] kstolee opened #87 "paper #609: eQual: Informing Early Design Decisions"
This issue is for discussion related to PR #40

Author contact: @arman2

[2020-06-05 15:22] kstolee opened #88 "Paper 419: Understanding Type Changes in Java"
This issue is for discussion related to PR #39

Author contact: @ameyaKetkar

[2020-06-05 15:23] kstolee opened #89 "Paper #423 Understanding and Discovering Software Configuration Dependencies in Cloud and Datacenter Systems"
This issue is for discussion related to PR #38

Author contact: @chenquingrong

[2020-06-05 15:24] kstolee opened #90 "Paper #N: Calm Energy Accounting for Multi-Threaded Java Applications"
This issue is for discussion related to PR #37

Author contact: @timurbey

[2020-06-05 15:32] kstolee opened #91 "Paper #53: Correlations Between Deep Neural Network Model Coverage Criteria and Model Quality"
This issue is for discussion related to PR #36

Author contact: @DNNTesting

[2020-06-05 15:36] kstolee opened #92 "Paper 683: Evolutionary Improvement of Assertion Oracles"
This issue is for discussion related to PR #35

Author contact: @valerio-terragni

[2020-06-05 16:18] felicitia commented on #85
Just to clarify, we also apply for the available badge and have provided DOIs under 'available' folder. So three badges in total. :) Thank you!

[2020-06-05 16:27] kstolee opened #93 "Paper #M: Detecting Optimization Bugs in Database Engines via Non-Optimizing Reference Engine Construction"
This issue is for discussion related to PR #33

Author contact: @mrigger

[2020-06-05 16:28] kstolee commented on #93
# Authors

## Manuel Rigger

* Email: manuel.rigger@inf.ethz.ch
* GitHub ID: mrigger

## Zhendong Su

* Email: zhendong.su@inf.ethz.ch
* GitHub ID: zhendongsu

[2020-06-05 16:29] kstolee opened #94 "Paper 237"
This issue is for discussion related to PR #34

Author contact: @davidtr1037

[2020-06-05 16:30] kstolee opened #95 "Paper 384: Interprocedural BAM"
This issue is for discussion related to PR #32

Author contact: @kfriedberger

[2020-06-05 16:38] kstolee opened #96 "Paper #597: Boosting Fuzzer Efficiency: An Information Theoretic Perspective"
This issue is for discussion related to PR #31

Author contact: @Jiliac

[2020-06-05 16:40] kstolee opened #97 "paper 102"
This issue is for discussion related to PR #30

Author contact: @ziqi-zhang

[2020-06-05 16:41] kstolee opened #98 "paper#133 - Gender Bias in Code Review"
This issue is for discussion related to PR #29

Author contact: @z-sh

[2020-06-05 16:45] kstolee opened #100 "paper 176: When does my Program do this? Learning Circumstances of Software Behavior"
This issue is for discussion related to PR #28

Author contact: @alexkamp

[2020-06-05 16:46] kstolee opened #101 "paper #565 "Baital: An Adaptive Weighted Sampling Approach for Improved t-wise Coverage""
This issue is for discussion related to PR #27

Author contact: @edbaranov

[2020-06-05 16:46] kstolee opened #102 "Paper #422"
This issue is for discussion related to PR #26

Author contact: @kripa432

[2020-06-05 16:47] kstolee opened #103 "paper #594 "Detecting and Understanding JavaScript Global Identifier Conflicts on the Web""
This issue is for discussion related to PR  #25

Author contact: @zhangmx1997

[2020-06-05 16:48] kstolee opened #104 "paper (#170) "An Empirical Analysis of the Costs of Clone- and Platform-Oriented Software Reuse""
This issue is for discussion related to PR #24

Author contact: @jacobkreuger

[2020-06-05 16:54] kstolee commented on #62
## Contact
* Marcel Boehme (marcel.boehme@acm.org): https://mboehme.github.io
* Brandon Falk (bfalk@gamozolabs.com): http://www.gamozolabs.com/

[2020-06-05 16:56] kstolee commented on #63
Authors:
Corresponding Author: Sahar Badihi, Email: <shr.badihi@gmail.com>, GitHubID: <shrBadihi>
Faridah Akinotcho, Email: <faridath.akinotcho@gmail.com>
Yi Li, Email: <yi_li@ntu.edu.sg>
Julia Rubin, Email: <mjulia@ece.ubc.ca>

[2020-06-05 16:57] kstolee commented on #64
## Authors
Dongdong She: shrek.s@hotmail.com (corresponding author)
Rahul Krishna: i.m.ralk@gmail.com (corresponding author)

[2020-06-05 16:57] kstolee commented on #65
## Authors

| Name                              | Email                         | Github ID                                         |
| :-------------------------------- | :---------------------------- | :------------------------------------------------ |
| Christoph Laaber<sup>**\***</sup> | laaber@ifi.uzh.ch             | [chrstphlbr](https://github.com/chrstphlbr)       |
| Stefan Würsten

[2020-06-05 16:59] kstolee commented on #67
## Authors
* Bobby R. Bruce, UC Davis, bbruce@ucdavis.edu, <https://github.com/BobbyRBruce>
* Tianyi Zhang, Harvard, tianyi@g.harvard.edu, <https://github.com/tianyi-zhang>
* Jaspreet Arora, UCLA, jasa92@g.ucla.edu, <https://github.com/jay-ucla>
* Guoqing Harry Xu, UCLA, harryxu@cs.ucla.edu, <https://github.com/harrygxu>
* Miryung Kim, UCLA, miryung@cs.ucla.edu, <https://github.com/miryung>

[2020-06-05 17:00] kstolee commented on #68
# Authors

| Name | Email | GitHub|
|------|-------|-------|
| Alan Cha (corresponding author) | Alan.Cha1@ibm.com | https://github.com/Alan-Cha |
| Erik Wittern | erik.wittern@ibm.com | https://github.com/ErikWittern |
| Guillaume Baudart | guillaume.baudart@ibm.com | https://github.com/gbdrt |
| James C. Davis | davisjam@vt.edu | https://github.com/davisjam |
| Louis Mandel | lmandel@us.ibm.com

[2020-06-05 17:01] kstolee commented on #69
# Authors
Name  | E-mail | Github Account
------------- | ------------- | -------------
Carmine Vassallo<sup>**\***</sup>  | vassallo@ifi.uzh.ch | carminevassallo
Sebastian Proksch | s.proksch@tudelft.nl | proksch
Anna Jancso | anna.jancso@uzh.ch | Jancso
Harald C. Gall | gall@ifi.uzh.ch | hcgall
Massimiliano Di Penta | dipenta@unisannio.it | mdipenta

<sup>**\***</sup> Corresponding Author

[2020-06-05 17:01] kstolee commented on #74
| Name | Email | GitHub ID | |
|-------|:------|:------|:------|
| Jun Gao | jun.gao@uni.lu | gaojun0816 | corresponding |
| Li Li | li.li@monash.edu | lilicoding | |
| Pingfan Kong | pingfan.kong@uni.lu | | |
| Tegawendé F. Bissyandé | tegawende.bissyande@uni.lu | | |
| Jacques Klein | jacques.klein@uni.lu | | |

[2020-06-05 17:02] kstolee commented on #75
# Authors

## Author 1 (Corresponding Author)

Salah Ghamizi

E-mail: <salah.ghamizi@uni.lu>

GitHub: [yamizi](https://github.com/yamizi)

## Author 2

Thibault Simonetto

E-mail: <thibault.simonetto.001@student.uni.lu>

GitHub: [thibaultsmnt](https://github.com/thibaultsmnt)

## Author 3

Maxime Cordy

E-mail: <maxime.cordy@uni.lu>

GitHub: [maxcordy](https://github.com/maxcordy)

[2020-06-05 17:04] kstolee commented on #76
## Authors information ##

| name              | e-mail                   | github account   |  |
|-------------------|--------------------------|------------------|-----------------------|
| Vincenzo Riccio   | vincenzo.riccio@usi.ch  | p1ndsvin         |**corresponding author**    |
| Paolo Tonella     | paolo.tonella@usi.ch     | paolo-tonella    |                    |

[2020-06-05 17:06] kstolee commented on #78
# Authors

Tam The Nguyen, Phong Minh Vu, Tung Thanh Nguyen
Auburn University, Auburn, Alabama, United States

[2020-06-05 17:06] kstolee commented on #79
# Authors

| Name              | E-mail                                   | Github ID                               |
| ----------------- | ---------------------------------------- | --------------------------------------- |
| **_Ben Hermann_** | ben.hermann@upb.de                       | [bhermann](https://github.com/bhermann) |
| Stefan Winter     | sw@stefan-winter.net                     | [sw

[2020-06-05 17:06] kstolee commented on #80
# Authors
Sumon Biswas (sumon@iastate.edu) and Hridesh Rajan (hridesh@iastate.edu), Iowa State University.

[2020-06-05 17:08] kstolee commented on #82
# Author information
1. Vaibhav Sharma (corresponding author)
  - github id: vaibhavbsharma
  - email: vaibhav@umn.edu
2. Soha Hussein (corresponding author)
  - github id: sohah
  - email: soha@umn.edu
3. Michael W. Whalen (corresponding author)
  - github id: mwwhalen
  - email: mww@umn.edu
4. Stephen McCamant (corresponding author)
  - github id: smcc
  - email: mccamant@cs.umn.edu
5. Willem Vi

[2020-06-05 17:08] kstolee commented on #84
Authors: Samim Mirhosseini, Chris Parnin

[2020-06-05 17:09] kstolee commented on #85
## Authors

Yixue Zhao (Corresponding Author) <yixuezha@usc.edu> Github: https://github.com/felicitia

Justin Chen <justin.chen@columbia.edu> Github: https://github.com/justinbchen

Adriana Sejfia <sejfia@usc.edu> Github: https://github.com/asejfia

Marcelo Schmitt Laser <marcelo.laser@gmail.com> Github: https://github.com/MarceloLaser

Jie Zhang <jie.zhang@ucl.ac.uk>

Federica Sarro <f.sarro@ucl.

[2020-06-05 17:10] kstolee commented on #81
Authors: Sooyoung Cha and Hakjoo Oh

[2020-06-05 17:10] kstolee commented on #87
# Authors:

Arman Shahbazian | armansha@usc.edu | GitHub: arman2 | corresponding author

Suhrid Karthik | skarthik@usc.edu | GitHub: suhridk

Yuriy Brun | brun@cs.umass.edu | GitHub: brunyuriy

Nenad Medvidovic | neno@usc.edu | GitHub: nenadmedvidovic

[2020-06-05 17:10] kstolee commented on #88
# Authors

* Ameya Ketkar (Corresponding author)
	* `ketkara@oregonstate.edu`
	* GitHub Id: `ameyaKetkar`
* Nikolaos Tsantalis
	* `nikolaos.tsantalis@concordia.ca`
	* GitHub Id: `tsantalis`
* Danny Dig
	* `danny.Dig@colorado.edu`

[2020-06-05 17:11] kstolee commented on #89
# Authors:
Qingrong Chen (University of Illinois Urbana-Champaign)
Teng Wang (National University of Defense Technology)
Owolabi Legunsen (University of Illinois Urbana-Champaign)
Shanshan Li (National University of Defense Technology)
Tianyin Xu (University of Illinois Urbana-Champaign)

[2020-06-05 17:11] kstolee commented on #90
# Authors

Timur Ergin Babakol - tbabako1@binghamton.edu/timurbey

Anthony Canino - acanino1@binghamton.edu/acanino1

Yu David Liu - davidl@binghamton.edu

[2020-06-05 17:12] kstolee commented on #92
## Authors

Valerio Terragni (Università della Svizzera italiana)
Gunel Jahangirova (Università della Svizzera italiana)
Paolo Tonella (Università della Svizzera italiana)
Mauro Pezzè (Università della Svizzera italiana)

[2020-06-05 17:13] kstolee commented on #94
## Authors

- David Trabish - davivtra@post.tau.ac.il - @davidtr1037 (coresponding)
- Timotej Kapus - t.kapus@imperial.ac.uk - @kren1
- Noam Rinetzky - maon@cs.tau.ac.il - @rinetzky
- Cristian Cadar - c.cadar@imperial.ac.uk - @ccadar

[2020-06-05 17:13] kstolee commented on #95
## Authors

Name: Dirk Beyer (corresponding author)
Email: dirk.beyer@sosy-lab.org
GitHub: dbeyer

Name: Karlheinz Friedberger
Email: kfriedberger@gmail.com
GitHub: kfriedberger

Affiliation: LMU Munich, Germany

[2020-06-05 17:17] kstolee commented on #96
## Authors

- Marcel Böhme
    - mail: marcel.boehme@acm.org
    - GitHub ID: mboehme
- Valentin J.M. Manès
    - mail: valentinmanes@outlook.fr
    - GitHub ID: Jiliac
- Sang Kil Cha
    - mail: sangkilc@kaist.ac.kr
    - GitHub ID: sangkilc

[2020-06-05 17:19] kstolee commented on #100
## Authors:

| Name | Email | GitHub ID | Corresponding author |
| :--- | :---- | :-------- | :------------------- |
| Alexander Kampmann | alexander.kampmann@cispa.saarland | alexkamp | :heavy_check_mark: |
| Ezekiel Soremekun | ezekiel.soremekun@cispa.saarland | | |
| Nikolas Havrikov | nikolas.havrikov@cispa.saarland | | |
| Andreas Zeller | zeller@cispa.saarland | | |

[2020-06-05 17:20] kstolee commented on #101
## Authors

| Author  | Email | Github ID |
| ------- | ----- | --------- |
| Eduard Baranov | eduard.baranov@uclouvain.be (corresponding) | edbaranov |
| Axel Legay | axel.legay@uclouvain.be | axelucl |
| Kuldeep S. Meel | meel@comp.nus.edu.sg | kuldeepmeel |

[2020-06-05 17:20] kstolee commented on #102
## Authors

Kripa Shanker (corresponding author)
kripashanker@iisc.ac.in
Github: [kripa432](https://github.com/kripa432)

Arun Joseph
arunj@iisc.ac.in

Vinod Ganapathy
vg@iisc.ac.in

[2020-06-05 17:21] kstolee commented on #103
## Authors

## Mingxue Zhang (Corresponding Author)

Chinese University of Hong Kong

Email: mxzhang@cse.cuhk.edu.hk

GitHub: zhangmx1997

## Wei Meng

Chinese University of Hong Kong

Email: wei@cse.cuhk.edu.hk

GitHub: wei-meng

[2020-06-05 17:21] kstolee commented on #104
## Authors

| Author          | Mail                        | GitHub ID      | Corresponding |
|-----------------|-----------------------------|----------------|---------------|
| Jacob Krüger    | jkrueger@ovgu.de            | jacobkrueger   | Yes           |
| Thorsten Berger | thorsten.berger@chalmers.se | thorstenberger |               |

[2020-06-05 17:22] kstolee opened #105 "Paper #O: "Is Neuron Coverage a Meaningful Measure for Testing Deep Neural Networks?""
This issue is for discussion related to PR #23

Author contact: @fabrieceyhc

[2020-06-05 17:23] kstolee commented on #105
# Authors

| Author               | Email                 | GitHub Usename | GitHubID | Corresponding Author |
| -------------------- | --------------------- | -------------- | -------- | -------------------- |
| Fabrice Harel-Canada | fabricehc@cs.ucla.edu | fabriceyhc     | 4616809  | Yes                  |
| Lingxiao Wang        | lingxw@cs.ucla.edu    | leowang7267    | 24538462 |

[2020-06-05 17:24] kstolee opened #106 "Paper#525"
This issue is for discussion related to PR #22

Author contact: @liyistc

[2020-06-05 17:24] kstolee commented on #106
# Authors

| Names         | Emails                   | GitHub IDs     | corresponding author |
|---------------|--------------------------|----------------|----------------------|
| Ye Liu        | li0003ye@ntu.edu.sg      | Franklinliu    |                      |
| Yi Li         | yi_li@ntu.edu.sg         | liyistc        | *                    |
| Shang-Wei Lin | shang-wei.lin@ntu.edu.sg | shan

[2020-06-05 17:24] kstolee opened #107 "Paper #122: Mining Input Grammars"
This issue is for discussion related to PR #21

Author contact: @vhthra

[2020-06-05 17:25] kstolee commented on #107
| Name                          | Email                         | github id     |
|-------------------------------|-------------------------------|---------------|
| Rahul Gopinath (corresponding)| rahul.gopinath@cispa.saarland | vrthra        |
| Bjoern Mathis                 | bjoern.mathis@cispa.saarland  | bjrnmath      |
| Andreas Zeller                | zeller@cispa.saarland         | andrea

[2020-06-05 17:26] kstolee opened #108 "Paper #3"
This issue is for discussion related to PR #20

Author contact: @rangeetpan

[2020-06-05 17:26] kstolee commented on #108
## Authors

- Rangeet Pan
  - Email: rangeet@iastate.edu
  - GitHub id: [rangeetpan](https://github.com/rangeetpan)
- Hridesh Rajan
  - Email: hridesh@iastate.edu
  - GitHub id: [hridesh](https://github.com/hridesh)

All authors are corresponding authors.

[2020-06-05 17:31] kstolee opened #109 "paper #894 titled "Recommending Stack Overflow Posts for Fixing Runtime Exceptions using Failure Scenario Matching""
This issue is for discussion related to PR #19

Author contact: @maestro-fla

[2020-06-05 17:31] kstolee commented on #109
## Authors:

| Name | Email | GitHub ID | Corresponding author |
| :--- | :--- | :--- | :---: |
| Sonal Mahajan  | smahajan@fujitsu.com  | [maestro-fla](https://github.com/maestro-fla) | :heavy_check_mark: |
| Negarsadat Abolhassani  | abolhass@usc.edu  | [maestro-fla](https://github.com/maestro-fla) | |
| Mukul R. Prasad | mukul@fujitsu.com | [maestro-fla](https://github.com/maestro-fla) | |

[2020-06-05 17:32] kstolee opened #110 "Paper #P: Efficient Binary-Level Coverage Analysis"
This issue is for discussion related to PR #18

Author contact: @abenkhadra

[2020-06-05 17:33] kstolee opened #111 "paper #127"
This issue is for discussion related to PR #17

Author contact: @rufset

[2020-06-05 17:33] kstolee opened #112 "paper #Q: Testing Self-Adaptive Software with Probabilistic Guarantees on Performance Metrics"
This issue is for discussion related to PR #16

Author contact: @ManCla

[2020-06-05 17:34] kstolee commented on #112
## Authors

claudio.mandrioli@control.lth.se
github-id: ManCla (corresponding author)

maggio@cs.uni-saarland.de
github-id: martinamaggio

[2020-06-05 17:34] kstolee opened #113 "Paper #656"
This issue is for discussion related to PR #15

Author contact: @SteveZhangBit

[2020-06-05 17:35] kstolee commented on #113
# Authors
## Changjian Zhang

Carnegie Mellon University

Email: changjiz@andrew.cmu.edu

GitHub: https://github.com/SteveZhangBit

## David Garlan

Carnegie Mellon University

Email: garlan@cs.cmu.edu

GitHub:

## Eunsuk Kang (Corresponding Author)

Carnegie Mellon University

Email: eunsukk@andrew.cmu.edu

GitHub:

[2020-06-05 17:35] kstolee opened #114 "Paper #139"
This issue is for discussion related to PR #14

Author contact: @rtrimana

[2020-06-05 17:36] kstolee commented on #114
## Authors
| Name | Email Address | Github ID |
| --- | --- | --- |
| **Rahmadi Trimananda (main author)** | **rtrimana@uci.edu** | **rtrimana** |
| Seyed Amir Hossein Aqajari | amiraj.95@uci.edu | amiraj95 |
| Jason Chuang | chuangj6@uci.edu | - |
| Brian Demsky | bdemsky@uci.edu | bdemsky |
| Guoqing Harry Xu | harryxu@g.ucla.edu | harrygxu |
| Shan Lu | shanlu@uchicago.edu | - |

[2020-06-05 17:36] kstolee opened #115 "Paper 485"
This issue is for discussion related to PR #13

Author contact: @khouloudgaaloul

[2020-06-05 17:37] kstolee opened #116 "Paper #R: "A Randomized Controlled Trial on the Effects of EmbeddedComputer Language Switching""
This issue is for discussion related to PR #12

Author contact: @muesbeck

[2020-06-05 17:37] kstolee commented on #116
## Authors

* Merlin Drews (born Uesbeck), pmerlindrews@gmail.com, github: muesbeck
  (corresponding author)
* Cole Peterson, cole.scott.peterson@huskers.unl.edu github: clptrsn
* Bonita Sharif, bsharif@unl.edu, github: shbonita
* Andreas Stefik, stefika@gmail.com, github: andreas-stefik

[2020-06-05 17:38] kstolee opened #117 "Paper #918: "BlaSt: A Generic Framework for Collaborative Static Analyses"."
This issue is for discussion related to PR  #11

Author contact: @errt

[2020-06-05 17:38] kstolee commented on #117
## Authors

| Name				| E-Mail Address				| Github Id |
| ----------------- | ----------------------------- | --------- | ------------- |
| Dominik Helm		| helm@cs.tu-darmstadt.de		| errt		|				|
| Florian Kübler	| kuebler@cs.tu-darmstadt.de	|			| 				|
| Michael Reif		| reif@cs.tu-darmstadt.de		| mreif		| Corresponding	|
| Michael Eichberg	| mail@michael-eichberg.de		|			| 				|
| Mira Mezini		|

[2020-06-05 17:40] kstolee opened #118 "Paper #247"
This issue is for discussion related to PR #10

Author contact: @josepablocam

[2020-06-05 17:41] kstolee commented on #118
# Authors
- Name, email, github id
* José Pablo Cambronero, jcamsan@mit.edu (*corresponding*), josepablocam
* Jürgen Cito,  juergen.cito@tuwien.ac.at / jcito@mit.edu, citostyle
* Martin Rinard, rinard@csail.mit.edu, rinard

[2020-06-05 17:41] kstolee opened #119 "paper #759"
This issue is for discussion related to PR #9

Author contact: @Jacob-yen

[2020-06-05 17:41] kstolee commented on #119
## Authors information:

| Name          | Email Address          | **Github id** |
| ------------- | ---------------------- | ------------- |
| Zan Wang      | wangzan@tju.edu.cn     | tjuwangzan    |
| Ming Yan      | yanming@tju.edu.cn     | jacob-yen     |
| Junjie Chen * | junjiechen@tju.edu.cn  | JunjieChen    |
| Shuang Liu    | shuang.liu@tju.edu.cn  | AbigailLiu    |
| Dongdi Zhang  | zha

[2020-06-05 17:44] kstolee opened #120 "paper #542: Robotics Software Engineering:"
This issue is for discussion related to PR #8

Author contact: @SergioGarG

[2020-06-05 17:44] bigfatnoob commented on #66
## Authors:
Name	| Email	GitHub ID	Corresponding author
Rongchen Xu xrc19@mails.tsinghua.edu.cn @xurongchen ✔️

[2020-06-05 17:44] kstolee commented on #120
# Authors list
## Author 1 (corresponding author)
Sergio García
Email: sergio.garcia@gu.se
Github id: SergioGarG

## Author 2
Daniel Strüber
Email: d.strueber@cs.ru.nl
Github id: dstrueber

## Author 3
Davide Brugali
Email: davide.brugali@unibg.it
Github id: brugali

## Author 4
Thorsten Berger
Email: thorsten.berger@chalmers.se
Github id: thorstenberger

## Author 5
Patrizio Pelliccione
Email: pa

[2020-06-05 17:46] kstolee opened #121 "Paper #205: "Flexeme: Untangling Commits Using Lexical Flows""
This issue is for discussion related to PR #7

Author contact: @PPPI

[2020-06-05 17:46] kstolee commented on #121
The complete list of Author-University-GitHub ID pairs are as follows:
[code]

[2020-06-05 17:46] kstolee opened #122 "Paper 390"
This issue is for discussion related to PR #6

Author contact: @ForeverZyh

[2020-06-05 17:47] kstolee commented on #122
## Authors

| Name                                 | email              | Github id    |
| ------------------------------------ | ------------------ | ------------ |
| Yuhao Zhang (*corresponding author*) | yuhaoz@cs.wisc.edu | ForeverZyh   |
| Luyao Ren                            | rly@pku.edu.cn     | luyaor       |
| Liqian Chen                          | lqchen@nudt.edu.cn | lqchen       |
| Y

[2020-06-05 17:47] kstolee opened #123 "Paper 232: Fairway: SE Principles for Building Fairer Software"
This issue is for discussion related to PR #5

Author contact: @joymallyac

[2020-06-05 17:48] bigfatnoob commented on #66
@xurongchen : Can you post a comment with the names, emails, and GitHub IDs of the co-authors for your paper?

[2020-06-05 17:51] kstolee opened #124 "Paper 533: Cost Measures Matter for Mutation Testing Study Validity"
This issue is for discussion related to PR #4

Author contact: @GiovaniGuizzo

[2020-06-05 17:51] kstolee commented on #124
# Authors

## Author 1 (Corresponding Author)

Giovani Guizzo

E-mail: <g.guizzo@ucl.ac.uk>

GitHub: [GiovaniGuizzo](https://github.com/GiovaniGuizzo)

## Author 2

Federica Sarro

E-mail: <f.sarro@ucl.ac.uk>

GitHub: [fedsar](https://github.com/fedsar)

## Author 3

Mark Harman

E-mail: <m.harman@ucl.ac.uk>

GitHub: []()

[2020-06-05 17:52] kstolee opened #125 "paper #390"
This issue is for discussion related to PR #3

Author contact: @ForeverZyh

[2020-06-05 17:53] kstolee commented on #125
Duplicate of #122

[2020-06-05 17:53] #125 closed

[2020-06-05 17:53] kstolee commented on #122
Also PR #3

[2020-06-05 17:57] bigfatnoob commented on #110
## Authors:
|  Name | Email | GitHub ID | Corresponding author |
| ------- | ------| ---------- | --------------------- |
| M. Ammar Ben Khadra | khadra@eit.uni-kl.de| @abenkhadra|✔️ |
| Dominik Stoffel | | | |
|Wolfgang Kunz| | | |

[2020-06-05 17:59] bigfatnoob commented on #110
@abenkhadra: Can you post a comment with
* the names, emails, and GitHub IDs of the co-authors for your paper.
* the FSE paper# for your submission

[2020-06-05 18:08] bigfatnoob commented on #111
## Authors:
|  Name | Email | GitHub ID | Corresponding author |
| ------- | ------| ---------- | --------------------- |
| Linda Erlenhov | linda.erlenhov@chalmers.se| @rufset|✔️ |
| Francisco Gomes de Oliveira Neto | francisco.gomes@cse.gu.se| fgoneto | |
| Philipp Leitner |philipp.leitner@chalmers.se |xLeitix | |

[2020-06-05 18:12] bigfatnoob commented on #115
## Authors:
|  Name | Email | GitHub ID | Corresponding author |
| --- | --- | --- | --- |
| Khouloud Gaaloul| khouloud.gaaloul@uni.lu| @khouloudgaaloul | ✔️  |
| Claudio Menghi | claudio.menghi@uni.lu | claudiomenghi | |
| Shiva Nejati | shiva.nejati@uni.lu |  shivanejati | |
| Lionel Briand | lionel.briand@uni.lu | lionelbriand |

[2020-06-05 18:33] bigfatnoob commented on #91
## Authors:
|  Name | Email | GitHub ID | Corresponding author |
| ------- | ------| ---------- | --------------------- |
| Shenao Yan| shenao.yan@rutgers.edu|  @DNNTesting , @Jethro85 |✔️ |

[2020-06-05 18:33] bigfatnoob commented on #91
@DNNTesting , @Jethro85: Can you post a comment with the names, emails, and GitHub IDs of the co-authors for your paper?

[2020-06-05 19:11] DNNTesting commented on #91
Authors list
Author 1 (corresponding author)
Shenao Yan
Email: shenao.yan@rutgers.edu
Github id: DNNTesting (https://github.com/DNNTesting), Jethro85 (https://github.com/Jethro85)

Author 2
Guanhong Tao
Email: taog@purdue.edu
Github id: Gwinhen (https://github.com/Gwinhen)

Author 3
Xuwei Liu
Email: liu2598@purdue.edu
Github id: shellwayxw (https://github.com/shellwayxw)

Author 4
Juan Zhai
Email:

[2020-06-05 19:12] DNNTesting commented on #91
Authors list
Author 1 (corresponding author)
Shenao Yan
Email: shenao.yan@rutgers.edu
Github id: DNNTesting (https://github.com/DNNTesting), Jethro85 (https://github.com/Jethro85)

Author 2
Guanhong Tao
Email: taog@purdue.edu
Github id: Gwinhen (https://github.com/Gwinhen)

Author 3
Xuwei Liu
Email: liu2598@purdue.edu
Github id: shellwayxw (https://github.com/shellwayxw)

Author 4
Juan Zhai
Email:

[2020-06-05 19:16] bigfatnoob commented on #77
## Authors:
|  Name | Email | GitHub ID | Corresponding author |
| ------- | ------| ---------- | --------------------- |
| Yizhuo Zhai| | @YizhuoZhai|✔️ |
| Yu Hao | | |
| Hang Zhang | | |
| Daimeng Wang | | |
| Chengyu Song | | |
| Zhiyun Qian | | |
| Mohsen Lesani | | |
| Srikanth V. Krishnamurthy | | |
| Paul Yu | | |

[2020-06-05 19:30] bigfatnoob commented on #83
## Authors:
|  Name | Email | GitHub ID | Corresponding author |
| ------- | ------| ---------- | --------------------- |
| Simin Chen | SXC180080@utdallas.edu | @DENAS-GLOBAL | ✔️ |
| Soroush Bateni |||
| Sampath Grandhi |||
| Xiaodi Li |||
| Cong Liu |||
| Wei Yang |||

[2020-06-05 19:46] bigfatnoob commented on #97
@ziqi-zhang: Can you post a comment with the names, emails, and GitHub IDs of the co-authors for your paper?

[2020-06-05 19:53] bigfatnoob commented on #98
## Authors
|  Name | Email | GitHub ID | Corresponding author |
| ------- | ------| ---------- | --------------------- |
| Yu Huang ||||
| Kevin Leach  ||||
| Zohreh Sharafi || @z-sh| ✔️ |
| Nicholas McKay||||
| Tyler Santander||||
| Wes Weimer||||

[2020-06-05 20:00] bigfatnoob commented on #123
## Authors:
|  Name | Email | GitHub ID | Corresponding author |
| ------- | ------| ---------- | --------------------- |
| Joymallya Chakraborty | jchakra@ncsu.edu | @joymallyac | ✔️ |
| Suvodeep Majumder | smajumd3@ncsu.edu |  | |
| Zhe Yu | zyu9@ncsu.edu | | |
| Tim Menzies | timm@ieee.org | timm | |

[2020-06-06 01:28] art-reviewer commented on #124
[Paper](https://github.com/GiovaniGuizzo/fse20/blob/1954700117e09f457b99047a3ce566f98c57df6b/submissions/reusable/fse-533/PAPER-ACCEPTED.pdf)

[2020-06-06 01:29] art-reviewer commented on #123
[Paper](https://figshare.com/articles/Fairway_A_Way_to_Build_Fair_ML_Software/12363347)

[2020-06-06 01:31] art-reviewer commented on #122
[Paper](https://github.com/ForeverZyh/fse20/blob/e756d1ba8fd44ce30ca67f31c61abc4a921e8785/submissions/reusable/YuhaoZhang_fse20main-p390-p/fse20main-p390-p_submission.pdf)

[2020-06-06 01:32] art-reviewer commented on #121
[Paper](https://github.com/PPPI/fse20/blob/642c35567e0af279889c068669ff8add9a106749/submissions/available/flexeme/fse20main-p205-p.pdf)

[2020-06-06 01:33] art-reviewer commented on #120
[Paper](https://github.com/SergioGarG/fse20/blob/a0d0082e94474b534b2beaec296d09a780dc7e38/submissions/functional/fse-542/esecfse2020-paper542.pdf)

[2020-06-06 01:34] art-reviewer commented on #119
[Paper](https://github.com/Jacob-yen/fse20/blob/cced21b62e05b9899daee45cd2bf3ede6a2cd936/submissions/reusable/MingYan_fse20main-paper759-p/esecfse2020-paper759.pdf)

[2020-06-06 01:35] art-reviewer commented on #118
[Paper](https://github.com/josepablocam/fse20/blob/833631c8b00621c11a3e6f963bf30190e07a158c/submissions/reusable/ams/ams.pdf)

[2020-06-06 01:35] art-reviewer commented on #117
[Paper](https://github.com/errt/fse20/blob/955dc622485236ca8068a70223ece559c6b6ee34/submissions/reusable/BlaSt/esecfse2020-paper918.pdf)

[2020-06-06 01:37] art-reviewer commented on #116
[Paper](https://github.com/muesbeck/fse20/blob/d4c28cadb16236d90fbd073c9775ea4f4864548b/submissions/reusable/uesbecketal/embedded-polyglot-NOT-CAMERA-READY.pdf)

[2020-06-06 01:38] art-reviewer commented on #115
[Paper](https://github.com/khouloudgaaloul/fse20/blob/6f9401791290ca701666e053d8dd879c46364abd/submissions/available/Epicurus/esecfse2020_accepted_paper.pdf)

[2020-06-06 01:39] art-reviewer commented on #114
[Paper](https://github.com/uci-plrg/fse20/blob/39a2392ea0f245381b25ad60049b6f3db3458d3a/submissions/reusable/iotcheck/esecfse2020-paper139.pdf)

[2020-06-06 01:39] art-reviewer commented on #113
[Paper](https://github.com/SteveZhangBit/fse20/blob/6da37f23a88c4f2b38e51b006eb8cd43c85bd716/submissions/reusable/FSE-656/esecfse2020-paper656.pdf)

[2020-06-06 01:40] art-reviewer commented on #112
[Paper](https://github.com/ManCla/fse20/blob/317526cf3dbf807f1dfd79749f52ff0880f30377/submissions/reusable/Mandrioli/paper.pdf)

[2020-06-06 01:41] art-reviewer commented on #111
[Paper](https://github.com/rufset/fse20/blob/4d577dfadde360c63aa335da6721a9a7721f1373/submissions/reusable/erlenhov_fse127/Erlenhov_fse127-paper.pdf)

[2020-06-06 01:42] art-reviewer commented on #110
[Paper](https://github.com/abenkhadra/fse20/blob/2cf64bccf821590341caa6452a324374bc6b3ae8/submissions/reusable/abenkhadra/bcov-paper.pdf)

[2020-06-06 01:42] art-reviewer commented on #109
[Paper](https://github.com/maestro-fla/fse20/blob/b3a7e0e33d5ef98a314c4c18530512a83e3a5852/submissions/functional/fse-894/esecfse2020-paper894.pdf)

[2020-06-06 01:43] art-reviewer commented on #108
[Paper](https://github.com/rangeetpan/fse20/blob/7dda6c83fd4a02b3d869d7541237a9a9e5b7c1a4/submissions/reusable/fse20main-p3-p/paper.pdf)

[2020-06-06 01:43] art-reviewer commented on #107
[Paper](https://github.com/vrthra/fse20/blob/d0db4e31544bd4687a3c75e9d80491c6452a7b33/submissions/reusable/gopinath/paper.pdf)

[2020-06-06 01:44] art-reviewer commented on #106
[Paper](https://github.com/ntu-SRSLab/fse20/blob/39e464141c1781e7daadda38d17d55d1ac84e3a2/submissions/functional/paper525-fairness/esecfse2020-paper525.pdf)

[2020-06-06 01:45] art-reviewer commented on #105
[Paper](https://github.com/fabriceyhc/fse20/blob/8711e2fec7852ee9e500ac90e3220268a1d8360e/submissions/reusable/nc_diversity_attacks/Is%20Neuron%20Coverage%20a%20Meaningful%20Measure%20for%20Testing%20Deep%20Neural%20Networks.pdf)

[2020-06-06 01:46] art-reviewer commented on #104
[Paper](https://github.com/jacobkrueger/fse20/blob/a9ca4b69199f71f8b1aa81603b63f9e8d34359a0/submissions/available/Artifact%20for%20the%20ESECFSE%202020%20Paper:%20An%20Empirical%20Analysis%20of%20the%20Costs%20of%20Clone-%20and%20Platform-Oriented%20Software%20Reuse/Accepted%20Paper.pdf)

[2020-06-06 01:47] art-reviewer commented on #103
[Paper](https://github.com/zhangmx1997/fse20/blob/59af626a60f36b3c11c9570eb5fce6afbbeaefc8/submissions/reusable/fse-594/esecfse2020-paper594.pdf)

[2020-06-06 01:48] art-reviewer commented on #102
[Paper](https://github.com/kripa432/fse20/blob/ab2346b852dfeb47979a64c20c0149472b35bede/submissions/reusable/sgx-porting-methods/paper.pdf)

[2020-06-06 01:48] art-reviewer commented on #101
[Paper](https://github.com/edbaranov/fse20/blob/4bb6e29c4de0dcb8bc9501a7de6ebdb3f9815527/submissions/reusable/baital/Baital:%20An%20Adaptive%20Weighted%20Sampling%20Approach%20for%20Improved%20t-wise%20Coverage.pdf)

[2020-06-06 01:52] art-reviewer commented on #68
[Paper](https://github.com/Alan-Cha/fse20/blob/38cef7ada1dde63ccfcd679b242b10ba06819e48/submissions/reusable/FSE-24/graphql-paper.pdf)

[2020-06-06 01:52] art-reviewer commented on #67
[Paper](https://github.com/BobbyRBruce/fse20/blob/a501b943867d2d7a2f7545f29e7e637827a264a4/submissions/functional/jshrink/paper.pdf)

[2020-06-06 01:54] art-reviewer commented on #66
[Paper](https://github.com/xurongchen/fse20/blob/f7950be7fbad6b1625d24df5ea2d1d2fb6a3e13b/submissions/functional/paper%23633/paper%23633.pdf)

[2020-06-06 01:54] art-reviewer commented on #65
[Paper](https://github.com/chrstphlbr/fse20/blob/9031a477237cee1a78d2f4bf86907801a97d643f/submissions/reusable/fse20main-p168-p/paper.pdf)

[2020-06-06 01:56] art-reviewer commented on #64
[Paper](https://github.com/Dongdongshe/fse20/blob/395c9b700c126d957f8bfdcdaa8cad78ed4b41da/submissions/reusable/mtfuzz/mtfuzz.pdf)

[2020-06-06 01:56] art-reviewer commented on #63
[Paper](https://github.com/shrBadihi/fse20/blob/9709c67795e36a4d8aeaad2b4e0e645c5d2cbd4f/submissions/available/SaharBadihi%23674/Paper%23674.pdf)

[2020-06-06 01:58] art-reviewer commented on #62
[Paper](https://github.com/mboehme/fse20/blob/2be2eb3dd34ae7e952d83fe6d069f50053e66c6b/submissions/available/ExponentialCostOfFuzzing/EmpiricalLaw.png)

[2020-06-06 02:03] art-reviewer commented on #98
[Abstract](https://github.com/z-sh/fse20/blob/8d2d3dd38357ea83718c9091efbdc7bc0a320eba/submissions/available/huang_fse133/README.md)

[2020-06-06 02:05] art-reviewer commented on #97
[Abstract](https://github.com/ziqi-zhang/fse20/blob/b9eecd1293b63bbf0255fe8d252ac9079c1050ca/submissions/available/NNSlicer/README.md)

[2020-06-06 02:07] art-reviewer commented on #96
[Paper](https://mboehme.github.io/paper/FSE20.Entropy.pdf)

[2020-06-06 02:07] art-reviewer commented on #95
[Paper](https://github.com/kfriedberger/fse20/blob/c1032b03f6847f63fa3b3f1b62fe08f3ee313026/submissions/reusable/Interprocedural_BAM/esecfse2020-paper384.pdf)

[2020-06-06 02:08] art-reviewer commented on #94
[Paper](https://github.com/davidtr1037/fse20/blob/a5e73a4cd5931a67186fcb5492e9542dde2be7d7/submissions/functional/paper.pdf)

[2020-06-06 02:09] art-reviewer commented on #93
[Paper](https://github.com/mrigger/fse20/blob/92d1d63939fe9a05082af36f19066bf6416e710d/submissions/reusable/315-NoREC-Rigger/NoREC.pdf)

[2020-06-06 02:09] art-reviewer commented on #92
[Paper](https://github.com/valerio-terragni/fse20/blob/23b5aa0eb7a498c2153021c1d12051e3ba0ca216/submissions/reusable/paper-683/paper-683.pdf)

[2020-06-06 02:10] art-reviewer commented on #91
[Paper](https://github.com/DNNTesting/fse20/blob/219baaac6a9e9b1882a0bba8c464e9ab9fbd0fb9/submissions/available/CovTesting/esecfse2020-paper53.pdf)

[2020-06-06 02:12] art-reviewer commented on #90
[Paper](https://github.com/timurbey/fse20/blob/7e702c2e9146a1b1037a4af5638670852de0a545/submissions/reusable/chappie/chappie_paper_fse20.pdf)

[2020-06-06 02:13] art-reviewer commented on #89
[Paper](https://github.com/xlab-uiuc/fse20/blob/eba233ca7f23ecec745a085c92dd0303e5991a4e/submissions/reusable/paper423_cdep/esecfse2020-paper423.pdf)

[2020-06-06 02:13] art-reviewer commented on #88
[Paper](https://github.com/ameyaKetkar/fse20/blob/23114c860966065c038d34fb77231c7dd3db2f26/submissions/reusable/UnderstandingTypeChanges-419/Understanding_Type_Changes_in_Java-419.pdf)

[2020-06-06 02:14] art-reviewer commented on #87
[Paper](https://github.com/arman2/fse_20/blob/9584902e714967a09242302923a040b6a9325448/submissions/available/eQual/AcceptedSubmission609.pdf)

[2020-06-06 02:15] art-reviewer commented on #85
[Paper](https://github.com/felicitia/fse20/blob/2477d8ccc13d5d4da904592705075e0a6e623607/submissions/available/FrUITeR_yixue_available/esecfse2020-paper309.pdf)

[2020-06-06 02:15] art-reviewer commented on #84
[Paper](https://github.com/ssmirr/fse20/blob/a26507b069d5b131075ef5e75eb7dd40daf8a302/submissions/reusable/docable/docable_FSE_20.pdf)

[2020-06-06 02:16] art-reviewer commented on #83
[Paper](https://github.com/SeekingDream/fse20/blob/890deb445a0c007d43483a456b9024f97cfff0eb/submissions/functional/denas/DENAS_FSE20.pdf)

[2020-06-06 02:16] art-reviewer commented on #82
[Paper](https://github.com/vaibhavbsharma/fse20/blob/97cea242ddfc40996f453b478da4fa145f7907d5/submissions/reusable/esecfse2020-paper459.pdf)

[2020-06-06 02:17] art-reviewer commented on #81
[Paper](https://github.com/sooyoungcha/fse20/blob/add2af7ea4f6d81740bbe2313fa2f1cb8993eefc/submissions/reusable/Homi/FSE20.pdf)

[2020-06-06 02:17] art-reviewer commented on #80
[Paper](https://github.com/sumonbis/fse20/blob/431a8a50b8dc7c8aec5ca1d834adedf1a0237bdc/submissions/reusable/fse20main-p260-p/ml-fairness.pdf)

[2020-06-06 02:18] art-reviewer commented on #79
[Paper](https://github.com/bhermann/fse20/blob/cf482ec064020ed0152fc0910bc2c11fbaa58717/submissions/reusable/bhermann-p970/preprint.pdf)

[2020-06-06 02:18] art-reviewer commented on #78
[Paper](https://github.com/tamnguyencs/fse20/blob/77f789cedf8e35b8a37cbfe796460ac7005529ec/submissions/available/fse20main-p190-p/esecfse2020-paper190.pdf)

[2020-06-06 02:23] art-reviewer commented on #75
[Paper](https://github.com/yamizi/fse20/blob/19c532985a4989c0a7b7a708a8ed3865b7dc85fe/submissions/reusable/fse-508/PAPER-ACCEPTED.pdf)

[2020-06-06 02:24] art-reviewer commented on #74
[Paper](https://github.com/gaojun0816/fse20/blob/d6daf725d402dc4a88542db5200ab2deabc79d4f/submissions/available/fse-577/article.pdf)

[2020-06-06 02:26] art-reviewer commented on #69
[Paper](https://doi.org/10.5281/zenodo.3860984)

[2020-06-06 03:33] xurongchen commented on #66
| Author          | Mail                        | GitHub ID      |                      |
|-----------------|-----------------------------|----------------|----------------------|
| Rongchen Xu     | xrc19@mails.tsinghua.edu.cn | @xurongchen     |                      |
| Fei He          | hefei@tsinghua.edu.cn       | @feihe          | Corresponding Author |
| Bow-Yaw Wang    | bywang@iis.sinaca.

[2020-06-06 07:09] abenkhadra commented on #110
- Paper #208
- My co-authors are not on Github.  Contact details are as follows:

|     Name   |                 Email                |                 Github ID             |           Corresponding Author |
| --------------|-----------------------------------|--------------------------------------|-------------------------------------- |
| M. Ammar Ben Khadra   |     khadra@eit.uni-kl.de   |  ab

[2020-06-06 13:46] PPPI commented on #121
[Paper link in the main repo after merger](https://github.com/researchart/fse20/blob/master/submissions/available/flexeme/fse20main-p205-p.pdf)

[2020-06-07 03:08] ziqi-zhang commented on #97
**Authors**

| Name | Email Address | Github ID |
|--- | --- | --- |
| Ziqi Zhang | ziqi_zhang@pku.edu.cn | ziqi-zhang |
| Yuanchun Li | pkulyc@gmail.com | ylimit |
| Yao Guo (corresponding) | yaoguo@pku.edu.cn | - |
| Xiangqun Chen | cherry@sei.pku.edu.cn | - |
| Yunxin Liu | yunxin@microsoft.com | - |

[2020-06-09 19:59] shrBadihi commented on #63
Hello!
I have a question regarding the badges.
We also provided DOI in the Available directory. I think what I missed is that I should have written all target badges in STATUS file. I thought providing INDEX file with DOI is enough for the available badge.
Best regards

[2020-06-11 13:20] blind-reviewer-2 commented on #65
Hi Authors,

I have begun to attempt to execute your code following the instructions in your INSTALL.md file, and I am experiencing difficulties.

Your instructions are very high-level, perhaps too high-level. Someone looking to run your code has to do a lot of Googling to figure out the exact commands to download the exact versions of the software required. For a repository of your size, with the

[2020-06-11 13:40] blind-reviewer-2 commented on #76
Hello Authors,

I have begun to review your artefact, but I am experiencing an issue. In your readme.md of your "DeepJanus-BNG" folder, you say "A free version of the BeamNG simulator for research purposes can be found at https://beamng.gmbh/research/. " However, it is not obvious where to download that tool on their website. Please provide a direct link to the download, or instructions on where t

[2020-06-11 14:14] blind-reviewer-2 commented on #74
Dear Authors (@gaojun0816),

I have begun to review your artefacts, and I need some clarification. In your README.md under "The Tool" and "DECIDer" you say "To reproduce the result presented in the paper, relevant sample apps are listed under sample directory separated by different RQs." However, in the DICIDer repository I downloaded from Zenodo [1], I am unable to find a "sample" directory. Plea

[2020-06-11 14:21] blind-reviewer-2 commented on #74
Dear Authors (@gaojun0816),

I am beginning to review your artefacts, and I am stuck at one stage. In your instructions, you say "The lists only provide the SHA256 digest of individual APK files. They need to be downloaded from AndroZoo." When I go to AndroZoo, I don't see an obvious way to download these files. It appears that I must create an account to do so. As this process is anonymous, pleas

[2020-06-11 23:19] p1ndsvin commented on #76
Hello Blind Reviewer,

Thank you for the invaluable support you are providing to our Community.

I agree that I can provide better information on how to install the simulator. The [download link](https://projects.beamng.com/projects/research/repository) of the free version is at the bottom right of the web page.

In the following, I will provide instructions for the installation on a Windows machi

[2020-06-12 11:23] gaojun0816 commented on #74
Dear Reviewer (@blind-reviewer-2),

We applied an anonymous AndroZoo access key which is:
*0f65012ef66aa829338803ec48f29515b1df10a5a8e023206980f6c0824d4889*
This key will be expired on the **Artifact Notification** day.

To download APK files, you may want to refer to the [AndroZoo document](https://androzoo.uni.lu/api_doc).

BTW, we'd like to specify that AndroZoo is not part of this work. We ref

[2020-06-12 13:08] blind-reviewer-2 commented on #112
Hi Authors (@ManCla),

Thank you for contributing to OpenScience by submitting your artefacts to be reviewed and made available to everyone. You have produced some incredible work both in your research as well as in the artefacts you have provided. Overall, I am very impressed by your artefact and it passes almost every criteria. You have applied for the "Reusable Badge", which in definition actua

[2020-06-12 13:45] vrthra commented on #107
Hello, we would like to mention that we are applying for available and functional badges as well. The [FSE](https://2020.esec-fse.org/track/esecfse-2020-artifacts) page seemed go suggest _reusable_ included _available_ and _functional_. However, we note that other submitters request for for these badges separately. Hence, requesting them separately as we [mention in the status page](https://github

[2020-06-12 18:24] anon-review commented on #117
### Summary

- [x] **Available**
- [ ] **Functional**: Would benefit from a small example that I can use to ensure that the scripts are doing something interesting
- [ ] **Reusable**: Willing to check this box if revisions made for Functional

### Available

- [x] Available on a publicly accessible archival repository (Zenodo)
- [x] DOI is provided

### Artefacts evaluated

#### Functional

- [x]

[2020-06-12 18:52] anonReviewer10000 commented on #102
This artifact seems to meet the requirements for a reusable badge:

Documented: This artifact contains documentation showing exactly which commands to run to obtain answers to each RQ in the paper.  The version is easily known via the Github repository.  The requirements are also easily found.  More details could be provided about exactly what each command does, though this information can mostly

[2020-06-12 19:24] anonReviewer10000 commented on #107
This is a very good artifact, worthy of the reusable badge.  The quality of the documentation and other materials is high.  The virtual machine structure was easy to follow.  I downloaded the image and was able to find and run several of the experiments as described.

Documented: The documentation for this artifact is excellent.  There are clear instructions, concrete examples, and explanation of

[2020-06-13 14:33] reviewer3 commented on #83
This submission does not fulfill fundamental submission criteria (missing availability, license, DOI) nor does it adhere to the format laid out in the submission guidelines.

[2020-06-13 14:46] reviewer3 commented on #95
Submission does not adhere to submission guidelines; DOI should be in index.md file.

Availability badge can be granted; DOI is accessible (2020-6-13) and included in the submission. Review can continue.

[2020-06-13 15:00] reviewer3 commented on #95
I'm stuck here:
[code]

[2020-06-13 17:35] kfriedberger commented on #95
@reviewer3
- The information about "pqos_wrapper" can be ignored. This is a feature of BenchExec that is not required for the artifact.
- Your commandline specifies "-c 8", which aims for an execution on 8 CPU cores. Your machine seems to have only 4 cores available. Please adjust the number to "-c 4".
(If your machine has 8 CPU cores, but BenchExec does not recognize them, please give a descripti

[2020-06-13 18:35] reviewer3 commented on #95
:blush:

Same output with `-c 4` (or `-c 2`)

[2020-06-13 18:57] kfriedberger commented on #95
The options for memory, time limit or CPU cores need to be given to the commandline of `benchexec` and not for `scripts/executeBenchmark.sh` (exactly as written in the README.md of the artifact).
You need to edit line 13 in the script `scripts/executeBenchmark.sh`.

Sorry for the inconvenience. :smile:

[2020-06-13 22:44] anon-eval commented on #109
@maestro-fla
Thank you for submitting the well artifacts. The paper is also a great read :)

**TLDR**: Based on the current version of your submission, I **cannot recommend (yet)**   the Functional badge since you do not document how to use Maestro. Although I will be happy to update it, if you can mention how Maestro can be used to recommend SO posts.

The artifacts were verified on an Ubuntu 16.

[2020-06-14 00:21] anon-eval commented on #101
@edbaranov
Thank you for submitting the artifacts and congratulations on the paper :)

**TLDR**: Based on the current version of your submission, I **recommend**  the reusable badge but I would recommend the following changes.
1. Please update your artifact on [doi.org](doi.org) and provide the DOI in `ReadMe.md`.

The artifacts were verified on an Ubuntu 16.04 instance with 16GB RAM

I arrived at

[2020-06-14 01:29] anon-eval commented on #89
@chenquingrong
Thank you for submitting the artifacts. Congratulations on the paper :)

**TLDR**: Based on the current version of your submission, I can only recommend the **available ** and **functional** badges but **not the reusable** badge. That said, I would be happy to update my recommendation if you can make the following changes
1. Please provide steps on how cDep can be used on a custom p

[2020-06-14 17:38] anon-eval commented on #68
@Alan-Cha
Thank you for submitting the artifacts. Congratulations on the paper :)

**TLDR**: Based on the current version of your submission, I recommend the **available ** and **functional** and the **reusable** badge. That said, I did have some trouble in the installation and it would be great if you could update `INSTALL.md` with this information.

1. Please add a link to your github repository

[2020-06-14 18:10] anon-eval commented on #66
@xurongchen, @feihe
Thank you for submitting the artifacts. Congratulations on the paper :)

**TLDR**: Based on the current version of your submission, I recommend the **available** and **functional** badges.

I arrived at this conclusion using the following metrics
1. **Installation**✅ : The installation runs successfully. It would be helpful if you can provide a requirements.txt file with the py

[2020-06-14 19:12] anon-eval commented on #102
@kripa432
Thank you for submitting the artifacts. Congratulations on the paper :)

**TLDR**: Based on the current version of your submission, I cannot recommend the **reusable** badge(yet) although the framework is `functional` and `available`. Please update the `ReadMe` on how a  the evaluation framework can be expanded to support new tool.

I arrived at this conclusion using the following metric

[2020-06-15 09:41] AEreviewer commented on #124
Here it is. I have used the provided guidelines to check the different aspects of the artifact. Overall, it is very good but it misses some documentation elements to be reusable (see comment below).

- [x] Available: The artifact is placed on a publicly accessible archival repository and has a DOI.

- [x] Functional:
  - [x] Documented: At minimum, an inventory of artifacts is included, and suffic

[2020-06-15 13:09] blind-reviewer-2 commented on #92
Hi Authors,

Thank you for contributing to Open Science by submitting your artefacts to be reviewed and made available to everyone. Your submission is particularly well done and clearly took you a long time to prepare. Overall, I believe this is exactly the kind of submission that serves as a candidate for the Available and Reusable badges. After a review of your submitted artefacts, both in manua

[2020-06-15 13:44] blind-reviewer-2 commented on #74
Hi Authors,

Thank you for contributing to OpenScience by submitting your artefacts to be reviewed and made available to everyone. My apologies for my previous request which was clearly in relation to the Functional and Reusable badges. I can see now that you are just applying for the badge of "Available" and as such I will not attempt to run your application.

As your Artefacts have been placed o

[2020-06-15 17:37] letmecheckthat commented on #66
Based on a preliminary check, there are multiple issues with this artifact:

- Absolute/hard-coded paths are used in many Python scripts, which adds a lot of overhead to running these. Please make these relative.
- These paths are also hard-coded in the binaries for the various benchmarks, which is a serious encumbrance, effectively requiring replication efforts to use the exact path specified. If

[2020-06-15 20:35] reviewer3 commented on #95
Ok, after having to disable swapping on my machine, I encountered the next problem I am stuck with:
[code]

[2020-06-15 21:32] letmecheckthat commented on #122
Thank you for uploading this artifact. Upon first inspection, replicating the published results was successful and greatly facilitated by the use of Docker; I appreciate that. The instructions were clear and direct, and the code looks by and large well documented. One minor note: several files have out-commented blocks of logic (incl. `main.py`, `analysis_main.py`) that may be obsolete and could b

[2020-06-16 05:44] kfriedberger commented on #95
As you see, there some requirements for a maschine that allows to do proper benchmarking. :desktop_computer: :warning:
We have no influence over the benchmarking maschine you are using, and BenchExec was developed to show up and handle several difficulties for reliable benchmark results.

If your CPU is overheating and slowing down during a benchmark, a benchmark with time measurement is of course

[2020-06-16 07:24] AEreviewer commented on #119
Hi @Jacob-yen, I see in the documentation of your artifact that I have to install nvidia-docker2. Does that mean that I need a NVIDIA graphical card or any other specific hardware to run your experiment?

Also, I see that you indicate in `STATUS.md` that your artifact is available but I don't see any DOI. Has the whole artifact been uploaded to a dedicated data repository (like Zenodo)?

[2020-06-16 07:36] xurongchen commented on #66
Thanks for your feedback. We made the following modifications based on your suggestions:

* We changed the absolute path in the script to a relative path that matches the current directory structure.
* Our executable binaries do not use hard-coded paths. The python script file that encodes the benchmark path only provides a quick way to perform experiments. For more general use, we have updated IN

[2020-06-16 08:07] AEreviewer commented on #78
cc @tamnguyencs

I have used the provided guidelines to check the different aspects of the artifact. Overall, the artifact contain the input dataset used for the evaluation presented in the paper. The artifact satisfies to the requirements for the Available badge. Some additional documentation on what is contained in the different sub-folders and in the `.csv` files would be nice to allow other re

[2020-06-16 08:20] AEreviewer commented on #62
cc @mboehme

I have used the provided guidelines to check the different aspects of the artifact. Overall, the artifact contain the input dataset used for the evaluation, the results, and the R scripts to analyze the results. The artifact satisfies to the requirements for the Available badge. Some additional documentation on what the artifact contains and how to run the statistical analysis would h

[2020-06-16 08:57] blind-reviewer-2 commented on #115
Hi Authors,

Thank you for contributing to OpenScience by submitting your artefacts to be reviewed and made available to everyone. Your repository is well documented, with steps that are easy-to-follow and lead to the production of the results listed in your paper. Your code is well-documented, and did not lead to errors. Your repository, however, does not appear to be publicly available. I did no

[2020-06-16 10:27] mreif commented on #117
Thank you for your review. We hope that the following information can help you complete your review.

While we would not consider 32GB of memory excessive in our field nowadays, we do understand that not everyone may have this amount available.
We chose this to provide a 'level playing field', but most individual analyses (except for the Scala part of experiment 3) will run fine with 16GB of memor

[2020-06-16 12:25] blind-reviewer-2 commented on #76
Hi Authors,

I switched to attempting the other part of your submission: DeepJanus-MNIST, and I have encountered an error.

Installation and Execution Steps Taken
[code]

Error Encountered
[code]

Please follow these steps, produce the same error, and advise on how to proceed. I have done some work to try and work around this issue myself, but I am unable to.

Reviewer

[2020-06-16 12:36] blind-reviewer-2 commented on #76
Hi Authors,

When attempting to run DeepJanus-BNG, I ran into the follow error

Installation and Execution Steps Taken
[code]

Error Encountered
[code]

Please advise how to proceed. This is classic import issue and there are many ways to solve it in the code (something I have to do almost every Python project I work with). Let me know how you wish to proceed through the issue.

Reviewer

[2020-06-16 12:38] rac00n99 commented on #98
The DOI link works. The folder of the submission describes the description of all the files contained.
I suggest the authors remove on Zenodo the empty folders about "Functional and Reusable" and "Replicated and Reproduced" since they are unuseful.

[2020-06-16 12:43] blind-reviewer-2 commented on #76
Hi Authors,

I tried to follow your "Experiments" readme and encountered the same issue as above in the "DeepJanus-BNG" readme. Please address this issue for both repositories and then I can continue to review your artefacts.

Reviewer

[2020-06-16 12:50] rac00n99 commented on #87
The DOI link is on zenodo and it works. The folder of the submission shows the description of all the folders contained. I suggest the authors give also a small description for each folder since in each of them there are several files contained plus additional folder, so it can be a bit confusing.

[2020-06-16 13:00] anonReviewer10000 commented on #83
This submission is missing some pieces before it can be assigned a badge, but several of the core elements are still there:

Documented: A brief README is provided which lists commands used to run the scripts.  The artifact is uploaded (https://github.com/researchart/fse20/tree/master/submissions/functional/denas) and dependencies are listed.

Consistent: The artifact is in line with the related p

[2020-06-16 13:10] anonReviewer10000 commented on #116
This artifact has all the core elements, but needs a little more polish before being assigned a reusable badge.  The most important need is more documentation.

Documented: The overall content of the artifact is provided, but there is not much information on how to actually run the experiment.  Exact steps should be given to reproduce the paper results.  Imagine this situation: I am a researcher s

[2020-06-16 13:16] anonReviewer10000 commented on #90
This artifact is quite strong and deserves a reusable badge.

Documented: The documentation is superb.  The public repository shows exact steps for how to not only reproduce the results of the paper in a Docker image, but to build from source code.

Consistent: Precise instructions are provided for reproducing the results of the paper.

Complete: Requirements are clear and all code is provided in

[2020-06-16 13:51] rac00n99 commented on #100
@alexkamp I have some problems for downloading the folder of file "replication", it is more than 800 MB and the MAC recognizes it s a TextEdit edit and it doesn't open it.
Can you maybe upload both folders on GitHub? It is easier to navigate the replication package. I also do not find the DOI link
Maybe, If you follow the template given by the chairs (so write on the files status or readme), as th

[2020-06-16 13:56] z-sh commented on #98
The content on Zenodo mirrored the folder structure that we have in GitHub, since we apply for the Available patch, all of our files are in that folder and the rest are empty as expected.

[2020-06-16 16:00] blind-reviewer-2 commented on #65
Hi Authors,

**[Summary]** Thank you for your artefact submission in pursuit of Open Science. Your repository is available in Figshare, which awards the badge: Available. Unfortunately, the repository in its current condition is not ready to receive the Functional or Reusable badge. However, I also feel the current level of detail dedicated to the description of algorithms is high, and very close

[2020-06-16 16:11] letmecheckthat commented on #66
Thank you, that's great progress! There seem to be a few more path-related issues; e.g., the relative path `../Benchmark` triggers an error in `Experiment.py` because the working directory is changed in there (also, the folder is named `Benchmark*s*`). Please fix that and check that the code works for you from a fresh checkout; I will resume checking in as soon as it does.

[2020-06-16 17:14] letmecheckthat commented on #105
Thank you for sharing your code. I have inspected the code and run the notebook to reproduce the reported results from the shared data file; everything checks out.

Note that I have not (yet) tried the VM-based setup. The Self-setup completing successfully ticks the 'functional' box, in my opinion. One note about that VM setup, though, is that the image appears to be uploaded on Google Drive, whic

[2020-06-16 18:11] anon-review commented on #113
### Summary

- [x]  Reusable

### Evaluation

**Functional**

- [x]  Documented
- Inventory of artefacts included along with descriptions (*robustness-calculator.jar* and *models.zip*)
- Required Java version specified, and I was able to get to the expected help text easily
- CLI tool's help text includes documentation for the accepted arguments
- Documentation for system description files also in

[2020-06-16 18:39] FSEArtifactReviewer835 commented on #122
Requested Badge: Reusable

Overall/Summary:
The package is a tool to run several static analyses for numerical bugs in neural architectures.
The authors ran the tool on several datasets with known bugs along with many real-world projects.
The tool was contained in docker, and it was easy to run and replicate the results presented in the paper, including swapping over to other branches to look at v

[2020-06-16 18:50] letmecheckthat commented on #108
I checked the code and data and have confirmed that both the tables in the paper match the Results.xlsx included, and the (bash) Scripts can successfully execute the Python code for the various benchmarks, yielding the same results (spot-checked).

The main obstacle was several installation issues, especially related to dependencies:

- `skimage` should be `scikit-image`; the first name has been d

[2020-06-16 19:13] FSEArtifactReviewer835 commented on #91
Requested Badges: Available, Reusable, Functional

Summary/Overview:
The README claims that all the results for the paper should be replicable from the code and documentation.

Overall, it looks like the pre-existing output data (minus a few small examples) needed to reconstruct the figures and tables in the paper are present, which greatly appreciated given how long rerunning the scripts can take

[2020-06-16 20:23] letmecheckthat commented on #118
This looks like a good artifact all around. I reproduced some of the results using the provided VM (specifically in VirtualBox) and found the process quick and easy. I have not (yet) tried to build this from scratch; in my opinion having a full-fledged VM qualifies as Functional/Reusable, but time permitting I will check the other route as well. As it stands now, I support all requested badges.

O

[2020-06-16 20:28] fabriceyhc commented on #105
I think I may have misunderstood something about the evaluation process. I intended the VM option only for the FSE review team - just to make it easier for you - and don't plan on making it available in the GitHub long-term. Would it be acceptable to remove that option and just consider the self-setup? I will take care of the versioning issue and add seaborn as well.

[2020-06-16 20:33] letmecheckthat commented on #105
That definitely makes sense, thanks for adding that for us. I personally think it's quite fine to leave the VM option in there as it might be more convenient for others (incl. non-reviewers down the line), but it certainly isn't necessary. If the concern is badges, its presence doesn't affect that imo; I think they are all appropriate for just the Self-setup option (incl. Available). Your call.

[2020-06-16 20:43] fabriceyhc commented on #105
Thanks for understanding. If the VM was more powerful / had GPU computation then it would be more of a useful resource, but I don't think people will get much out of it. It was just intended to show that the scripts do indeed work. I'll take care of all the revisions today.

[2020-06-16 21:00] DNNTesting commented on #91
Hello reviewer,

Thanks for your careful review.

For the download of datasets, we did not get the problem "large files such as cifar_x_train.npy are left out of the download when zipping" in our machine. But thanks for your feedback. We will wrap the artifact in a docker as you said.

For the DOI, I am sorry that I did not submit it on time. At first I did not know how to get the DOI, so I emaile

[2020-06-16 21:46] FSEArtifactReviewer835 commented on #78
Requested Badge: Available

The artifact consists of a plugin and a dataset set, provided via archival service.  I was able to install the plugin to IntelliJ and Android Studio successfully.  The key commands on MACOSX are slightly different from the reported ones (Command-Alt instead of Control-Alt), but I was able to get the plugin to make recommendations.  It would also be nice if there was a w

[2020-06-16 23:00] itsreallyhotoutside commented on #110
@abenkhadra  Thanks for your submission!

- [ ] Available: The artifact is placed on a publicly accessible archival repository. And has a DOI.

- [ ] Functional :
    - [ ] Documented: At minimum, an inventory of artifacts is included, and sufficient description provided to enable the artifacts to be exercised.

    - [x] Consistent: he artifacts are relevant to the associated paper, and contribut

[2020-06-16 23:11] itsreallyhotoutside commented on #88
@ameyaKetkar Thanks for the submission!

- [ ] Available: The artifact is placed on a publicly accessible archival repository. And has a DOI.

- [ ] Functional :
    - [x] Documented: At minimum, an inventory of artifacts is included, and sufficient description provided to enable the artifacts to be exercised.

    - [x] Consistent: he artifacts are relevant to the associated paper, and contribute

[2020-06-16 23:14] fabriceyhc commented on #105
Hi there, I made the edits and created another pull request for you. My apologies if that wasn't the correct process - just let me know I'll revise.

https://github.com/researchart/fse20/pull/129

Basically, I just went through and updated the requirements.txt file using the `~=` operator, which pulls the most compatible version of the package given your version of python ([link](https://pip.pypa.

[2020-06-16 23:27] itsreallyhotoutside commented on #104
@jacobkrueger thanks for the submission!

- [] Available: The artifact is placed on a publicly accessible archival repository

Notes:

- Most of the artifacts are on zenodo. However, I was wondering if the artifact can also have the raw interview transcripts as well, as they are important to the paper and its results.

[2020-06-16 23:55] itsreallyhotoutside commented on #120
@gousiosg and @kstolee this paper's artifact is coded interviews and survey results with an R script to analyze the survey results and is applying for the functional badge as opposed to available badge. Does this fulfill the criteria for functionality?

[2020-06-17 01:32] ForeverZyh commented on #122
Thanks for reviewing the artifact.
To @letmecheckthat 's comments:

1. out-commented blocks of logic: we will delete these out-commented blocks of logic.
2. not requested Functional or Reusable: we also applied the reusable badge see PR #6. Apologize for creating the separate PR.
3. not yet qualify for the available badge: we uploaded the repository and dataset on Zenodo, please see https://github

[2020-06-17 01:47] ForeverZyh commented on #122
To @FSEArtifactReviewer835 's comments:

1. posting a built docker to DockerHub: We will upload the image to DockerHub as well, as both reviewers suggested.
2. It takes a long time to produce Table 3 results. We found that we accidentally included 3 architectures that are supposed to time out for 30mins in the artifact. Now they've been removed, so please try again.

[2020-06-17 02:04] DNNTesting commented on #91
@RandomlyGeneratedReviewerAccount I put the DOI in the [fourth comment](https://github.com/researchart/fse20/issues/91#issuecomment-639727735) under this issue. Please check it accordingly.

[2020-06-17 02:16] FSEArtifactReviewer835 commented on #105
Requested Badge: Reusable

Summary/Overview:
The artifact contains evaluations used in the paper to investigate the relationship of neural coverage with defect detection, naturalness, and output impartiality.  As the work is evaluating deep neural network measures (which can take a long time to train), the authors have included results and pre-trained models in the package, along with the three da

[2020-06-17 02:52] p1ndsvin commented on #76
Hello Blind Reviewer (@blind-reviewer-2),

Thank you for the hard work. I successfully reproduced your issues and proposed a pull request researchart/fse20#130.

As regards DeepJanus-MNIST, there is an ugly interplay between the Python, potrace and cairo versions and there was an inconsistency in the requirements file. I reproduced and solved the issue on multiple machines. As a solution, I update

[2020-06-17 02:53] fabriceyhc commented on #105
- I'm not sure how to reconstruct the data for Table 7?

The code submitted was used for the primary correlation evaluation and I did not include the jupyter notebooks used to generate Table 7 or Figures 2, 3, 6. Would you like me to create another pull request for those items?

- `python _PGD_div_mnist.py` issues

I will go back and add an empty logs folder to the repo so that the path resolves c

[2020-06-17 04:02] ForeverZyh commented on #122
We've uploaded `debar` to DockerHub and you may access these images by

[code]

Also, if you want to initiate a bash into the image you may change the previous `lastest` tag by the new tag, e.g.,

[code]

[2020-06-17 06:26] muesbeck commented on #116
I'm unclear regarding what the communication protocol for this process is supposed to be, but I'll add some more specific instructions.

[2020-06-17 06:59] blind-reviewer-2 commented on #76
Hi Authors (@p1ndsvin),

I downloaded your repository as last committed, (5 hours ago) and I did not experience a change when trying to execute DeepJanus-MNIST. I receive the same error: `ImportError: No module named potrace`.

Below I list my full installation steps. Please follow these exactly, or recommend a different set of steps (as should be reflected in your README) in order to bring me to

[2020-06-17 07:30] kripa432 commented on #102
Dear reviewers,

  we want to thank you for your valuable review #102 .
As per the review of @anon-eval we have done the following:-

1. For available badge, we have archived Porpoise at [https://doi.org/10.5281/zenodo.3895761](https://doi.org/10.5281/zenodo.3895761)
2. We have added a tutorial in README.md file to port libjpeg to Intel SGX with Porpoise. Also we have added a screencast of same tu

[2020-06-17 11:57] xurongchen commented on #66
Thanks. I have fixed the path-related problem and tested the python scripts. Now the scripts run correctly on my machine with current file structure.

[2020-06-17 12:04] abenkhadra commented on #110
The archival repository is [available](https://doi.org/10.5281/zenodo.3876048). However, we linked to it only in [STATUS.md](https://github.com/researchart/fse20/blob/master/submissions/reusable/abenkhadra/STATUS.md) which may have caused it to be overlooked. Apologies for that.

In addition to the documentation provided in [INSTALL.md](https://github.com/researchart/fse20/blob/master/submissions/

[2020-06-17 18:27] FSEArtifactReviewer835 commented on #104
Requested Badge: Available

While this artifact fulfills several basic requirements for the Available badge (doi archival link), there are some issues that make me hesitant to provide it.  The artifact provides some data for both the systematic literature review and the interview (including guide and some anonymized data) described in the paper.  However, when trying to trace the file "dataFromPap

[2020-06-17 19:04] iamnotreviewer2 commented on #98
The paper meets the requirement for the Available badge as there is a DOI present and it works (2020-06-17). The replication package on Zenodo contains additional badge folders that are not used and should be removed. On a final note concerning Zenodo, you can optionally improve the structure of the replication package: you have to go to the /submissions/available/huang_fse133 folder to actually f

[2020-06-18 00:31] letmecheckthat commented on #66
Just to check: did you try this in any other directory than `d:\CodeRepository` on your machine (e.g., in a random other sub-directory)? Because this crashes when I try to do so, with a `The system cannot find the file specified` error, mentioning a number of `d:\CodeRepository\` paths in the trace. Running a `grep -r "d:\\\\CodeRepository" Tools/` indeed finds this path hard-coded in (apparently)

[2020-06-18 00:33] letmecheckthat commented on #122
Great, looks like Available and Reusable are appropriate as far as I'm concerned. Thanks for the updates!

[2020-06-18 01:38] p1ndsvin commented on #76
Hello Blind Reviewer (@blind-reviewer-2),

I updated the pull request to solve your last issue. As you suggested, I recommend in the README a richer set of steps in which I list further dependencies needed to run the code: git, python, pip. Moreover, the new set of commands tries to avoid ambiguity due to multiple python versions possibly installed in the system.

PyGObject installation gives me t

[2020-06-18 05:28] xurongchen commented on #66
Yes, I used another directory and tested the scripts. Also I renamed my "d:\\CodeRepository" directory to check there are no dependences to the directory "d:\\CodeRepository".  Interestingly, when I run `grep -r "d:\\\\CodeRepository" Tools/`, I also find the problem you mentioned. I checked one DLL file and I found it is in a comment which the compiler added at the compile time. I am sure that th

[2020-06-18 07:01] fuzzy3456 commented on #77
While I am checking UBITect (https://github.com/researchart/fse20/tree/master/submissions/reusable/UBITect), which is really well-documented, I noticed that the tool should run on Ubuntu. Is there any Dockerfile that can be used to build the tool on an Ubuntu image? It seems that, if we don't have an Ubuntu system is challenging to directly run the tool. Thank you.

[2020-06-18 08:23] blind-reviewer-2 commented on #76
Hi Authors,

Thank you for your artefact submission in pursuit of Open Science.  Your repository does not appear to be in a publicly accessible archival service, so it is not eligible for for badge of Available. Furthermore, after many attempts at getting every component of your code working, I was unable to get your code functioning. This is even after multiple attempts by the authors to get the

[2020-06-18 08:39] p1ndsvin commented on #76
Hello Blind Reviewer (@blind-reviewer-2),

Please check the index file in /submissions/available/submission441//index.md to evaluate availability.

The command ```import PyGObject``` causes your issue but it is not in the list I provided. I would be grateful and it would be helpful if you follow the exact steps. Besides that, thank you for the effort.

Best,
Author

[2020-06-18 09:19] fuzzy3456 commented on #65
Hi Authors,

### Recommended Badges:

**Available**

The artefact of the paper is placed on a publicly accessible archival repository [()](https://figshare.com/articles/Replication_Package_Dynamically_Reconfiguring_Software_Microbenchmarks_Reducing_Execution_Time_Without_Sacrificing_Result_Quality_/11944875). A DOI [](https://doi.org/10.6084/m9.figshare.11944875.v1) with a unique identifier for th

[2020-06-18 09:35] blind-reviewer-2 commented on #76
The exact step is `pip3 install PyGObject==3.30.4`. That leads to a very large error. So I checked to see if it was successful, and sure enough, it is not successful. If you don't need PyGObject, why is it in your installation steps?

Reviewer

[2020-06-18 09:54] p1ndsvin commented on #76
Hello Blind Reviewer (@blind-reviewer-2),

I see your point. My point was that the crash is caused by an extra step that I did not report in the readme.
If users do not feel confident to go further with the installation, they can of course test the PyGObject installation. As suggested [here](https://pygobject.readthedocs.io/en/latest/getting_started.html), they should execute the following command

[2020-06-18 09:56] blind-reviewer-2 commented on #76
Apologies for the edits, but I felt my added context should be in one place. See above to answer your question.

I have edited my review to include the badge of "Available".

PS - FSE has done a strange thing spreading the data across multiple repositories and it was not clear to me that I had to look in more than one place. Thank you for directing me to the file.

[2020-06-18 10:31] a-nice-reviewer commented on #93
### Video with instructions

- nice job, very comprehensive
- It would be nice if mentions to `video.mp4` had a hyperlink to the respective file.

### Tool

I was able to run the tool successfully and to query the results database.
I have got something like the following:

[code]

In the instructions it was not clear to me how I can get the results from running the tool:

- Can I stop it at any ti

[2020-06-18 13:16] SeekingDream commented on #83
Dear reviewers,

we want to thank you for your valuable review #454. As per the review of @anonReviewer10000 and @reviewer3, we have done the following:

For available badge, we have archived our code repository at https://doi.org/10.5281/zenodo.3898178, and we apply the MIT license for our repository.
And we have unzipped the python script directory, now only the data and the model is stored in t

[2020-06-18 13:28] mrigger commented on #93
Thank you very much for the useful feedback, @a-nice-reviewer! We have incorporated your comments to create an improved version of the artifact.

We have added links to the video (see https://github.com/mrigger/fse20/commit/059d692784295f9d862c21799a52963942bbc3be).

The shortcut CTRL+C can be used to terminate SQLancer manually. If SQLancer does not find any bugs, it executes infinitely. The opti

[2020-06-18 13:51] a-nice-reviewer commented on #93
Thank you @mrigger for the clarification and for improving the instructions based on my comments. How can I see those changes—are they in the PR?

[2020-06-18 14:22] mrigger commented on #93
I have integrated the changes into my personal repository at https://github.com/mrigger/fse20/. You can view the changes there, or by clicking on the above links to see how we addressed each concern individually. As another option, I have now also created a PR to integrate the changes into this repository (see #134).

[2020-06-18 14:35] a-nice-reviewer commented on #96
Dear authors,

Thank you for your submission. Please find below the notes I took while trying to reproduce your work.

### Installation

I am reproducing this work using a laptop running Mac OS 10.15.4.

- I went over the `quick install` instructions and I was able to have the scripts running.
  - The whole procedure was straightforward. The makefile took care of everything :+1:
  - The instructio

[2020-06-18 15:41] a-nice-reviewer commented on #64
Dear authors (@rahlk), thanks you for your submission.

So far, the instructions look sound and clear to me.

Could you send AWS machine credentials to the program chairs and ask them to share those details with me?

[2020-06-18 16:00] rahlk commented on #64
Hi, the AWS machine credentials may be obtained here: https://www.dropbox.com/sh/7k8al6qz9u6s1nq/AADsuynj2pNEMaGDBdA0UH_pa?dl=0

[2020-06-18 16:51] a-nice-reviewer commented on #118
I have used VirtualBox to run the provided VM and I was able run the scripts in a very smooth way. Due to limited computing resources from side, I did not attempt to fully run the performance experiments. Nevertheless, the instructions were easy to follow.

My only concern is that it is not clear what comes pre-installed with the VM. I.e., if I wanted to evaluate the artefacts without using a VM,

[2020-06-18 17:43] a-nice-reviewer commented on #64
I have followed the instructions using the provided AWS machine. The instructions were also clear and sound for someone willing to set up their own machine with the specified requirements.

*I am in favour of giving the Reusable and Functional badges* to this work, as it has been carefully documented and well-structured to the extent that reuse and is facilitated.

Special thanks for having provid

[2020-06-18 18:02] a-nice-reviewer commented on #74
I was able to find in the file `index.md` the DOIs for the 3 artefacts made available in this work:

-  DICIDer
[![DOI](https://zenodo.org/badge/240508384.svg)](https://zenodo.org/badge/latestdoi/240508384)

- StealthApp
[![DOI](https://zenodo.org/badge/250565566.svg)](https://zenodo.org/badge/latestdoi/250565566)

-  TikTokDownloader
[![DOI](https://zenodo.org/badge/250572891.svg)](https://zenodo

[2020-06-18 21:18] RandomlyGeneratedReviewerAccount commented on #92
Hi Authors,

I second @blind-reviewer-2's assessment on the quality of this submission.
The steps to set up the environment, the execution of the tool, and the output are all well described.
I also appreciate the effort of the authors to provide a smaller running example (included in the paper), along with the full evaluation script.

As a future improvement, I would recommend the authors to provi

[2020-06-18 22:16] YizhuoZhai commented on #77
Hi:
That's a great suggestion, I do not have the Dockerfile on my hand now but
would like to create one.
Should I email it to you once I've done? Or should I directly commit to the
github repo?

On Thu, Jun 18, 2020 at 12:01 AM fuzzy3456 <notifications@github.com> wrote:

[2020-06-18 23:07] anon-review commented on #106
## Summary

✅ Available ✅ Functional

## Available

- Publicly available on archival repository (looks like an institutional repository?)
- DOI provided

## Functional

✅ Documented

DOI available as well as easy access to the Docker image through DockerHub.

✅ Consistent
Items appear to be consistent with content in the paper
- data sets (smart contracts)
- scripts to run experiments on auction a

[2020-06-18 23:27] softwareArtifactsEvaluator commented on #106
_Applying for: **Available**, **Functional**_

Thank you for submitting the artifacts and congratulations on the paper!

After addressing items mentioned below, I recommend the **Available** and **Functional** badges:

- **Publicly available**: The instructions on artifact repository run seamlessly and I was able to start simple experiments. I used the Docker image provided which nicely packages t

[2020-06-18 23:34] softwareArtifactsEvaluator commented on #111
_Applying for: **Reusable**_

Thank you for submitting the artifacts and congratulations on the paper!

Based on the submitted artifacts I recommend the **Functional** badge:

- **Publicly available**: The artifacts and scripts are publicly available on Zendoo which includes a DOI link and an open source license is used.

- :heavy_multiplication_x:  **Documentation**: The analysis script (implemen

[2020-06-18 23:40] softwareArtifactsEvaluator commented on #97
_Applying for: **Available**_

Thank you for submitting the artifacts and congratulations on the paper!

Based on the metrics below this submission satisfies requirements for the **Available** badge after adding DOI and LICENSE.md:

- **Publicly available**: The artifact is publicly available in fse20 repository. DOI link is **not** provided and a license is **not** selected for the artifacts (LIC

[2020-06-18 23:45] softwareArtifactsEvaluator commented on #75
_Applying for: **Reusable**_

Thank you for submitting the artifacts and congratulations on the paper!

Based on the current version of submission, I cannot recommend the reusable badge, however I would be happy to check the artifacts again and accordingly update my recommendation if the setup issues mentioned below can be resolved:

## Comments:

- Please also include simple instructions for inst

[2020-06-18 23:51] softwareArtifactsEvaluator commented on #69
_Applying for: **Available**, **Functional**, **Reusable**_

Thank you for submitting the artifacts and congratulations on the paper!

### Minor Suggestion

The first time I tried running this artifact I didn't have enough disk space, but that was probably a special case, since I was reusing a VM I had running from before. After trying it in a new VM, which had enough disk space, docker image buil

[2020-06-19 00:48] itsreallyhotoutside commented on #103
@zhangmx1997 thanks for the submission.

- [x] Available: The artifact is placed on a publicly accessible archival repository. And has a DOI.

- [ ] Functional :
    - [x] Documented: At minimum, an inventory of artifacts is included, and sufficient description provided to enable the artifacts to be exercised.

    - [x] Consistent: he artifacts are relevant to the associated paper, and contribute

[2020-06-19 02:27] liyistc commented on #106
@softwareArtifactsEvaluator Thank you for the comments and suggestions! Our responses are as follows:

* We have a missing item `BetterAuction` in the readme, and we have the file in both the artifact repo and DOI.
* The `""` and `" "` you see in the bidder column are due to bad choices of variable names from Z3. We are fixing the issue.
* The file name `run_experiment.sh` is indeed incorrect.
* T

[2020-06-19 02:59] zhangmx1997 commented on #103
If the error was `Could not find gn executable at: ~/chromium/src/buildtools/mac/gn`, you'll need to rerun `./build_jsobserver.sh --run-hooks`, and then `./build_jsobserver.sh --conf-local`. Finally try build again: `./build_jsobserver.sh -- build-local`.

[2020-06-19 05:03] itsreallyhotoutside commented on #121
@PPPI thanks for the submission

- [x] Available: The artifact is placed on a publicly accessible archival repository

Notes:

- All the code that is relevant to the paper is present in the repository and DOI has been made available with the archive.

- The paper mentions a Figshare repository which I guess has to be updated to the Zenodo link.

[2020-06-19 05:11] itsreallyhotoutside commented on #103
on running --run-hooks, I get this failure:

[E2020-06-18T22:09:14.734015-07:00 81700 0 annotate.go:241] original error: no such package
[E2020-06-18T22:09:14.734063-07:00 81700 0 annotate.go:241]
[E2020-06-18T22:09:14.734076-07:00 81700 0 annotate.go:241] goroutine 51:
[E2020-06-18T22:09:14.734092-07:00 81700 0 annotate.go:241] #0 go.chromium.org/luci/cipd/client/cipd/client.go:1690 - cipd.(*clie

[2020-06-19 07:24] liyistc commented on #106
@anon-review  @softwareArtifactsEvaluator Issues are addressed in a new pull request: https://github.com/researchart/fse20/pull/135

[2020-06-19 08:12] zhangmx1997 commented on #103
The problem might result from the use of python 3, because gclient does not work correctly on python 3.
 Could you check the output of `echo $GCLIENT_PY3`? If it was empty, you may need to manually set it as `export GCLIENT_PY3=0`, and try `./build_jsobserver --run-hooks` again.
Another possible fix is to set python2 as the default version, i.e., map python to python2 using `unlink /usr/local/bin/

[2020-06-19 09:06] a-nice-reviewer commented on #96
Adding this post to notify the authors: @Jiliac

[2020-06-19 10:52] fuzzy3456 commented on #77
Hi @YizhuoZhai,

Thanks for the reply. In the future, in case you can provide a Dockerfile, it would be very helpful for reusing UBITect. Now UBITect seems to be system-dependent.

Actually, I have (locally) created a Dockerfile (see code below) to install the dependencies mentioned in the installation instructions of UBITect, and I tried to run it. However, I get the following error message.

`FR

[2020-06-19 11:45] fuzzy3456 commented on #97
Authors,

Thank you for your submission.

This paper applies to get the **Available** badge. According to the ACM guidelines (https://www.acm.org/publications/policies/artifact-review-badging) for the **Available** badge, the paper should satisfy the following criteria.

- The artefact should be relevant to this paper.
- The artefact should have been placed on a publically accessible archival repo

[2020-06-19 13:28] ziqi-zhang commented on #97
Hi,

We have pulled a request with the DOI in the README file. We put our code on https://zenodo.org/record/3901405#.Xuy9MJ4zYUF with a public DOI: 10.5281/zenodo.3901405.

[2020-06-19 14:10] fuzzy3456 commented on #108
Authors,

Thanks for your submission.

In the following, I attach my comments regarding the badges (available, functional, reusable) this paper applies for.

### Available

According to the ACM guidelines (https://www.acm.org/publications/policies/artifact-review-badging) for the **Available** badge, the paper should satisfy the following criteria.

- The artefact should be relevant to this paper.

[2020-06-19 14:20] softwareArtifactsEvaluator commented on #97
Thanks for the quick response @ziqi-zhang, could you please also add a LICENSE.md file in your pull request?

[2020-06-19 16:00] rangeetpan commented on #108
Hi @letmecheckthat and @fuzzy3456 ,
Thank you for the valuable feedback. Based on the review, I have updated the INSTALL.md and the requirements file. There is a problem to update the files in the researchart/fse20 while creating a pull request (taking a huge to check the compatibility of the pull request). The updated files are present in the source code [repository](https://github.com/rangeetpan

[2020-06-19 17:29] YizhuoZhai commented on #77
Hi @fuzzy3456:
Thanks for your effort, I've created a Dockerfile and it's under testing, let me post it here as soon as I have done. Thanks : )

[2020-06-19 18:54] anon-review commented on #94
✅ Available
❓ Functional

**Available**

- Publicly accessible on an archival repository (Figshare) with DOI
- Downloadable Docker image archive is loadable
- Author-provided sanity check works as reported

**Functional**

✅ Documented

Item inventory is included. All items listed appear to be present **except** `/src/SVF-dynamic` (source code for PSPA analysis). This folder does not seem to exist

[2020-06-19 19:22] RandomlyGeneratedReviewerAccount commented on #119
Hi Authors,

Overall the documentation you provided goes into details in terms of installation, set-up the environment, and running the tool. I also appreciate the fact that a docker container is made available. However, there are several serious issues with the availability of the artifacts.

## Recommend Badges: None (Requires Available Artefacts)

### Available
The artifacts should be uploaded

[2020-06-19 19:52] AnonReviewer626 commented on #124
@GiovaniGuizzo

This is a WIP summary describing my progress in analyzing this artifact thus far. I may update it based on feedback from the authors.

## Available

I approve this badge. I tested the DOI and it works.

## Functional

- Due to the cost of the experiments) I have not attempted to replicate the authors' results in full. The `commandqueue.txt` file does indeed contain 1500 lines that

[2020-06-19 20:09] RandomlyGeneratedReviewerAccount commented on #115
Hi Authors,

I agree with @blind-reviewer-2 on the quality of this submission.
I appreciated the very detailed documentation (step-by-step), the organization of the code and result folders, and the description of the output.

## Recommend Badges: Available, Functional, Reusable (after update)

### Available
Following @blind-reviewer-2's comments, I do see that the authors have uploaded the artifac

[2020-06-19 21:02] AnonReviewer626 commented on #93
I congratulate the authors on this ingenious project.

## Available

The DOI works, so we can award this badge.

## Functional

I am willing to award this badge but would like to see some nits addressed.

- Documentation -- good.
- Consistent -- yes
- Complete -- yes
- Exercisable -- Mostly

re: Exercisable...

1. I have trouble matching the paragraph "Bugs found only by PQS" to the output of the

[2020-06-19 21:10] gousiosg commented on #98
Thanks for the reviews!

@z-sh please update the structure of the replication package as per instructions from @iamnotreviewer2

[2020-06-19 21:14] gousiosg commented on #100
@seartifact could you please leave your comments here instead of as comments to the PR?

[2020-06-19 21:16] gousiosg commented on #101
@anon-eval excellent review, thanks!
@seartifact We would appreciate your review till Sunday EoB.

[2020-06-19 21:17] z-sh commented on #98
As I mentioned before, I don’t see an option to change the file structure in zenodo. It gas been created based on the file structure in github which i have been advised to follow

[2020-06-19 21:20] gousiosg commented on #103
Thanks for kickstarting the discussion!

@mathsandmusic We would appreciate your review till Monday morning AoE.

[2020-06-19 21:28] gousiosg commented on #109
@art-reviewer We would appreciate your review till Monday morning AoE.

[2020-06-19 21:29] gousiosg commented on #110
@HappyReviewer We would appreciate your review till Monday morning AoE.

[2020-06-19 21:30] gousiosg commented on #111
@iamnotreviewer2 We would appreciate your review till Monday morning AoE.

[2020-06-19 21:31] gousiosg commented on #112
@blind-reviewer-2 Excellent review!
@allyourvirtualmachinesarebelongtous We would appreciate your review till Monday morning AoE.

[2020-06-19 21:32] gousiosg commented on #113
@a-hopefully-friendly-reviewer We would appreciate your review till Monday morning AoE.

[2020-06-19 21:32] gousiosg commented on #114
@reviewer3 and @HappyReviewer We would appreciate your reviews till Monday morning AoE.

[2020-06-19 21:33] gousiosg commented on #115
@blind-reviewer-2 Excellent review!

[2020-06-19 21:34] gousiosg commented on #116
It is like a GitHub repository: you add comments and update the contents of your artifacts with a PR anytime within the review time line

[2020-06-19 21:35] gousiosg commented on #116
@HappyReviewer We would appreciate your review till Monday morning AoE.

[2020-06-19 21:37] blind-reviewer-2 commented on #115
Thank you @RandomlyGeneratedReviewerAccount for pointing out the DOI. I have found it and updated my review.

[2020-06-19 21:38] gousiosg commented on #117
@rac00n99 We would appreciate your review till Monday morning AoE.

[2020-06-19 21:44] gousiosg commented on #120
Great question. As the short description of the functional badge mentions: "Available + Artifacts documented, consistent, complete, exercisable, and include appropriate evidence of verification and validation". If they satisfy those properties as analysed in the [artifact reviewing guide](https://www.acm.org/publications/policies/artifact-review-badging) I would say yes.

@kstolee ?

[2020-06-19 21:46] gousiosg commented on #120
@a-hopefully-friendly-reviewer We would appreciate your review till Monday morning AoE.

[2020-06-19 21:47] gousiosg commented on #121
@seartifact We would appreciate your review till Monday morning AoE.

[2020-06-19 21:48] gousiosg commented on #123
@art-reviewer and @iamnotreviewer2 We would appreciate your reviews till Monday morning AoE.

[2020-06-20 00:03] RandomlyGeneratedReviewerAccount commented on #91
Hi Authors,

Thanks for submitting and contributing to open science.
I appreciate the author's effort in documenting their artifacts and providing the steps for replication.
Unfortunately, there are serious issues in how to set up the environment that do not allow the functional and reusable badge.

### Recommend Badge: Available

#### Available
Following @FSEArtifactReviewer835 comments, the auth

[2020-06-20 02:34] FSEArtifactReviewer835 commented on #122
I agree, I think both Available and Reusable are appropriate badges.

[2020-06-20 02:54] RandomlyGeneratedReviewerAccount commented on #80
Hi Authors,

Thanks for submitting and contributing to open science.
Overall, the documentation appears to be well curated, however there are some issues that do not allow me to replicate the results.

### Recommended Badge: Available

#### Available
The authors uploaded the artifacts on an archival system with DOI.

#### Functional
Overall, the documentation appears to be nice and complete, howev

[2020-06-20 03:24] FSEArtifactReviewer835 commented on #105
Okay, on running it with the updates I see 2 issues.

1) The data path is hardcoded to a windows style format for _PGD_div_driving.py and _CW_div_driving.py  (see data_dir = r'data\udacity_self_driving_car').  It should be able to run on other systems (I'm using Linux and was able to quick fix this with data_dir = r'data/udacity_self_driving_car', but this should be more robust).
2) Even after fix

[2020-06-20 03:45] Jethro85 commented on #91
Hello reviewer,

Thanks for your feedback.

Here is the new 'requirements.txt':
[requirements.txt](https://github.com/researchart/fse20/files/4807303/requirements.txt)
(I just deleted: mkl-fft==1.0.15, mkl-random==1.1.0 and mkl-service==2.3.0)

I run the experiments on ubuntu 18.04 and python 3.7. (I also tested on python 3.6 and it can also work on my machine). So when you pull the docker, please

[2020-06-20 04:37] Jacob-yen commented on #119
To @AEreviewer ‘s comments:：

Thanks for reviewing our artifacts.
We are sorry that we misunderstood the instructions on the FSE webpage. That is, we mistakenly think that only applying for an available badge requires DOI but applying reusable badge does not. We list the DOI links of our artifact and dataset as following:
dataset: https://doi.org/10.5281/zenodo.3898482
artifact: https://doi.org/10

[2020-06-20 04:39] Jacob-yen commented on #119
To @RandomlyGeneratedReviewerAccount  ‘s comments:

Thanks for reviewing our artifacts. I am sorry that we did not put the link of LEMON's repository in `README.md`. Instead, we released the link in `CONTACT.md` which may have caused you to not find our repository. You can also visit LEMON's homepage from the link below：
https://github.com/Jacob-yen/LEMON

The DOI links of our artifact and dataset

[2020-06-20 05:29] seartifact commented on #101
Hi Authors,

Overall the documentation you provided goes into details in terms of installation, set-up the environment, and running the tool.

## Available
The artifacts is uploaded to Zenodo.

## Functional
The installation of packages ran perfectly well. I could also run the experiments as the scripts were provided by the authors.

## Reusable
The quality of the documentation is good. Authors pr

[2020-06-20 06:23] seartifact commented on #100
Hi @alexkamp,

Hi Authors,

Overall the documentation you provided goes into detail in terms of installation, set-up the environment, and running the tool.

## Available
Please upload the artifact to Zenodo. Currently, the artifacts (along with data collected after running the experiments) are hosted in Google cloud.

## Functional
I had trouble setting up the artifact. The README is detailed, but

[2020-06-20 07:40] Jiliac commented on #96
Hi @a-nice-reviewer. Thanks for your review!

Concerning the Replicated badge, the FSE instructions say:

Thus, we understood that pointing to an existing replication was sufficient: Our results were confirmed and replicated by an independent team at Google. The FuzzBench website includes a section on how to run the full benchmark on a specific fuzzer: https://google.github.io/fuzzbench/running-yo

[2020-06-20 07:45] seartifact commented on #75
Hi @yamizi,

Overall the documentation you provided goes into detail in terms of installation, set-up the environment, and running the tool.

I tried installing the artifact on Ubuntu 18.10 with 16GB RAM.

## Available
The artifact is uploaded to Zenodo

## Functional
I had trouble setting up the artifact. The README is detailed, but I couldn't get it to run.

I ran into the same challenges as des

[2020-06-20 08:56] YizhuoZhai commented on #77
Hi @fuzzy3456
I'm working on the Dockerfile and wonder when you expect to get it.

[2020-06-20 09:52] AEreviewer commented on #95
cc @kfriedberger

I have used the provided guidelines to check the different aspects of the artifact. Overall, it is quite good but there are some issues in the artifact and it misses some documentation elements to be qualified as reusable (see comment below).

- [x] Available: The artifact is placed on a publicly accessible archival repository and has a DOI.

- [x] Functional:
  - [x] Documented:

[2020-06-20 10:10] AEreviewer commented on #119
cc @Jacob-yen

I have used the provided guidelines to check the different aspects of the artifact. Overall, it is good but it misses some documentation elements on the dataset used, and on the extension procedure to be qualified as reusable (see comment below).

- [x] Available: The artifact is placed on a publicly accessible archival repository and has a DOI.

- [ ] Functional: **I could not exec

[2020-06-20 10:49] sumonbis commented on #80
Hi @RandomlyGeneratedReviewerAccount,

Thanks for your review. I have fixed the issues and updated the documentation. I have tested it on Mac OS. Let me know if it works. Otherwise, I can provide Anaconda environment file (.yml) where the packages are already installed. Here are the responses:

Yes, you are correct. The correct path should be `ML-Fairness/src/models/ `. I have updated this in the

[2020-06-20 11:10] alexkamp commented on #100
hi,

I am probably to late, as you already merged it, but let me still comment. I've updated the version in my repo, but as my pull request is merged already, I am unsure if and how I can still submit the updated version.

Regarding your comments:
* Ubuntu box: I am surprised by this. It is running on a mac for me. Why do you think it requires ubuntu?
* there is a requirements.txt now.
* It is har

[2020-06-20 12:01] GiovaniGuizzo commented on #124
cc: @AEreviewer,

Thanks for you review of our artifact.

---

### Comment 1

#### Answer 1

Unfortunately, there is no straightforward way of declaring an associative array in `bash 3.x`. I will add to the `INSTALL.md` file, in the dependencies section the following:

With that, the user will be aware of the limitations of the `declare -A` command and hopefully update their bash.

---

### Commen

[2020-06-20 12:02] GiovaniGuizzo commented on #124
cc: AnonReviewer626

Thank you very much for your careful review. Next, I'll answer each of your comments with proposed changes. Feel free to ask me for more info.

---

### Comment 1

#### Answer 1

Thank you.

---

### Comment 2

#### Answer 1

Ok. Thanks for checking.

---

### Comment 3

#### Answer 3

Indeed, this is not the correct delimiter for Unix systems. The `;` is a Windows delimiter f

[2020-06-20 12:28] GiovaniGuizzo commented on #124
cc: @AEreviewer and @AnonReviewer626

A sneak peek of how the documents will look like can be see on the `revision` branch of my repository [here](https://github.com/GiovaniGuizzo/fse20/tree/revision/submissions/reusable/fse-533).

I have also updated the files in the experimental package. The temporary package can be found [here](https://liveuclac-my.sharepoint.com/:u:/g/personal/ucacggu_ucl_ac_u

[2020-06-20 12:37] mathsandmusic commented on #62
cc @mboehme

I agree that the artifact meets the requirements for the Available badge. The authors provide a  repository that has a DOI, and contains the data set and the scripts used for the study. I agree with the @AEreviewer that some basic guidelines on how to run the evaluation would be very helpful for those who wish to use the data.

Overall, I think that the paper deserves the availability

[2020-06-20 15:34] mathsandmusic commented on #67
cc @BobbyRBruce

I was trying to build the app with based on the README file that exists in the "jshrink" folder but I cannot. The problem seems to be related to the compilation of Soot. Maybe some more specific guidelines are needed about this.

[2020-06-20 16:09] reviewer3 commented on #95
Sadly, I do not have access to another machine that I can set this up on.
After one output of `WARNING - CPU throttled itself during benchmarking due to overheating.` it seemingly hangs.

[2020-06-20 16:23] reviewer3 commented on #95
I agree with @AEreviewer, particularly on making the artifact easier to assess (e.g., via a Docker container), although I am unable to verify "functional" at this point. Nb. that the Docker container would likely not relax CPU restrictions I finally ran into -- this might just be dependent on the nature of this artifact.

[2020-06-20 16:25] mathsandmusic commented on #64
cc @a-nice-reviewer

Indeed great work by the authors. The guidelines are straightforward and the structure of the repository meaningful. Kudos for the AWS instance!

I am also in favor of giving both badges.

[2020-06-20 16:32] reviewer3 commented on #114
The artifact contains a DOI, has an open license, and follows the artifacts structure guidelines set out by FSE. Available can be granted, review can continue.

[2020-06-20 16:49] reviewer3 commented on #114
Lower memory limit is 20GB. I have no machine to verify this on at this point.

[2020-06-20 17:21] reviewer3 commented on #82
This submission does not fulfill fundamental submission criteria (missing availability, DOI). It is also missing an index.md file. Since it does not fulfill requirements of the available badge, no further badges could be considered.

[2020-06-20 17:26] fabriceyhc commented on #105
I appreciate the concern for code being OS-agnostic so I've corrected the path formatting accordingly.

Evidence of correctness in Linux:

![image](https://user-images.githubusercontent.com/4616809/85207740-ca515380-b2df-11ea-817d-d87d1bb0ee8f.png)

Preserved functionality on Windows:

![image](https://user-images.githubusercontent.com/4616809/85207767-0389c380-b2e0-11ea-9915-1268ea4e3648.png)

Ne

[2020-06-20 17:29] rtrimana commented on #114
Basically one can set the Vagrant memory to as low as 4GB. We put 25GB for Vagrant just to be safe  since JPF is set to use up to 20GB, but it can be changed in the Vagrant config file.

JPF is set to run with up to 20GB. It still can run flawlessly with lower amount of memory like 4GB. 20GB is just a cap. For the example testcases per our manual, it should be able to run flawlessly with just 4GB

[2020-06-20 17:45] reviewer3 commented on #114
Ok, thanks for the quick respsonse, I will try running it locally first then.
Could you also indicate this in your README/Install instructions? The way I read them was that I would need that much RAM.

[2020-06-20 17:45] reviewer3 commented on #63
@shrBadihi I think this is ok (or at least I can see all material is there).

The artifact contains a DOI, has an open license, and follows the artifacts structure guidelines set out by FSE. Available can be granted, review can continue.

[2020-06-20 17:56] reviewer3 commented on #63
I am on Linux running `RunningBenchmarksOnLinux.sh` Unfortunately, I am running into the following problem:
[code]

What are the memory requirements for running this? Is there a way to lower them?

[2020-06-20 20:04] YizhuoZhai commented on #77
Hi @fuzzy3456 :

Thanks for your patience, let me first address the error you met (E: Unable to locate package libgoogle-perftools-devz E: Unable to locate package lib1g-dev), package  "libgoogle-perftools-**devz lib1g**-dev"should be "libgoogle-perftools-**dev zlib1g**-dev", that's my typo, so sorry for the inconvenience.

Now Please refer to the following code to create the Dockerfile and run th

[2020-06-20 20:54] rtrimana commented on #114
Thank you very much for your feedback. I have added further information to indicate that in this installation instruction: https://github.com/uci-plrg/iotcheck-vagrant/blob/master/README.md.

[2020-06-20 21:10] anon-review commented on #117
@mreif Thank you for your response. I followed the hints you provided and was able to run experiments. I have edited my earlier comment to check the remaining boxes. 👍

[2020-06-20 21:29] iamnotreviewer2 commented on #123
Available
- [?] Artifacts relevant to this paper placed on a publically accessible archival repository
- [x] A DOI or link to this repository along with a unique identifier for the object is provided.

The authors have placed the pdf of their paper on Figshare. I urge the authors to place the contents of the GitHub repository on Figshare.

[2020-06-20 21:41] joymallyac commented on #123
@iamnotreviewer2 I added the contents of the GitHub repository on Figshare. The link is - https://figshare.com/articles/Fairway/12521408

[2020-06-20 21:54] iamnotreviewer2 commented on #123
@joymallyac thank you! Please remember to update the DOI to the new Figshare repository. With these changes, the criteria for the Available badge are met.

[2020-06-20 22:08] joymallyac commented on #123
@iamnotreviewer2 Thanks :)

DOI for the paper - 10.6084/m9.figshare.12363347
DOI for the GitHub Repo - 10.6084/m9.figshare.12521408

[2020-06-20 23:22] iamnotreviewer2 commented on #94
[x] Available
- [x] Artifacts relevant to this paper placed on a publically accessible archival repository
Artifacts available on Figshare

- [x] A DOI or link to this repository along with a unique identifier for the object is provided.
Doi is provided

[?] Functional
- [x] Available

- [x] Artifacts are documented

Artifact structure is explained (data and source code folders) and instructions o

[2020-06-20 23:57] mathsandmusic commented on #85
cc @felicitia

Great work! The steps in the repository are straightforward and for each command you give meaningful, accompanying details. Providing a docker image was convenient too.

I am in favor of giving all three badges to this work, given that there are also corresponding DOIs that address the availability requirement.

A minor comment: the figures do not appear correctly in the README file

[2020-06-21 00:11] iamnotreviewer2 commented on #111
[x] Available
- [x] Artifacts relevant to this paper placed on a publically accessible archival repository
- [x] A DOI or link to this repository along with a unique identifier for the object is provided.

A valid DOI is provided; the artifacts are accessible on Zenodo.

[x] Functional
- [x] Available

- [x] Artifacts are documented

The authors provide an overview/information of the structure; th

[2020-06-21 00:35] iamnotreviewer2 commented on #85
[x] Available
- [x] Artifacts relevant to this paper placed on a publicly accessible archival repository
- [x] A DOI or link to this repository along with a unique identifier for the object is provided.

All criteria for the Available badge are met (figshare links provided & they work)

[?] Functional
- [x] Available

- [x] Artifacts are documented

Documentation included in INSTALL.md file (for D

[2020-06-21 02:10] AnonReviewer626 commented on #89
@chenquingrong

## Available

Yes. Has a DOI and I could download the package from it.

## Functional

I am willing to grant this badge.

- *Documented*: The documentation is reasonably detailed.

- *Consistent*: The artifacts comprise the tool and results described in $6.

- *Complete*: It appears to be.

- *Exercisable*: It appears to be. See next remarks:

I cloned the repo. "mvn compile" ran w

[2020-06-21 02:11] AnonReviewer626 commented on #89
@chenqingrong I think your handle was copied wrong earlier, I hope this sends you a notification.

[2020-06-21 04:27] seartifact commented on #69
Hi @ carminevassallo,

Overall the documentation you provided goes into detail in terms of installation, set-up the environment, and running the tool.

## Available
The artifact is uploaded to Zenodo.

## Functional
The docker file make running experiments easy to run. The scripts and the corresponding documentation works well.

## Reusable
The quality of the documentation is good. Authors provide

[2020-06-21 06:03] seartifact commented on #121
Hi @PPPI, Thank you for the submission.

The artifact is uploaded on Zenodo and is accessible.

[2020-06-21 07:34] BobbyRBruce commented on #67
@mathsandmusic : have you tried building it within our Vagrant vm?

[2020-06-21 09:35] PPPI commented on #121
I would like to thank the reviewers for checking the submission, and to confirm that indeed we will replace the Figshare link, which was used during the review process, with an unblinded doi.

Thank you for the prompt reviews!

[2020-06-21 09:56] shrBadihi commented on #63
Hi Reviewer3,

The set memory requirement for running the scripts is 16GB. It is a safe bound to ensure symbolic execution and the SMT solver can handle complex examples. This requirement can be easily modified by changing the -Xms parameter in the scripts.

You can either remove this parameter from the scripts, for the JVM to use as much memory as possible or you can set it to the memory you desi

[2020-06-21 10:20] kren1 commented on #94
The SVF-dynamic is located at `/data/dependencies/SVF-dynamic` and not at `/src/SVF-dynamic`. We apologise for this bug in the README.

[2020-06-21 11:04] mathsandmusic commented on #67
@BobbyRBruce: no I tried to install and run the tool directly into my machine. Maybe you should mention that it is preferable to run the tool through Vagrant early on.

[2020-06-21 13:21] mathsandmusic commented on #103
hello all.

I tried to setup and build JSObserver to no avail. I ran `./build_jsobserver.sh --all` but after 2 hours of fetching and syncing, the build failed at the following point:

`Failed to fetch file gs://chromium-gn/4c8c1f32cd7c08d3e217291bf35c4c97eb5b2c2c for src/buildtools/mac/gn, skipping. [Err: /path/to/fse20/submissions/reusable/fse-594/chromium/src/third_party/depot_tools/external_bin

[2020-06-21 13:34] kstolee commented on #120
Agreed. If they meet the documented + consistent + complete + exercisable, then functional would be appropriate.

[2020-06-21 13:43] kstolee commented on #62
Thanks for the reviews @AEreviewer and @mathsandmusic

[2020-06-21 13:46] kstolee commented on #63
To update the thread, @a-hopefully-friendly-reviewer is having trouble with their GitHub ID and we've contacted GitHub - review should be available one way or another on Monday.

[2020-06-21 13:50] kstolee commented on #74
@a-nice-reviewer and @blind-reviewer-2 thanks for your reviews!

[2020-06-21 13:53] kstolee commented on #76
@fuzzy3456 We would appreciate your review till Monday morning AoE.

[2020-06-21 13:55] kstolee commented on #77
@allyourvirtualmachinesarebelongtous We would appreciate your review till Monday morning AoE.

[2020-06-21 13:56] kstolee commented on #107
@HappyReviewer We would appreciate your review till Monday morning AoE.

[2020-06-21 13:56] kstolee commented on #88
@allyourvirtualmachinesarebelongtous We would appreciate your review till Monday morning AoE.

[2020-06-21 13:57] kstolee commented on #79
@allyourvirtualmachinesarebelongtous and @art-reviewer  We would appreciate your review till Monday morning AoE.

[2020-06-21 13:58] hopefully-anon commented on #120
I find the artifact for paper 542 to be **functional**

Also I applaud the authors for including the original responses in the artifact, as this data contains many details that might be useful for future analysis.

1. **Installation** :  This criteria does not apply because the artifact does not require code installation.
2. **Public Availability** : ✅ confirmed.
3. **Documentation** : ✅ Identifie

[2020-06-21 13:58] kstolee commented on #84
@art-reviewer and @allyourvirtualmachinesarebelongtous We would appreciate your review till Monday morning AoE.

[2020-06-21 13:59] hopefully-anon commented on #113
✅ I find this artifact to be **Resusable**  (fulfills all requirements for functional and is especially well-documented)

🟡 It appears that the authors are ***not*** applying for the **Available** badge and I could not find a DOI link.

Summary:
1. **Installation**  ✅ : Software was straightforward to download and run.
2. **Public Availability** :
3. **Documentation** ✅ : Explains the contents of

[2020-06-21 14:02] hopefully-anon commented on #68
@Alan-Cha

Until the installation dependencies are identified and updated, I can only recommend the **available** badge.   Further, could you clarify what OS and `npm` version this should work for?

Specifically, am struggling to get **_verification_** running on a clean copy of **Ubuntu 18.04** after upgrading `npm` to version 6.14.5

@anon-eval, if you have the missing dependencies for FSE-24 ha

[2020-06-21 14:03] kstolee commented on #96
@AnonReviewer626 We would appreciate your review till Monday morning AoE

[2020-06-21 14:04] hopefully-anon commented on #67
Thank you for your artifact submission.

I find this artifact to be **functional**, with some room for improvement in the installation and documentation.

1. **Installation** 🟡 : Installation was challenging.  The default install fails to compile because of missing `pom.xml`  dependencies on a clean AWS Ubuntu 18.04 install.
2. **Public Availability** : ✅Yes.
3. **Documentation** :🟡 The tools has

[2020-06-21 14:05] kstolee commented on #94
Thanks for the reviews @anon-review and @iamnotreviewer2 . Does the above comment help resolve the issues regarding _exercisable_?

[2020-06-21 14:09] kstolee commented on #92
Thanks for great reviews @RandomlyGeneratedReviewerAccount and @blind-reviewer-2. Kudos to the authors for creating reusable artifacts!

[2020-06-21 14:09] hopefully-anon commented on #63
Unfortunately, I do not find this artifact merits **reusable**, and currently can only recommend the **available** badge because of installation challenges.

**_If the authors (@shrBadihi ) or other reviewer (@reviewer3) can provide assistance with getting the code to run, I could re-evaluate._**

Please find below:
1. specific suggestions to help improve this artifact so it might be considered *"

[2020-06-21 14:13] kstolee commented on #80
@rac00n99 We would appreciate your review till Monday morning AoE.

[2020-06-21 14:13] kstolee commented on #81
@AnonReviewer626 and @anon-review We would appreciate your review till Monday morning AoE.

[2020-06-21 14:14] kstolee commented on #82
@AnonReviewer626 do you concur with the assessment by @reviewer3 ?

[2020-06-21 14:20] kstolee commented on #82
On second look, @reviewer3, the authors are applying for reusable only, which does not depend on the available badge according to the [ACM reviewing guidelines](https://www.acm.org/publications/policies/artifact-review-badging).

@gousiosg do you have thoughts on this?

[2020-06-21 14:25] kstolee commented on #85
Thanks for the reviews @iamnotreviewer2 and @mathsandmusic . I'd like to see if @felicitia is able to address or explain the issues related to running the notebooks to see if Functional/Reusable can be earned.

[2020-06-21 14:26] kstolee commented on #87
@art-reviewer We would appreciate your review till Monday morning AoE.

[2020-06-21 14:30] kstolee commented on #90
@HappyReviewer We would appreciate your review till Monday morning AoE.

[2020-06-21 14:43] reviewer3 commented on #82
@kstolee It does not?

https://2020.esec-fse.org/track/esecfse-2020-artifacts

Functional = Available + ...
Reusable = Available + Functional + ...

[2020-06-21 15:20] AnonReviewer626 commented on #82
The [ACM's badging policy](https://www.acm.org/publications/policies/artifact-review-badging) states (emphasis added):

**Artifacts Evaluated** *(functional or reusable)*
This badge is applied to papers whose associated artifacts have successfully completed an independent audit. Artifacts *need not be made publicly available* to be considered for this badge. However, they do need to be made availa

[2020-06-21 15:34] felicitia commented on #85
Thank you all for the quick responses!

@mathsandmusic
Thank you for your feedback and kind words!

Regarding your comment, good catch! I just noticed that I only submitted those required markdown files and forgot to submit the figures... Sorry about that. Please let me know if it's necessary to upload the figures and I'll do that.

@iamnotreviewer2
Thank you for your feedback and the detailed che

[2020-06-21 15:44] AnonReviewer626 commented on #124
@GiovaniGuizzo

1. To clarify during the revision process (I think that's scheduled for this coming week-ish)...have you addressed all concerns raised by @AEreviewer and myself, or are you still working on some things?

2. Thanks for the information re: Experimental Configuration. This would also be good information to add to the camera-ready. FSE has the wonderful policy of increasing the page li

[2020-06-21 15:55] josepablocam commented on #118
@letmecheckthat and @a-nice-reviewer

Thank you both for your feedback. We have just submitted a pull request that should address these points (https://github.com/researchart/fse20/pull/138).

* We revised our INSTALL and README files to clarify the purpose of each, disambiguate sections, and reference each other where relevant.
* We included instructions in both files to guide users through resiz

[2020-06-21 16:03] iamnotreviewer2 commented on #94
Hello @kstolee. Yes, the comment addresses the completeness criterion.

Please keep in mind though that although the code is running, the experiments had to be interrupted (it took too long). If this is not problematic, then exercisable is OK as well, thus all criteria for the Functional badge are met.

[2020-06-21 17:38] letmecheckthat commented on #118
Thanks, @josepablocam, for the updates; I'm good to sign off on this with the requested badges.

[2020-06-21 18:05] letmecheckthat commented on #108
Thanks @rangeetpan for updating the instructions. It looks like several prior issues still persist; I redid the setup from a fresh Python 3.7.1 environment and found at least the following:

- The command suggest for installing requirements is not valid; the proper syntax is `pip install -r requirements.txt`
- The packages `sklearn` and `skimage` have been renamed and are either not at all availab

[2020-06-21 18:29] letmecheckthat commented on #105
Thanks for the updates. Can confirm the above functionality (`_CW_div_driving`) works on Windows from a fresh setup. I'm good for Reusable + Available (and Functional, naturally).

Please note one minor issue: I had to use the following command (from PyTorch's website) on Windows to install PyTorch & TorchVision:
```pip install torch==1.5.0+cu101 torchvision==0.6.0+cu101 -f https://download.pytorc

[2020-06-21 18:37] AnonReviewer626 commented on #82
Here is my review:

## Available

This badge cannot currently be granted, as no DOI is available.

## Functional

I recommend we grant this badge, per the four conditions of the ACM guidelines. I have some requests for improvement, listed in the appropriate sub-heading.

### Documented

- I was able to follow the INSTALL instructions.
- I looked at Table 2 and opted to run only the Schedule benchm

[2020-06-21 18:38] HappyReviewer opened #139 "Invalid path due to colon"
The colon character is invalid on Windows, this prevents checkout on the full report. Can you rename?

[code]

https://github.com/researchart/fse20/tree/master/submissions/available/Artifact%20for%20the%20ESECFSE%202020%20Paper:%20An%20Empirical%20Analysis%20of%20the%20Costs%20of%20Clone-%20and%20Platform-Oriented%20Software%20Reuse

[2020-06-21 19:09] iamnotreviewer2 commented on #85
thank you for your response @felicitia! I was able to run the notebook successfully. Since everything is OK, the criteria for the Functional and Reusable badges are met.

My advise is to clean up those folders since they don't have to be in your artifacts.

[2020-06-21 19:16] dah-fari7009 commented on #63
Good morning !
Thank you for your insightful comments/suggestions. We will make sure to include more details to the README. We were unaware that the required version of Javafx is no longer available under Oracle or Canonical, as we never ran into this issue before. We can update the tool not to include this dependency and use SystemUtils instead (already included in the dependencies)  and send you

[2020-06-21 19:24] HappyReviewer commented on #116
The status of this artifact is for the "reusable" badge. The components of the artifact to evaluate are the analysis scripts + data, the usable application for the experiment, and tasks. The application used for the experiment is available as a Docker container.

### Documented

I followed the README as a way to navigate the submission.

### Consistent

The tests folder contains the participants t

[2020-06-21 19:30] felicitia commented on #85
Thank you for the quick reply @iamnotreviewer2 ! Yes that's a great suggestion. I'll clean up the artifact and release the clean version.

[2020-06-21 19:49] AnonReviewer626 commented on #81
Here is my review.

## Available

- No DOI, so we cannot grant this badge yet.
- In STATUS there is a dead link to https://github.com/kupl/HOMI_public, not sure what to make of this...But a GitHub project is not archival-quality because it can be deleted by the owner.

## Functional

I think we can grant this badge if some conditions are met. See requests and concerns under the appropriate heading

[2020-06-21 19:54] HappyReviewer commented on #114
The submitted artifact is for "Understanding and Automatically Detecting Conflicting Interactions between Smart Home IoT Applications." I evaluated this submission across the recommendations dimensions.

### Documented
I was a bit thrown off at first that the folder was so sparse, the actual instructions are in a different repository. After finding it, the README is surprisingly thorough. Good job

[2020-06-21 20:03] arman2 commented on #87
I added a stanza to each directory in the public repo which explains what that directory contains and which section of the paper it corresponds to.

[2020-06-21 20:14] HappyReviewer commented on #110
This artifact is for the paper "Efficient Binary-Level Coverage Analysis." The submission is for the Reusable badge. From the STATUS file, I'm asked to check the documentation, consistency with paper, and the authors suggest that I look at reusability as well.

### Documented
The submission provides two GitHub links, one for bcov, and one for bcov-artifacts. This is a reasonable way to separate th

[2020-06-21 20:24] HappyReviewer commented on #114
Actually, I may have to just figure out a way on a personal machine to install vbox. I noticed other submissions used vbox as well, and some of these files are such that they are locked to a single provider.

[2020-06-21 20:27] HappyReviewer commented on #107
This artifact submission is for the paper. I'm actually not clear on the full spectrum of badges after reading the authors' STATUS request, so I'll leave that to the artifact chairs.

### Documented

Overall, the authors have done a great job here. The applied documentation is fantastic. Even the STATUS file is thorough and clearly written. The authors have really gone out of their way here to pro

[2020-06-21 20:43] HappyReviewer commented on #90
This submission is for "Calm Energy Accounting for Multi-threaded Java Applications." Based on the status file, the authors have requested a Reusable badge.

### Documented

Yes, the artifact is documented and the authors provide several ways to evaluate the artifact.

### Consistent

Yes, it's consistent. One suggestion is that the README might include some sample output of what the user should e

[2020-06-21 21:06] davidtr1037 commented on #94
The total time for running all the experiments is indeed long. In most of the experiments we use a timeout of one hour, but you can reduce the timeouts, and thus shorten the running time. However, this will only show that the experiments run, but the results in the paper will not be reproducible.

To reduce the timeout, do the following:
__Figure 4__
Update the value of MAX_TIME in /klee-dsa-bench

[2020-06-21 21:28] HappyReviewer commented on #114
Review is updated.

[2020-06-21 21:37] rtrimana commented on #114
Thank you so much @HappyReviewer! Just read your messages and I am glad that the issues are now resolved.

IoTCheck could have been installed without any docker/hyperV/box. We thought using a VM like Vagrant would make it extremely easier. Didnt think it would cause so much trouble in actuality.

I apologize for all the troubles you went through. And thank you so much for the positive review!

[2020-06-21 21:39] rtrimana commented on #114
Oh BTW, the command is “vagrant” not “vanguard”. So “vagrant up” and “vagrant ssh”. In case @reviewer3 is reading your update and trying them out. 🙂

[2020-06-21 22:54] FSEArtifactReviewer835 commented on #105
Okay, I pulled the newest update and the scripts that were breaking now work for me.

"The code submitted was used for the primary correlation evaluation and I did not include the jupyter notebooks used to generate Table 7 or Figures 2, 5, and 6 or the DeepXplore comparison. Would you like me to create another pull request for those items?"

I think it would be nice to include these notebooks if y

[2020-06-21 23:10] anon-review commented on #81
✅ Functional

Needs revision for Available and Reusable badges.

## Review

❓**Available**

Cannot grant this badge without a DOI link. The artefact is "available" at a Google Drive link. To be awarded the **Available** badge, it needs to be publicly accessible at an archival repository (e.g., Zenodo), and have a DOI assigned to it.

Also, to be considered "available" this artefact needs to be und

[2020-06-21 23:22] GiovaniGuizzo commented on #124
@AnonReviewer626

If I recall correctly, the revision process starts tomorrow. However, we are allowed to answer as soon as both reviewers have given their reviews. So I went ahead and addressed all of your and @AEreviewer's comments. [This comment](https://github.com/researchart/fse20/issues/124#issuecomment-646988408) contains the version with my modifications so far. I'll keep updating my "revi

[2020-06-21 23:41] HappyReviewer commented on #114
Updated, thanks. I did have one issue but I'm not clear on what caused it (if it's really a problem in your submission or due to git line endings somewhere during pull):

[code]

I opened vim and did a ``set ff=unix`` to correct.

[2020-06-22 00:00] AnonReviewer626 commented on #96
Here is my review.

## Available

I **do not** recommend awarding this badge yet. I see a DOI for the experimental dataset but not for the source code. Please obtain a DOI for the project release corresponding to the paper. GitHub projects by themselves are not archival quality.

## Functional

I **do not** recommend awarding this badge at this time. Concerns are broken down by category:

### Docu

[2020-06-22 01:09] itsreallyhotoutside commented on #103
@zhangmx1997 I tried to run it again y setting the GCLIENT and python is already linked to the standard python2.7 that ships with MacOS. Despite that I do get this error stack:

________ running 'vpython src/build/landmines.py' in '/Users/Documents/chromium'
[E2020-06-21T18:07:09.389338-07:00 51697 0 annotate.go:241] original error: no such package
[E2020-06-21T18:07:09.389382-07:00 51697 0 annota

[2020-06-22 01:14] felicitia commented on #85
Update -- I have cleaned up the artifacts and updated the Docker image to only contain the relevant code as @iamnotreviewer2 suggested. If you pull the new image again (using `docker pull felicitia/fruiter-testanalyzer`), you'll see the updated version with a clean codebase (e.g., no gui_mapper folder).

Thank you all for the hard work! :)

[2020-06-22 01:31] zhangmx1997 commented on #103
Hi, if the gn executable is missing, you'll need to rerun `./build_jsobserver.sh --run-hooks`. This will run `client runhooks` and download the gn file. Then please try with `--conf-local` and `--build-local` options again.
Please also check if there's any warning like `gclient doesn't yet support Python 3 and may not work correctly.`. If so, please set `export GCLIENT_PY3=0` and try `--run-hooks`

[2020-06-22 01:31] itsreallyhotoutside commented on #120
@SergioGarG thanks for the submission!

- [x] Available: The artifact is placed on a publicly accessible archival repository.

- [x] Functional :
    - [x] Documented: At minimum, an inventory of artifacts is included, and sufficient description provided to enable the artifacts to be exercised.

    - [x] Consistent: The artifacts are relevant to the associated paper, and contribute in some inhere

[2020-06-22 01:37] zhangmx1997 commented on #103
Can you check the output of `echo $PATH`? Mine was `/Library/Frameworks/Python.framework/Versions/3.6/bin:/Library/Frameworks/Python.framework/Versions/3.5/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/TeX/texbin:/Applications/Postgres.app/Contents/Versions/latest/bin:/Users/mingxue/seclab/observer/depot_tools:/usr/local/mysql/bin`.
There is a possibility that gclient failed to recogni

[2020-06-22 01:57] rtrimana commented on #114
Hmm, that's strange. I have just checked the repo again and I tried to do `:set ff=unix` too on vim, but there's no difference between the resulted file and the one currently in the repo. Perhaps it's just a glitch during pull that's related to git line endings as you suspected. And I have tried the build/setup flow 5-10 times and the script `setup.sh` was always fine as it's executed by the Ubunt

[2020-06-22 04:00] art-reviewer commented on #123
Recommendation: **Available**

## Summary
Fairway presents a method for building fair ML applications in two steps- (1) bias removal: training separate models on privilege group of each protected attribute and then removing 'ambiguous' data points that do not have consensus among these models, (2) multi-objective model optimization algorithm to balance fairness metrics against model accuracy.

The

[2020-06-22 04:00] art-reviewer commented on #87
Recommendation: **Available**

## Summary
eQual presents a modelling and simulation technique for early assessment of the large design space of architectural choices during software development.

The artifacts include:
1. **Code**: tool for simulation-based exploration and design assessment
2. **Datasets**: data and scripts corresponding to paper results
	1. §4.2 Effectiveness evaluation, (Fig. 5)

[2020-06-22 04:00] art-reviewer commented on #109
Recommendation: **No Badge**
_Available_, _Functional_ badges may be assigned with note- _"Artifacts include datasets, tool is excluded."_

## Summary
MAESTRO presents a tool to recommend relevant StackOverflow posts to developers by matching the failure scenario of Java Runtime Exceptions. The approach uses several techniques including an Abstract Program Graph representation suitable for matchin

[2020-06-22 04:00] art-reviewer commented on #79
Recommendation: **Available**, **Reusable**

## Summary
The paper presents a discussion on the process, expectations, trends and implications of Artifact Evaluation in the SE/PL research community, supported with detailed analysis of CFAs and reviewer surveys from several relevant conferences in the past decade. §4.3 Expectations and §5 Insights details principles, interesting perspectives and tra

[2020-06-22 04:00] art-reviewer commented on #84
Recommendation: **Available**, **Functional**
Authors are encouraged to address the questions below to justify the _Reusable_ badge.

## Summary
Docable presents an execution harness to automatically exercise software tutorials and report on their executability. An evaluation on a corpus of tutorials shows that only ~52% tutorials are indeed executable even with human annotations. This indicates a

[2020-06-22 04:46] fabriceyhc commented on #105
I've created PR #140 for this and wanted to highlight the check-in description for it:

[2020-06-22 05:01] fabriceyhc commented on #105
Great, I'm glad to hear it's working now :)

Regarding PyTorch, it looks like you have access to a GPU to run the cuda-enabled version. I mention in the install.md file:

Is this an acceptable handling for your situation? Perhaps it may be better to leave PyTorch / TorchVision out of the `requirements.txt` altogether and just reference the download link since the command changes pretty regularly a

[2020-06-22 07:21] AEreviewer commented on #124
Thank you for answering my comments @GiovaniGuizzo! I am happy with the changes.

[2020-06-22 07:29] AEreviewer commented on #95
NB: for the functional part, I only checked the data analysis with the existing results.

[2020-06-22 08:03] dah-fari7009 commented on #63
Follow-up:
In the Runner.Runner class
Line 35 : PlatformUtils.isWindows should be changed to SystemUtils.IS_OS_WINDOWS
Line 47 : PlatformUtils.isLinux should be changed to  SystemUtils.IS_OS_LINUX

SystemUtils can be obtained with `import org.apache.commons.lang3.SystemUtils;`

[2020-06-22 08:26] yamizi commented on #75
Dear reviewers @softwareArtifactsEvaluator @seartifact

Thank you for your valuable feedback. We react first to the installation issues and then to the individual questions.

***********************
* INSTALLATION ISSUES *
***********************

As we understand it, the Conda installation from the environment fails on Ubuntu because Conda attempts to set up Windows-specific dependencies. We are

[2020-06-22 09:12] ManCla commented on #112
Thanks a lot for the time you spent reviewing our artifact and for the accurate feedback!

Since the discussion is supposed to start today I have created a new pull request where we address the different remarks. Also, I have made public the original artifact repo in my own github account  (with the associated Zeonodo repository).

Please let us know if there is more we should do.

[2020-06-22 09:26] blind-reviewer-2 commented on #112
Hi Authors (@ManCla),

Thank you for Zenodo DOI. I have updated my review above to include the DOI, and change my assessment to "Available & Reusable".

Reviewer

[2020-06-22 09:28] fuzzy3456 commented on #76
Authors,

Thanks for your submission.

In the following, I attach my comments regarding the badges (available, functional, reusable).

### Available

According to the ACM guidelines (https://www.acm.org/publications/policies/artifact-review-badging) for the **Available** badge, the paper should satisfy the following criteria.

- The artefact should be relevant to this paper.
- The artefact should

[2020-06-22 09:48] mathsandmusic commented on #103
I checked the path and it was OK. I tried to run with `--run-hooks`  but it failed again:

`Running hooks:  28% (21/75) gn_mac
________ running 'vpython src/third_party/depot_tools/download_from_google_storage.py --no_resume --no_auth --bucket chromium-gn -s src/buildtools/mac/gn.sha1' in '/path/to/fse20/submissions/reusable/fse-594/chromium'
Failed to fetch file gs://chromium-gn/4c8c1f32cd7c08d3e

[2020-06-22 09:50] GiovaniGuizzo commented on #124
Thanks for reviewing my artifact. Cheers!

[2020-06-22 09:50] reviewer3 commented on #63
I have found a system on which I could test this on. Naturally, I ran into the same issue.

[code]

I then applied the "patch" provided by @dah-fari7009. PlatformUtils.isWindows is on line 39 and not 35, as posted here (accordingly for the other lines).

I then did `mvn clean package`. Unfortunately, this aborted with a whole host of different error messages

[code]

At this point, I do not have m

[2020-06-22 10:03] dah-fari7009 commented on #63
Hello,
Thank you for taking the time to apply the changes and respond to us. Please find here attached the re-built version of the jar in a zip file. Would you mind replacing the current jar under target/artifacts/Implementation_jar with the new one ?
[Implementation.zip](https://github.com/researchart/fse20/files/4812567/Implementation.zip)

[2020-06-22 10:20] zhangmx1997 commented on #103
Any chance that the `path_to_depot_tools` contains '~' ?
Also, is it possible that you are using an Anaconda python instead of the default version shipped with MacOS?

[2020-06-22 10:24] mathsandmusic commented on #103
No.

What is the output of `vpython --version`?

Python 2.7.16

No.

[2020-06-22 10:30] iamnotreviewer2 commented on #85
Thank you @felicitia , I pulled the new image and indeed it's clean. Everything looks good to me!

[2020-06-22 10:32] mathsandmusic commented on #85
Indeed. Nicely done @felicitia!

[2020-06-22 10:33] p1ndsvin commented on #76
Hello reviewer (@fuzzy3456 )

Thank you. A pull request should have been already merged that solves that issue thanks to the help of the other reviewer (blind-reviewer-2). Perhaps, you are using the previous version of the code.

Best,
Author

[2020-06-22 10:41] zhangmx1997 commented on #103
Let me verify, you have downloaded depot_tools, and prepend the `path_to_depot_tools` in PATH. Is that right?

[2020-06-22 10:46] reviewer3 commented on #95
Found a machine that I could run this on. It is currently executing.

[code]

Please make this explicit in the README. It seems an i7 on a Laptop is not enough ...

PS. How long is `recursive/Ackermann03.yml` typically running?

[2020-06-22 10:50] mathsandmusic commented on #103
Yes.

[2020-06-22 11:08] edbaranov commented on #101
Dear reviewers,

We would like to thank you for your reviews and feedback.

@anon-eval  The artifact is uploaded to Zenodo. We have updated the readme.md in the public github repository with the doi information. The readme.md in this repository (fse20) already include the doi.  Please let us know if we need to make other changes.

Thank you,
Authors

[2020-06-22 11:25] muesbeck commented on #116
Thank you for your review! Sounds like I should make clear in the documentation that the R file is the code that allows you to verify the statistics and generate the graphs. The application in the Docker images is to allow for re-use of the code to run your own replication of the study.

[2020-06-22 11:41] shrBadihi commented on #63
Hi Reviewer3 and hopefully-anon,

Thank you for your time and consideration.
I have found a quick fix for ubuntu 18 and missing javaFX which fixes the issue of the original implementaion of the artifiact (without the discussed modifcations).

[code]
Would you mind trying the above commands?

[2020-06-22 11:42] iamnotreviewer2 commented on #94
Dear @kren1 and @davidtr1037 thank you for your replies. I was able to run the scripts with the reduced run settings. Of course, I don't expect to reproduce the results this way. So, the exercisable criterion is met. Also, indicating the amount of time it took to run your experiments will be very helpful (approximations will suffice).

Concerning the complete artifacts criterion, I suggest to upda

[2020-06-22 11:47] reviewer3 commented on #114
I tried this locally (with less RAM) and it crashed my system, thanks :-1:

Now running on a more powerful system.

[2020-06-22 12:01] fuzzy3456 commented on #77
Hi @YizhuoZhai

Many thanks for the Dockerfile.

I used the Dockerfile you provide and followed your instructions to build and run the image. However, I get the following error.

`make: *** [all] Error 2
The command '/bin/sh -c apt-get update -y &&     apt-get install -y build-essential curl libcap-dev git cmake libncurses5-dev python-minimal python-pip unzip libtcmalloc-minimal4 &&     apt-get in

[2020-06-22 12:03] kfriedberger commented on #95
Dear reviewers,
we will answer some of your issues here:
- Thanks for pointing out the badly formatted markdown part in the documentation. The section looks fine when using a plain text editor.
- We agree that Docker is very useful for containerized execution on arbitrary systems. However, we explicitly decided against a Docker container or a VM for the artifact, because such a format does not cou

[2020-06-22 12:04] reviewer3 commented on #63
Why do I have to clone a separate repository to obtain the benchmarks? Why is this not mentioned in the original README?

Now the output is
[code]

[2020-06-22 12:51] GiovaniGuizzo commented on #124
@AnonReviewer626

I have followed your suggestion and created a Docker image with the minimum dependencies and installation to run the experiments and data analysis. It can be found [here](https://hub.docker.com/repository/docker/giovaniguizzo/fse20-p533-mutants).

I have also updated the `README.md` and `INSTALL.md` files with instruction on how to use the image. Next I describe the modifications

[2020-06-22 13:04] sooyoungcha commented on #81
We greatly appreciate the reviewers’ valuable comments.

---------------------------------------@AnonReviewer626-------------------------------------------------
[Q1]. Provide a DOI link for this artifact.
We added a DOI link (https://doi.org/10.5281/zenodo.3902978) for this artifact in STATUS.md. We also updated the Github link (https://github.com/kupl/Homi_public) to be accessible.

[Q2]. Please

[2020-06-22 13:07] reviewer3 commented on #114
I applaud the authors for providing a virtual box container.

Instructions would benefit from one canonical document to consult, instead of the two spread over two different repositories. Moreover, while the first part of https://github.com/uci-plrg/iotcheck is easy to understand and follow, the instructions thereafter become hard to assess and quite difficult for a reviewer. **Because of this, fo

[2020-06-22 13:12] AnonReviewer626 commented on #68
@hopefully-anon Can you provide the error messages to guide @Alan-Cha?

[2020-06-22 13:19] anon-eval commented on #102
@kripa432
Thank you for making the update. The screencast should help other users to expand the evaluation framework for more tools. Based on your changes I would recommend the `reusable` badge.

[2020-06-22 13:20] fuzzy3456 commented on #76
Thanks, @p1ndsvin. Indeed, I checked out the last version, and the above problems were solved. So, I am happy to also give the **Functional** badge to this paper.

[2020-06-22 13:29] allyourvirtualmachinesarebelongtous commented on #77
Hi @YizhuoZhai, thanks for providing the Dockerfile! This should help us a lot in attempting to reproduce the results. However, it seems like the process in my case is stuck at 20%
`[ 20%] Building CXX object tools/clang/lib/AST/CMakeFiles/clangAST.dir/ASTContext.cpp.o
[ 20%] Building CXX object tools/clang/lib/Basic/CMakeFiles/clangBasic.dir/SanitizerSpecialCaseList.cpp.o
[ 20%] Building CXX obje

[2020-06-22 13:33] allyourvirtualmachinesarebelongtous commented on #88
Recommendation: **Available** (with provisions, see below)
​​
The paper presents a large-scale fine-grained empirical study on type changes in Java. It includes the following artifacts:
​
1. Website
    - A [public website](http://changetype.s3-website.us-east-2.amazonaws.com/docs/index.html) showcasing the complete data and analysis from the paper. Sort of like an appendix to the paper.
​
2. Raw

[2020-06-22 13:33] anon-eval commented on #68
@hopefully-anon
Here are the dependencies I needed to install
[code]
Please note that the latest version of `numpy(v1.18.5)` did not work.

[2020-06-22 13:38] blind-reviewer-2 commented on #76
Hi Reviewer @fuzzy3456 , were you able to get all three packages running? If so, I would greatly appreciate the list of commands used to run the code for each package. I would like to replicate them on my own system. Up until now, even with help from the authors, I have been unable to get the systems running.

Reviewer

[2020-06-22 13:38] kstolee commented on #139
@HappyReviewer Can you put this comment in the relevant issue?

[2020-06-22 13:40] kstolee commented on #81
Related to the above comment, PR #142 was just merged

[2020-06-22 13:41] kstolee commented on #112
Relevant PR #141 merged

[2020-06-22 13:43] allyourvirtualmachinesarebelongtous commented on #77
@YizhuoZhai Further, the structure of the submitted artifact does not conform to the format described on the submission website (https://2020.esec-fse.org/track/esecfse-2020-artifacts#for-reusable-functional-and-available-badges)

Particularly, the current `README.md` should be split out to also have an `INSTALL.md` file, to separate out the concerns and to make it easier for us to review the arti

[2020-06-22 13:43] Alan-Cha commented on #68
@anon-eval @hopefully-anon Thank you so much for your feedback! I will reference the GitHub repo and add the dependencies to the `INSTALL.md`.

@hopefully-anon If you could provide the error messages, that would be very helpful!

[2020-06-22 13:44] p1ndsvin commented on #76
Dear reviewer (@blind-reviewer-2 ),

I am writing you since I learn that you want to try again to run the scripts.

I reproduced your last issue on a setup different than the suggested one, i.e. a virtual machine. The reason is that tensorflow had not enough space to be installed.

Is that your case? Have you tried to import tensorflow in Python? This would really help me.

Best,
Author

[2020-06-22 13:56] kstolee commented on #102
Great, thanks everyone! @anon-eval and @anonReviewer10000 you seem to be in agreement that the ```reusable``` and ```available``` badges are appropriate. I'll add the labels. If you have further comments or concerns, please keep the conversation going.

[2020-06-22 13:56] mrigger commented on #93
Thank you very much for the useful feedback, @AnonReviewer626! We have incorporated your comments to create an improved version of the artifact (see https://github.com/researchart/fse20/pull/143). Please find our response inline.

We carefully studied the test cases, and analyzed the reasons for the PQS bugs that could not be reproduced by NoREC. Since `unknown` is clearly misleading, we have rena

[2020-06-22 14:00] rac00n99 commented on #117
AVAILABLE: The DOI link is on Zenodo and it works. The folder of the submission shows the description of all the folders contained.

FUNCTIONAL AND REUSABLE:
After analyzed the folder and based on the previous comments of the first reviewer and the following answer, I agree with all the comments.
In particular file, the folder is well documented and well-structured and the usage of Docker simply a

[2020-06-22 14:01] rtrimana commented on #114
@reviewer3 @HappyReviewer  Thank you very much for your feedback. I apologize also for the amount of information I was trying to provide there to get the **reusable** badge.
I spent at least 2 weeks to create that extensive README file and also this [Wiki page](https://github.com/uci-plrg/iotcheck/wiki), just to make sure that every future researcher could **understand the technical detail and reu

[2020-06-22 14:02] kstolee commented on #120
Thanks @itsreallyhotoutside and @hopefully-anon for the reviews. It seems you are in agreement that this badge meets the ```available``` and ```functional``` badges. I'll add the labels. Feel free to keep the conversation going as needed.

[2020-06-22 14:05] kstolee commented on #94
There seems to be agreement on the ```available``` badge.

@anon-review how does the updated information impact your recommendation on ```functional```?

[2020-06-22 14:06] hopefully-anon commented on #63
Unfortunately, I can only recommend **available.**

Was able to make it further toward executing `RunningBechmarksOnLinux.sh` using the recommended:

[code]

However, I think there's a type in `README`:

[code]
should be:

[code]
(was missing `Implementation').

Running the `RunningBenchmarksOnLinux.sh` yields some correct behavior as well as a variety of errors:

[code]

And:

[code]

Summary: **

[2020-06-22 14:20] mrigger commented on #93
Thank you again for the feedback, @AnonReviewer626 and @a-nice-reviewer. For the discussion, I want to bring forward that there is already considerable additional evidence that the artifact is indeed functional and reusable:
* We released [SQLancer](https://github.com/sqlancer/sqlancer/) only on June 2, 2020, two days before the artifact submission deadline. As of June 22, it has been starred 464

[2020-06-22 14:21] HappyReviewer commented on #116
Hi @muesbeck, yes you're right (I see the ggplot calls in the script)! I should have checked the R script more carefully. Perhaps under README if you clarify "R script" and put what we should expect the script to output to make it easier to trace it back to the paper.

[2020-06-22 14:23] kstolee commented on #107
Thanks @HappyReviewer and @anonReviewer10000 for the reviews. I'm happy to hear the authors made this evaluation easy!

I'll add the ```available``` and ```reusable``` labels. (the [ACM reviewing guidelines](https://www.acm.org/publications/policies/artifact-review-badging) say that ```reusable``` > ```functional``` and ```available``` is independent of both).

[2020-06-22 14:27] HappyReviewer commented on #104
Hi @jacobkrueger, the title of the paper is causing an issue on Windows systems when we do a git pull. This is because the filename has a colon (#139). Unrelated to the review, but could you rename this PDF?

[2020-06-22 14:30] kstolee commented on #90
Thanks @HappyReviewer and @anonReviewer10000 for your work, and kudos to the authors for creating a high quality artifact.

I'll recommend the ```available``` and ```reusable``` badges. (the [ACM reviewing guidelines](https://www.acm.org/publications/policies/artifact-review-badging) say that ```reusable``` > ```functional``` and ```available``` is independent of both).

[2020-06-22 14:33] HappyReviewer commented on #114
Although this might be true, I can also see how it can be helpful to have them separate, since some people may be interested in the tool but not the evaluation (data). I suggest it's something the authors can consider, but in my opinion it's not a blocker for the badge.

[2020-06-22 14:42] kstolee commented on #78
Thanks for the reviews @FSEArtifactReviewer835 and @AEreviewer . I'll recommend the ```available``` badge and request that @tamnguyencs address the reviewer comments in the artifact.

@tamnguyencs can you make the requested changes? Especially the following from @FSEArtifactReviewer835 :

and the following from @AEreviewer :

[2020-06-22 14:42] jacobkrueger commented on #139
I just renamed the folder in our repository, which comprised a colon. Working on Linux here, so I forgot that this was an issue. I also shortened the folder name a bit because some Windows systems are restricted in the file name lengths due to outdated libraries git has to use.

Regarding the comments of the reviewers, just as a side note, thanks for pointing out that one dataset was missing, we w

[2020-06-22 14:45] BobbyRBruce commented on #67
Thank you for your feedback @hopefully-anon

@mathsandmusic : We will update the README to make this more clear. Did using Vagrant allow you to compile the tool?

[2020-06-22 14:49] kstolee commented on #65
Thanks for the detailed reviews, @fuzzy3456 and @blind-reviewer-2 .

There seems to be consensus that the ```available``` badge was earned.

It appears there are some issues related to the exercisability of the artifact. @chrstphlbr are you able to address these concerns?

[2020-06-22 14:50] hopefully-anon commented on #68
Perhaps I'm missing steps from the `README`?

Starting with a new AWS Ubuntu 18.04 instance:

## Installation:  upgrade `npm`

`sudo apt-get install npm`

`npm --version` yields `3.5.2`

This fails `npm ci` so I upgraded `npm`  as per the instructions here:
`https://www.digitalocean.com/community/tutorials/how-to-install-node-js-on-ubuntu-18-04`

Now `npm --version` yields `6.14.4`, so `npm ci` wo

[2020-06-22 14:52] kstolee commented on #66
@xurongchen please tag your pull requests in your comments. I've edited them to include the links.

[2020-06-22 14:56] kstolee commented on #115
Linking to PR #128 with author updates.

Thanks for the reviews, @RandomlyGeneratedReviewerAccount and @blind-reviewer-2 . It appears there is agreement that ```available``` and ``reusable``` badges were earned.

[2020-06-22 15:00] kstolee commented on #106
Thanks @anon-review and @softwareArtifactsEvaluator for the reviews, and to @liyistc for being so responsive to the comments. There seems to be consensus that ```available``` and ```functional``` were earned. Feel free to keep the conversation going if needed.

[2020-06-22 15:00] allyourvirtualmachinesarebelongtous commented on #84
Recommendation: **Reusable** (with provisions, see below)
​
## Summary
​
The paper presents an empirical study of the executability of software tutorials. It includes the following artifacts:
​
1. The software tutorials collected for this study.
2. A  harness for executing the tutorials in virtual machines.
3. Scripts to run a naive execution, providing a baseline for the paper.
4. Scripts to run

[2020-06-22 15:06] kstolee commented on #122
Thanks @letmecheckthat and @FSEArtifactReviewer835 for the reviews! And to @ForeverZyh for being so responsive.

[2020-06-22 15:09] kstolee commented on #119
@RandomlyGeneratedReviewerAccount based on the updates, are you able to recommend the ```available``` badge?

[2020-06-22 15:11] chrstphlbr commented on #65
Dear @kstolee and reviewers @fuzzy3456 and @blind-reviewer-2,

thank you for the extensive feedback on the replication package, based on which we will be able to provide better replication packages, which are in line with the ACM reviewing guidelines, going forward.
We won't be able to address the comments to fulfill the reviewer's concerns and, hence, will settle for the `available` artifact badg

[2020-06-22 15:12] kstolee commented on #100
@alexkamp you can submit a new PR with updates and link it in a comment on this issue.

[2020-06-22 15:14] khouloudgaaloul commented on #115
Dear Reviewers,

We thank you very much for your insightful reviews.
Thank you @RandomlyGeneratedReviewerAccount for recommending Available, Functional and Reusable badges. We appreciate your time reviewing our artefacts.

Concerning the reviews of @blind-reviewer-2, we appreciate your detailed reviews. We will go through the questions and comments one by one:

### Available: Thank you for notifyi

[2020-06-22 15:15] kstolee commented on #64
@a-nice-reviewer and @mathsandmusic thanks for the reviews.

Is there a DOI or are the artifacts on a publicly available repository such that the ```available``` badge is also appropriate?

[2020-06-22 15:16] xurongchen commented on #66
Thanks, I will notice that in future.

[2020-06-22 15:25] kstolee commented on #89
There seems to be agreement on the```available``` and ```functional``` badges.

Thanks for the detailed reviews, @AnonReviewer626 and @anon-eval .

@chenqingrong I suggest you update the artifact per the reviewer suggestions

[2020-06-22 15:27] Alan-Cha commented on #68
@hopefully-anon

You are right. We should also clarify that you need a GitHub personal access token and a Yelp API key in the `INSTALL.md`. I will look into that.

***

Did you install `node-fetch` in the `verification/` folder? If so, I might know what the problem is and it is related to the fact that we structured our source code as independent components.

For example, `graphql-schemas/` contai

[2020-06-22 15:28] kstolee commented on #121
Thanks @seartifact and @itsreallyhotoutside for the reviews. There seems to be consensus that ```available``` was earned.

[2020-06-22 15:34] mathsandmusic commented on #64
Hi @kstolee I did not find a corresponding DOI. The artifacts exist in the `fse20/submissions/reusable/mtfuzz/` space.

[2020-06-22 15:34] kripa432 commented on #102
Dear @kstolee

Based on the prior reviews of reviewers, should we also get `functional` badge or we are missing something?

Thanks
Authors

[2020-06-22 15:41] mathsandmusic commented on #67
Hi @BobbyRBruce. I followed @hopefully-anon 's guidelines to go on with the installation. The Vagrant approach did not go well unfortunately. I would suggest you to either remove it and propose a clean Ubuntu install or provide some details regarding setup and what to expect for each step.

[2020-06-22 16:00] hopefully-anon commented on #68
Hi @Alan-Cha,

Yes, running `npm ci` in `graphql-schemas/` and `analysis-config/` helped overcome the import problems:

Now running `npm run verify` yields:

[code]

[2020-06-22 16:01] AnonReviewer626 commented on #68
@Alan-Cha Would something like this work?

[code]

[2020-06-22 16:09] letmecheckthat commented on #105
Good point about the GPU-specific versions; I think there's a tangled issue of Windows and/or CUDA here, where the issue would exist even without a GPU (there is a `cpuonly` link on PyTorch's website as well), but that's hard to test. Maybe it's easiest to just make this a separate item. Anyways, this is an incredibly minor issue, so whatever you decide should be fine :)

[2020-06-22 16:15] AnonReviewer626 commented on #81
@sooyoungcha I see that the GitHub link is now publicly accessible. But that project does not contain the actual implementation used in the paper, just the description files included in the FSE'20 artifact repository (i.e. this repo).

So at the moment, the only place I can find your code is in the VirtualBox image.

Is it possible for you to publish your code repository as well? At the moment the

[2020-06-22 16:16] chenqingrong commented on #89
@anon-eval
Thanks for your detailed reviews!

First, cDep could be well adapted for more applications and no more dependencies are needed for that. We implement one configuration interface as in https://github.com/xlab-uiuc/cdep-fse/blob/master/src/main/java/configinterface/ConfigInterface.java. The main reason is because different projects have different configuration interfaces to get configurat

[2020-06-22 16:20] AnonReviewer626 commented on #89
@chenqingrong

Does your PR clarify these points? If not, please add them to the README.

[2020-06-22 16:22] chenqingrong commented on #89
@AnonReviewer626
Not yet. My PR currently only fixes broken links. I will update the README as well:)

[2020-06-22 16:25] allyourvirtualmachinesarebelongtous commented on #79
Recommendation: Reusable (with provisions, see below)
​
# Summary

The artifact presents the data, methodology, and analysis scripts for the paper "Community Expectations for Research Artifacts and Evaluation Processes". It includes the following artifacts

  - The artifact archive is available in a publicly accessible repository (Zenodo)

  - The archive (and GitHub repository) provides a detaile

[2020-06-22 16:27] hopefully-anon commented on #68
Installed `unzip`

[code]
and modified `verification/package.json` by replacing

[code]

with

[code]

Now `npm run verify` is running:

[code]

[2020-06-22 16:27] YizhuoZhai commented on #77
Hi @fuzzy3456 and @allyourvirtualmachinesarebelongtous
This 20% problem is because llvm/build-llvm.sh has a **make -j8** command, if your machine do not have 8 cores available, you can modify this command to **make -j4** or just **make**. Same in the Dockerfile.

I'm uploading my image to the Docker Hub as well and will post here once it's done.

@allyourvirtualmachinesarebelongtous
I'm not aware

[2020-06-22 16:28] hopefully-anon commented on #68
@AnonReviewer626

I tried the `find .`  loop approach but had problems connecting to `ibm` servers:

[code]

[2020-06-22 16:29] anon-review commented on #94
I was also able to run scripts with the suggested run settings. Agreed with @iamnotreviewer2, I am happy to grant the Functional badge.

Still, the following changes would be nice to have:
1. Update the correct path for SVF-dynamic
2. Include an approximate amount of time taken for the experiments to run
3. Include the suggestions provided by @davidtr1037  in the artefact, e.g., INSTALL.md or READ

[2020-06-22 16:32] kstolee commented on #123
Thanks @art-reviewer and @iamnotreviewer2 for the reviews, and thanks @joymallyac for your responsiveness.

I'm tentatively applying the label for the ```available``` badge.

[2020-06-22 16:34] kstolee commented on #89
@chenqingrong please link your PRs in comments that reference them. (e.g., #144)

[2020-06-22 16:36] anon-review commented on #81
@sooyoungcha  Thank you for your response. I have edited my earlier comment to grant the Available badge.

Regarding @AnonReviewer626's comments, I agree that an explicit listing of changes made to KLEE would be nice to have. But my review is not contingent on this addition.

[2020-06-22 16:38] chenqingrong commented on #89
@kstolee Thanks for the suggestion:)

@AnonReviewer626 The README changes are also merged. The related PR is #144 .

[2020-06-22 16:38] kstolee commented on #87
@art-reviewer and @rac00n99 thanks for the reviews!

I'm tentatively applying the ```available``` badge.

[2020-06-22 16:43] kstolee commented on #85
Great! I'll tentatively apply the ```available``` and ```reusable``` badges. Feel free to keep the discussion going as needed.

[2020-06-22 16:47] kstolee commented on #101
Great! I'll tentatively apply the ```available``` and ```reusable``` badges as recommended.

@edbaranov make sure you cite the artifact (using the DOI) in the References section of the paper.

[2020-06-22 16:51] kstolee commented on #97
@ziqi-zhang please link your relevant PRs in comments here. #145

[2020-06-22 16:54] kstolee commented on #94
I'll tentatively add the ```available``` and ```functional``` badges.

@davidtr1037 can you make the changes as suggested by @anon-review ? Also be sure to cite the artifact (including the DOI) in the references section of your paper.

[2020-06-22 16:59] HappyReviewer commented on #94
This submission makes me now unclear on the differences between the functional and reusable badges. Looking through the Reusable submission, what the authors have done here doesn't look all that different.

[2020-06-22 17:03] hopefully-anon commented on #68
I  recommend the **functional** and **available** badges.

The installation challenges seem to exceed those required to earn reusable.

Install 🟡 :   Challenging. The `README` instructions require further details about the Yelp API-Key process, an additional script is required to fulfill `npm` dependencies, and the `npm` version from a clean ubuntu 18.08 install needs to be upgraded, also had to m

[2020-06-22 17:25] felicitia commented on #85
Thank you very much @kstolee ! But I'm just wondering why is Functional not applied? My understanding is with Reusable, Functional should be earned by definition too, right?

[2020-06-22 17:35] itsreallyhotoutside commented on #110
@abenkhadra Thanks for the response and clearing up the documentation, use case issues and for creating a blog post to better help understand the tool and its ouput. Also, thank you for pointing me to the DOI for this artifact, that appears to be complete as well. Given the documentation and the availability and the fact that I could run the tool, I would recommend the Reusable badge be awarded to

[2020-06-22 17:38] Alan-Cha commented on #68
@AnonReviewer626 @hopefully-anon Thank you for all the suggestions! @hopefully-anon Thank you also for your perseverance in running the verification with all the changes you had to make. I apologize for the inconvenience. I am going to look into all of this and make sure that it is an easy, one-step process.

***

[code]

Unfortunately, I do not think this is the best solution as it will also look

[2020-06-22 17:52] AnonReviewer626 commented on #68
Only if the dependencies have already been partially installed ;-). However, handling this in a small script would be more appropriate.

[2020-06-22 17:52] YizhuoZhai commented on #77
Hi @fuzzy3456  and @allyourvirtualmachinesarebelongtous:

Thanks for your patience, I've uploaded my docker image, now you can use the following command to pull it to your machine, please make sure you have enough disk space(>90 GB).
[code]
Also, I've committed the required .md files and made a pull request, @kstolee could you please help me to merge to the main branch? Thanks: )

[2020-06-22 18:03] rahlk commented on #64
Hi, our apologies for not making this explicit. The link to our open-source replication package is provided in our paper (last bullet point in the introduction). It may be found here: https://github.com/ARiSE-Lab/MTFuzz

[2020-06-22 18:04] shrBadihi commented on #63
Hi reviewer3,
The folder "benchmarks" is under the [ARDiff_Equiv_Checking repository](https://github.com/shrBadihi/ARDiff_Equiv_Checking). You don't need to clone anything separately.

Can I know the system propertories of the machine you are runnnig one?

[2020-06-22 18:10] shrBadihi commented on #63
Hi hopefully-anon,

I will fix the typo!
About the error for running on the benchamrk, that is about the JPF (an underlying framework that the tool depends on) and they are few cases for IMP-S approach that JPF can not handle the code.
About the second method (benchmarks/sine/mysin/NEq/) it was also a long method that we had errors for running the tools.
Can I know whether there were more of these

[2020-06-22 18:27] itsreallyhotoutside commented on #103
@zhangmx1997 I do not have any warning about Python 3 and I tried both putting the depot_tools at the head of the path and as the only thing in the path, neither worked. I even tried to run the gclients.py directly from cmd using python 2.7, but that resulted in the same error as well. Do you maybe have a docker container with everything installed that might work?

[2020-06-22 18:37] sooyoungcha commented on #81
@AnonReviewer626
These are two files that represent the main differences between the standard KLEE and KLEE implemented in Homi. We attached two files: gitdiff_Executor_cpp and gitdiff_Executor_h
We hope the files will help the reviewer understand what changes we made.

[gitdiff_Executor_h.txt](https://github.com/researchart/fse20/files/4815003/gitdiff_Executor_h.txt)
[gitdiff_Executor_cpp.txt](ht

[2020-06-22 18:42] davidtr1037 commented on #94
We will fix the issues pointed by the reviewers, and re-upload the fixed artifact to figshare.

[2020-06-22 19:10] fabriceyhc commented on #105
I agree that it's minor, but it's also an easy thing to accommodate and potentially helpful for others down the line. Here's a new PR for it: #147

Thanks for the feedback :)

[2020-06-22 19:18] blind-reviewer-2 commented on #76
I will try one more time tomorrow using a Python virtual environment on my native machine. Hopefully that will mitigate the issues I have been encountering.

Reviewer

[2020-06-22 19:34] AnonReviewer626 commented on #81
@sooyoungcha I understand you made several changes. I am trying to understand whether you plan to publish a version-controlled repository tracking those changes, or whether you will only be providing the virtual machine?

[2020-06-22 19:36] davidtr1037 commented on #94
The changes are fixed in the PR: https://github.com/researchart/fse20/pull/148.
We will upload soon the updated README to figshare.

[2020-06-22 19:55] gousiosg commented on #98
Ok, fair enough.

[2020-06-22 20:01] hopefully-anon commented on #63
Hi @shrBadihi,  some notes on running the benchmarks below:

## Benchmarks

`RunningBenchmarksOnLinux.sh` appears to invoke `Implementation.jar` 426 times.   In 90 minutes, it completed 93 of them.

### Timeouts

11/93 of the benchmarks command hit the 300 second timeout barrier (AWS Ubuntu `t2.2xlarge` instance, 8 CPUs, 32GiB memory)

The `ARDIFF` invocation hit the 300 second timeout barrier 7 t

[2020-06-22 20:18] abenkhadra commented on #110
Awesome! thank you very much @itsreallyhotoutside and @HappyReviewer for evaluating the artifacts. Also, we would like to thank the organizers of this artifact evaluation.

Finally, we note that we have just published a [Dockerfile](https://github.com/abenkhadra/bcov-artifacts/blob/master/Dockerfile) to automate the build and installation of our artifacts. This will make things for everyone in the

[2020-06-22 20:20] shrBadihi commented on #63
Thank you for giving me all the detailed information.

Regarding runtime expectations, the average expected runtime is ~10-12 hours. I will add it to the README.

[2020-06-22 20:38] gousiosg commented on #118
Thanks @letmecheckthat and @a-nice-reviewer for your reviews! It looks like this artifact can have all 3 badges.

[2020-06-22 20:38] HappyReviewer commented on #110
@abenkhadra Thanks, it built just fine! Could you provide me with a sample `docker run` command that you'd like me to try?

[2020-06-22 20:45] HappyReviewer commented on #110
I just ended up running it like this:

[code]

Then in the prompt ran the script. I guess I should improve my docker skills. Thanks again!

[2020-06-22 20:49] FSEArtifactReviewer835 commented on #105
Okay, I took a look through the files and I see what you mean about them not being the easiest to follow.  I would be all right awarding the Available, Functional, Reusable badges with the following change:  In the main README.md file, include a section describing which Tables/Figures can be reconstructed from your main Jupyter notebook and which can't.  Essentially, a section similar to what you'

[2020-06-22 21:01] gousiosg commented on #64
(sorry for accidentally closing this issue)

@rahlk A GitHub repository is not a persistent link. Could you please link your GitHub repo with Zenondo and obtain a DOI?

[2020-06-22 21:15] ssmirr commented on #84
Thank you for your comments and suggestions. Our responses are as follows:

1) We document skipped commands and the reasoning in section 4.1 of the paper.

2) We believe skip commands does not impact the ability to reuse docable as an artifact---for our empirical evaluation, we skip commands that either are subsumed or exceed the complexity bounds of our supported annotations. For example, while w

[2020-06-22 21:20] fabriceyhc commented on #105
I've added another check-in to PR #147 to clarify in the README that certain figures / tables cannot be created from this repository with the understanding that they are ancillary to the primary correlation effort.

If this is acceptable for everyone, I'll add one more PR to revert #140 and we should have a clean repo ready to go :)

[2020-06-22 21:22] gousiosg commented on #96
A comment about _reproduced_ and _replicated_:

* To get the _reproduced_ badge, you need to have your result  _obtained in a subsequent study_. In my (and @kstolee's) interpretation, study here refers to published, peer reviewed paper. The Google replication, while could potentially be published, is not peer reviewed (in its academic sense; I guess the Google people are doing a great job in their

[2020-06-22 21:24] gousiosg commented on #83
@anonReviewer10000 and @reviewer3 would the additional information provided by the authors qualify them for the _available_ badge?

[2020-06-22 21:29] chenqingrong commented on #89
@AnonReviewer626
Thanks for your detailed reviews!

I am using the machine with CentOS 7.8.2003, 62GB memory and 40 Intel(R) Xeon(R) CPU E5-2660 v3 @ 2.60GHz. When I run the analysis, I use maven to directly build it and run it and it is faster than using the docker version. (1) The fastest program is **hdfs** and it takes around 15 minutes to finish. (2) On all programs, it takes around 3 hours.

[2020-06-22 21:38] gousiosg commented on #113
To the authors: would you also like to apply for the _available_ badge? If yes, please update your artifact with the appropriate documentation and a DOI.

[2020-06-22 21:44] rahlk commented on #64
Sure thing, here's the DOI: https://doi.org/10.5281/zenodo.3903819

[2020-06-22 21:49] SteveZhangBit commented on #113
Yes. I guess I misunderstood the requirements that if we apply for the _reusable_ badge, we don't have to do the DOI thing. We will update the documentation and the DOI very soon. Thank you very much!

[2020-06-22 23:34] sooyoungcha commented on #81
@AnonReviewer626
Originally, we were planning to provide only the virtual machine.
However, we will also consider releasing a version-controlled repository based on the reviewers' comment that the release will help other researchers.

[2020-06-22 23:53] AnonReviewer626 commented on #81
@sooyoungcha

I will approve the **functional** badge without the repo, but would prefer to see the version-controlled repository for the **reusable** badge. I view this as part of the guidelines for "reusable": *"Reuse and repurposing is facilitated"*.

If @anon-review disagrees we can discuss.

[2020-06-23 05:06] sooyoungcha commented on #81
@AnonReviewer626
We just updated the KLEE we extended to implement Homi to the git repository (https://github.com/kupl/HOMI_public/). Now, if the other researchers look the commit (https://github.com/kupl/HOMI_public/commit/956f5110705dad1676d543fb7d421dd8050f7c94), they will know what changes we made compared to the standard KLEE.

[2020-06-23 05:09] ziqi-zhang commented on #97
Hi,
I have updated LICENSE at #145 . Thanks for @softwareArtifactsEvaluator and @kstolee for reminder.

[2020-06-23 06:11] maestro-fla commented on #109
@anon-eval and @art-reviewer: Thank you for the detailed reviews. We belong to an industrial research lab, where the plan is to release our tool (MAESTRO) commercially. Hence, unfortunately the company policy does not allow us to make the source code of our tool open-source. However, to enable other researchers to study or compare with our approach, we release our artifacts as a **data repository*

[2020-06-23 07:55] zhangmx1997 commented on #103
Then can you try to delete **clang-format** and **gn** in `src/third_party/buildtools/mac/`, and copy the gn and clang-format executable file from `your_path_to_depot_tools/` to `src/third_party/buildtools/mac/`?
The build should use gn in depot_tools/.

You can then rerun the build script with `--conf-local` and `--build-local` options. No need to rerun `--run-hooks` now.

[2020-06-23 07:59] fuzzy3456 commented on #76
Hi @blind-reviewer-2, I was able to run the Python scripts in the experiments folder (as described in the `readme.md` files). According to my understanding, I assume that these experiments we should check. Right? IMHO, it would be better if there was a short tutorial with the exact steps we should execute.

As I mention in my reply above, I followed the next steps:

1. Install the requirements as

[2020-06-23 08:06] rac00n99 commented on #80
AVAILABLE: The DOI link is on Zenodo and it works. The folder of the submission shows the description of all the folders contained.

FUNCTIONAL AND REUSABLE:

Documented: Very well documented, they also provide the description on how to set the environment

Consistent and Complete: The instruction and the file is given to provide all the instruction in order to run the experiment

Exercisable: All

[2020-06-23 08:08] zhangmx1997 commented on #103
We currently do not have such a container.
We may try to provide one, but before that, could you please try to delete **clang-format** and **gn** under `src/buildtools/mac/`, and copy these two executable files from your local `depot_tools` folder? You can then run the build script with `--conf-local` and `--build-local` options. No need to rerun `--run-hooks`.

[2020-06-23 08:10] fuzzy3456 commented on #77
Hi @YizhuoZhai,

Thanks for the updates. I found this container on Docke Hub:

`https://hub.docker.com/r/anniemoon/ubitect/`

It seems that disk space could be an issue for one to exercise the UBITect, but I much appreciate your efforts!

[2020-06-23 11:43] blind-reviewer-2 commented on #76
Thank you @fuzzy3456 for your review and response to my question. I followed your instructions and I too was able to run the scripts included within the "experiments" folder.

My primary concern here is that I am unable to run all of the submitted artefacts. The authors have submitted two folders related to the case studies in their paper, and one folder regarding the experimental data and scripts

[2020-06-23 11:52] p1ndsvin commented on #76
@blind-reviewer-2 what do you mean by consistent and repeatable errors?

[2020-06-23 11:59] blind-reviewer-2 commented on #76
@p1ndsvin I have provided the exact commands that I ran to encounter the errors that I did. Every time that I have followed those commands, including updating them given your updated files and readmes, I encounter the exact same errors. They are consistent in that I always see the same errors (no environmental issues such as time of day or randomness of scripts) and they are repeatable in that fol

[2020-06-23 12:27] p1ndsvin commented on #76
@blind-reviewer-2 the following two error messages do not prevent the installation of tensorflow to proceed. However, the module not found message means that tensorflow has not been installed for some reason. Instead, on all my machine it does. But this is not because of my tool.

[code]

[2020-06-23 12:39] mboehme commented on #96
Dear anonymous reviewers @a-nice-reviewer and @AnonReviewer626,

Thank you for your detailed reviews! We are happy to make the requested changes. Please provide a concrete list of actionables and specify a reasonable deadline. After this much work on facilitating reproducibility and open-science, we sincerely hope that the AEC would at least consider our artifact for the Available badge.

Dear AEC

[2020-06-23 12:51] blind-reviewer-2 commented on #76
Please give me the exact commands that you use to produce a running version of your code. They should be independent of the system you are using, and lead me from nothing to a running version of the artefacts. I will run those commands right now.

[2020-06-23 13:15] anonReviewer10000 commented on #83
@gousiosg Yes, the new DOI link and improved repository format are sufficient for 'available'.

[2020-06-23 13:42] fuzzy3456 commented on #76
@blind-reviewer-2 Thanks for the reply and for checking the `experiments`. Right, I am checking the `DeepJanus-BNG` and `DeepJanus-MNIST` as well.

[2020-06-23 13:44] p1ndsvin commented on #76
That you @blind-reviewer-2. I will provide you the list of exact commands to run DeepJanus-MNIST shortly. Since it is not feasible to provide you anything that is system-independent, I will provide you commands that work on a freshly installed Ubuntu 18.04.

[2020-06-23 14:14] fuzzy3456 commented on #76
Thanks @p1ndsvin. Could we also have your Dockerfile for running the exact steps on Ubuntu 18.04?

[2020-06-23 14:20] fuzzy3456 commented on #97
Thanks @ziqi-zhang.

I can find the public **DOI** (10.5281/zenodo.3901405) and the **LICENSE** (https://github.com/ziqi-zhang/fse20/blob/f3998abda2e40d67989ec113340236f3460f0dc3/submissions/available/NNSlicer/LICENSE). Therefore, I update my score.

### Recommended badge

**Available**

[2020-06-23 14:25] p1ndsvin commented on #76
@blind-reviewer-2 @fuzzy3456 These are the commands I just executed on my machine and that run the tool successfully:

[code]

[2020-06-23 14:39] AnonReviewer626 commented on #96
@mboehme @Jiliac

I do not understand this request. I itemized all of my concerns in my review. The general tenor of my remarks is this: the documentation you provided does not cover many questions that a fellow scientist might ask when trying to interact with or extend your approach. Do you have additional questions about any of my notes or those of @a-nice-reviewer?

The deadline is the same as

[2020-06-23 15:15] AnonReviewer626 commented on #81
@sooyoungcha

Thanks for making the KLEE updates. Looks really helpful to future researchers!

Your README says "The following command will run our tool, Homi with the given search heuristic, to test one of our benchmarks, trueprint-5.4, for an hour once."

I ran this, and got the following result:
![image](https://user-images.githubusercontent.com/66540393/85421668-b35e6b80-b542-11ea-856d-9dcc39f

[2020-06-23 15:39] allyourvirtualmachinesarebelongtous commented on #77
Recommendation: None (yet), please address the concerns detailed below and I can revisit the recommendation.
​
## Summary
​
The paper presents tooling to apply flow-sensitive type qualifier analysis and symbolic execution to perform precise and scalable UBI bug detection. It includes the following artifacts:
​
1. The files involved in building and executing the tooling
2. Detailed instruction docu

[2020-06-23 15:40] AnonReviewer626 commented on #124
@GiovaniGuizzo

Great section, thank you. I'm assuming that the new project must use Maven? All of the larger programs have a `pom.xml`. (Should you clarify this in the README?)

Wunderbar!

- The banker example ran without a hitch. I did not try the full experimental run.
- The R analysis also worked fine. I was able to generate the slopegraph file and it matches the paper.

I assume you will be

[2020-06-23 15:50] zhangmx1997 commented on #103
@itsreallyhotoutside @mathsandmusic I reproduced the problem and below is the fix:

Step 1: $`vi http_proxy.boto`
Write the following in the file:

Step 2: $`export NO_AUTH_BOTO_CONFIG=path_to_http_proxy.boto`

Step 3: $`cd chromium/src`

Step 4: $`gclient sync —no-history`
If patch files have been applied (in `src/third_party/blink/renderer`, `src/v8`, `src/content`  and `src/build/config/compile

[2020-06-23 16:02] kstolee commented on #102
@kripa432 You are correct; this was *my* misunderstanding. You can (and you have!) earn three badges.

[2020-06-23 16:03] kstolee commented on #85
This was *my* misunderstanding; you have also earned functional. :)

[2020-06-23 16:05] seartifact commented on #100
@alexkamp

I am getting the following error.
[code]
which running ./run.sh

[2020-06-23 16:07] kstolee commented on #94
According to the reviewing guidelines, ```reusable``` applies in the following situation:
_"The artifacts associated with the paper are of a quality that significantly exceeds minimal functionality. That is, they have all the qualities of the Artifacts Evaluated – Functional level, but, in addition, they are very carefully documented and well-structured to the extent that reuse and repurposing is

[2020-06-23 16:09] kstolee commented on #97
Thanks everyone! Looks like Available has been earned.

@ziqi-zhang please make sure to cite your artifact using the DOI in the references section of your paper.

[2020-06-23 16:18] blind-reviewer-2 commented on #76
@p1ndsvin ,

Thank you for your effort in creating this list of commands. However, they are not sufficient to run the code unless the user is already sitting at a fresh installation of Ubuntu 18.04. This assumption is a threat to the functionality of your artefact. This is true of any required operating system, but I do acknowledge that Ubuntu is the best option since it is open source and therefo

[2020-06-23 16:20] Jethro85 commented on #91
Hello reviewers @FSEArtifactReviewer835 @RandomlyGeneratedReviewerAccount ,

It is the second day of the discussion session, but I still do not get any responses from you. Can my suggestions work? Are there any other problems? Hope to hear from you.

@kstolee

[2020-06-23 16:32] allyourvirtualmachinesarebelongtous commented on #112
Recommendation: Reusable

## Summary

The artifact includes necessary files, installation and execution instructions for the two case studies TAS and SAVE within the paper "Testing Self-Adaptive Software with Probabilistic Guarantees on Performance Metrics".

  - The artifact archive is available in a publicly accessible repository (Zenodo)

  - The archive (and GitHub repository) provides a detai

[2020-06-23 16:33] HappyReviewer commented on #94
@kstolee These guidelines don't help much unfortunately. If you ask reviewers to try to guess which category a submission has applied to (without peeking), I suspect most would not be able to. If you think it is clear, one suggestion might be that we go through the Reusable category one more time to determine if they are actually Reusable or should have instead been Functional.

The reason this su

[2020-06-23 16:36] HappyReviewer commented on #94
For example, #118 appears to have all three badges.

[2020-06-23 16:51] sooyoungcha commented on #81
@AnonReviewer626
[Q1]. Have you updated the VM? Where can I find this change?
Yes, we update the VM. We also attach the git change file.

![diff_homi](https://user-images.githubusercontent.com/31407515/85429887-56060100-b5ba-11ea-8de5-5d2a2d6a732d.PNG)

Before running the command (python3.7 Homi.py gm_config/1trueprint.json 3600 homi nurs:md2u 1), we recommend that the reviewer cleans in the exper

[2020-06-23 16:58] p1ndsvin commented on #76
Dear @blind-reviewer-2,

Thank you for your effort.

I would not define the requirements as a threat to the functionality of the artefact as it may diminish the quality of my work.

I believe in Open Science (as you do) but I reject the responsibility of "leading the users to errors" since all OUR efforts are towards offering an exercisable artefact.

I took the definition of exercisable from [her

[2020-06-23 17:03] ccadar commented on #94
@HappyReviewer, @kstolee, all, indeed, we had an internal discussion ourselves trying to decide for which categories to apply, and we had different opinions as well.  In the end, we thought we could have documented the artifact better, and decided not to apply for the reusable badge. I also agree that it is difficult to distinguish between functional and reusable artifacts -- my own understanding

[2020-06-23 17:03] AnonReviewer626 commented on #93
@mrigger

Thank you for your careful response to my concerns. I am happy to recommend that we grant all of the badges you requested:

*Available*, *Functional*, *Reusable*.

@kstolee @a-nice-reviewer and I now appear to be in agreement on these badges.

---------

The paper contains the sentence "While some bugs were found seconds after implementing a feature, others were found only after weeks".

[2020-06-23 17:07] AnonReviewer626 commented on #89
@chenqingrong Please ping here when #150 is landed and I will take another look.

[2020-06-23 17:08] AnonReviewer626 commented on #82
@reviewer3 Will you be able to make your review?

@vaibhavbsharma Please ping with any feedback or questions about my review.

[2020-06-23 17:16] AnonReviewer626 commented on #81
@sooyoungcha

I'm sorry, I must be looking in the wrong place for it then. Can you share the new link?

I appreciate this distinction, and I want to clarify why I am asking about this:
- I think a VM or Dockerfile really helps with *reviewing* the artifact (thank you! I am glad I did not have to build all of the benchmarks and install dependencies!).
- But for *extending* it, having the relevant v

[2020-06-23 17:51] sooyoungcha commented on #81
@AnonReviewer626
This is the new link (https://drive.google.com/file/d/1ukvyUtVLJ0ie9knvsJKTe0Ww4K6U92H_/view), where it is in the git repository (https://github.com/kupl/HOMI_public/).

Currently, the Homi directory in VM is the same as Homi_public (https://github.com/kupl/HOMI_public/) except benchmark directory and installed dependency.

[2020-06-23 17:57] RandomlyGeneratedReviewerAccount commented on #119
Hi Authors,

Thanks for reporting the DOI. Please, make sure to add it also within the documentation (and not only in this issue).

### Recommended Badge: Available

@kstolee and @Jacob-yen, I did give another try to run the code and replicate the results (in order to assign the Functional badge), after downloading the code.

Unfortunately, the process still fails, so I'm not able to run the code

[2020-06-23 18:21] kstolee commented on #113
Looks like the DOI was added in PR #151

@hopefully-anon and @anon-review can you verify that ```available``` is appropriate?

[2020-06-23 18:22] fuzzy3456 commented on #77
@YizhuoZhai thanks.

I have run the Dockerfile. For some reason, it takes too long (more than four hours) for the downloading to complete. Possibly this problem has to do with my environment. However, if this works for @allyourvirtualmachinesarebelongtous (as mentioned), I have no problem to give the **Functional** badge for this paper (in case @allyourvirtualmachinesarebelongtous wish to give thi

[2020-06-23 18:23] kstolee commented on #119
I'll tentatively apply the ```available``` badge.

@Jacob-yen please cite the artifact from your paper and include the DOI in the references section.

[2020-06-23 18:24] chenqingrong commented on #89
@AnonReviewer626
Thank you! It is just landed. Let me know if you have more questions or concerns:)

[2020-06-23 18:28] reviewer3 commented on #82
@AnonReviewer626 ?

[2020-06-23 18:29] anon-review commented on #113
@kstolee The provided DOI was **not** found by [doi.org](https://doi.org).

[2020-06-23 18:32] #139 closed

[2020-06-23 18:32] fuzzy3456 commented on #76
@p1ndsvin thanks for your efforts and the list of commands. I have run the following script. It seems that I can install all the dependencies except for `pycairo` (see the output error code).

[code]

[code]

[2020-06-23 18:36] SteveZhangBit commented on #113
I'm using figshare. It seems that to make it accessible through DOI, it has to go through some review process. Right now, it is under the review of my organization.

[2020-06-23 18:44] kstolee commented on #91
The reviewers are in agreement, at minimum, that ```available``` was achieved.

@FSEArtifactReviewer835 had previously recommended ```functional``` in their original review and was able to run the scripts

@RandomlyGeneratedReviewerAccount at your suggestion, the authors have provided a docker container for running the scripts - does this help you assess the artifact for the functional badge?

[2020-06-23 18:53] RandomlyGeneratedReviewerAccount commented on #91
Hi Authors,

@Jethro85 , please understand that reviewers have multiple artifacts to evaluate and, as you said, it is only the second day of discussion.

### Recommended Badge: Available & Functional
I appreciate the authors' effort in including a docker container. Note that the docker container would have not been necessary if you had included all the version details.

I was able to run the scrip

[2020-06-23 18:54] kstolee commented on #93
Thanks everyone!

@mrigger please cite your artifact using the DOI in the References section of your paper.

[2020-06-23 18:57] kstolee commented on #77
@YizhuoZhai can you create a DOI (using Zenodo?) for your GitHub repo so we can consider this for the ```available``` badge as well?

[2020-06-23 19:03] kstolee commented on #82
@reviewer3 functional/reusable can be evaluated independently of available. We (with @gousiosg) understand that the call indicates a dependency between available and reusable, but in the ACM guidelines, there is no dependency (which makes sense in the case of NDAs and other situations that make sharing data difficult or impossible). We kindly request that you evaluate the artifact for reusable as

[2020-06-23 19:04] kstolee commented on #113
@SteveZhangBit please ping us here when it is available.

[2020-06-23 19:07] kstolee commented on #91
Thanks @RandomlyGeneratedReviewerAccount for the super fast response! 🏎️

It appears we have agreement on the badges; @Jethro85 please cite your artifact using the DOI in the References section of your paper.

[2020-06-23 19:13] SteveZhangBit commented on #113
@kstolee Right now, we don't know how long it would take for the internal review process of our organization. If it is emergent, we would contact the administrators, or we could publish it by using another service. Do we have a deadline for this? Thanks!

[2020-06-23 19:14] kstolee commented on #113
@SteveZhangBit badge decisions will be made by July 1. We'd appreciate the artifact to be available a day in advance.

[2020-06-23 19:25] Jethro85 commented on #91
Hi reviewers,

Thanks for you fast response and thanks for your detailed review. I should be more patient. @FSEArtifactReviewer835 @RandomlyGeneratedReviewerAccount @kstolee

We will revise our repo according to your advice and submit a new pull request that should address those points. We are still pursuing the Reusable badge. Hope our new version can satisfy the 'Reusable' requirements.

[2020-06-23 19:34] kstolee commented on #110
Great discussion, all! Thanks @HappyReviewer and @itsreallyhotoutside for the detailed reviews and for responding to the authors' new information. There seems to be agreement on ```available``` and ```reusable```, which implies ```functional``` as well.

@abenkhadra please cite your artifact in your paper using the DOI in the references section.

[2020-06-23 19:45] kstolee commented on #116
It seems like the artifact meets all the criteria of the ```functional``` badge, but isn't quite up to the quality of reusable, which requires:

In particular, @anonReviewer10000 identified some missing documentation and could not fully assess the completeness of the artifact.

@HappyReviewer and @anonReviewer10000 what are your thoughts on ```functional``` for this artifact?

@muesbeck can you cr

[2020-06-23 19:49] kstolee commented on #109
@anon-eval based on the author response, can you see if the scripts are in fact exercisable? That appears to be the missing item on your review checklist.

[2020-06-23 19:52] reviewer3 commented on #63
What do you mean by system properties?